/**
 * This file provides styles for the image detail page (detail.php).
 */

#dokuwiki__detail {
    padding: 1em;
}

#dokuwiki__detail h1 {
}

#dokuwiki__detail img {
    float: left;
    margin: 0 1.5em .5em 0;
}

[dir=rtl] #dokuwiki__detail img {
    float: right;
    margin-right: 0;
    margin-left: 1.5em;
}

#dokuwiki__detail div.img_detail {
    float: left;
}

[dir=rtl] #dokuwiki__detail div.img_detail {
    float: right
}

#dokuwiki__detail div.img_detail h2 {
}

#dokuwiki__detail div.img_detail dl {
}

#dokuwiki__detail div.img_detail dl dt {
}

#dokuwiki__detail div.img_detail dl dd {
}

#dokuwiki__detail p.back {
    clear: both;
}
