/**
 * This file provides styles for all types of links.
 */

/*____________ links to wiki pages ____________*/

/* existing wikipage */
.dokuwiki a.wikilink1 {
}

/* not existing wikipage */
.dokuwiki a.wikilink2 {
    text-decoration: none;
}

.dokuwiki a.wikilink2:link,
.dokuwiki a.wikilink2:visited {
    border-bottom: 1px dashed;
}

.dokuwiki a.wikilink2:hover,
.dokuwiki a.wikilink2:active,
.dokuwiki a.wikilink2:focus {
    border-bottom-width: 0;
}

/* any link to current page */
.dokuwiki span.curid a {
    font-weight: bold;
}

/*____________ other link types ____________*/

.dokuwiki a.urlextern,
.dokuwiki a.windows,
.dokuwiki a.mail,
.dokuwiki a.mediafile,
.dokuwiki a.interwiki {
    background-repeat: no-repeat;
    background-position: 0 center;
    padding: 0 0 0 18px;
}

/* external link */
.dokuwiki a.urlextern {
    background-image: url(images/external-link.png);
    /*
    @deprecated, change since Adora Belle:
    background-image: url(../../images/external-link.png);
    */
}

/* windows share */
.dokuwiki a.windows {
    background-image: url(images/unc.png);
    /*
    @deprecated, change since Adora Belle:
    background-image: url(../../images/unc.png);
    */
}

/* email link */
.dokuwiki a.mail {
    background-image: url(images/email.png);
    /*
    @deprecated, change since Adora Belle:
    background-image: url(../../images/email.png);
    */
}

/* icons of the following are set by dokuwiki in lib/exe/css.php */
/* link to some embedded media */
.dokuwiki a.mediafile {
}

/* interwiki link */
.dokuwiki a.interwiki {
}

/* RTL corrections */
[dir=rtl] .dokuwiki a.urlextern,
[dir=rtl] .dokuwiki a.windows,
[dir=rtl] .dokuwiki a.mail,
[dir=rtl] .dokuwiki a.interwiki,
[dir=rtl] .dokuwiki a.mediafile {
    background-position: right center;
    padding: 0 18px 0 0;
    display: inline-block; /* needed for IE7 */
}
