/**
 * This file provides the main design styles for the page content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */


/*____________ section indenting ____________

.dokuwiki.page  h1 {margin-left: 0;}
.dokuwiki.page  h2 {margin-left: .666em;}
.dokuwiki.page  h3 {margin-left: 1.776em;}
.dokuwiki.page  h4 {margin-left: 3em;}
.dokuwiki.page  h5 {margin-left: 4.5712em;}
.dokuwiki.page  div.level1 {margin-left: 0;}
.dokuwiki.page  div.level2 {margin-left: 1em;}
.dokuwiki.page  div.level3 {margin-left: 2em;}
.dokuwiki.page  div.level4 {margin-left: 3em;}
.dokuwiki.page  div.level5 {margin-left: 4em;}

[dir=rtl] .dokuwiki .page h1 {margin-left: 0; margin-right: 0;}
[dir=rtl] .dokuwiki .page h2 {margin-left: 0; margin-right: .666em;}
[dir=rtl] .dokuwiki .page h3 {margin-left: 0; margin-right: 1.776em;}
[dir=rtl] .dokuwiki .page h4 {margin-left: 0; margin-right: 3em;}
[dir=rtl] .dokuwiki .page h5 {margin-left: 0; margin-right: 4.5712em;}
[dir=rtl] .dokuwiki .page div.level1 {margin-left: 0; margin-right: 0;}
[dir=rtl] .dokuwiki .page div.level2 {margin-left: 0; margin-right: 1em;}
[dir=rtl] .dokuwiki .page div.level3 {margin-left: 0; margin-right: 2em;}
[dir=rtl] .dokuwiki .page div.level4 {margin-left: 0; margin-right: 3em;}
[dir=rtl] .dokuwiki .page div.level5 {margin-left: 0; margin-right: 4em;}
*/
/* hx margin-left = (1 / font-size) * .levelx-margin */


/*____________ links to wiki pages (addition to _links) ____________*/

/* existing wikipage */
.dokuwiki a.wikilink1 {
    color: __existing__;
    background-color: inherit;
}

/* not existing wikipage */
.dokuwiki a.wikilink2 {
    color: __missing__;
    background-color: inherit;
}


/*____________ images ____________*/

/* embedded images (styles are already partly set in DokuWiki's lib/styles/all.css) */
.dokuwiki img.media {
    margin: .2em 0;
}

.dokuwiki img.medialeft {
    margin: .2em 1.5em .2em 0;
}

.dokuwiki img.mediaright {
    margin: .2em 0 .2em 1.5em;
}

.dokuwiki img.mediacenter {
    margin: .2em auto;
}


/*____________ tables ____________*/

/* div before each table */
.dokuwiki div.table {
}

.dokuwiki table.inline {
    min-width: 50%;
}

.dokuwiki table.inline tr:hover td {
    background-color: __background_alt__;
}

.dokuwiki table.inline tr:hover th {
    background-color: __border__;
}


/*____________ code ____________*/

/* fix if background-color hides underlining */
.dokuwiki em.u code {
    text-decoration: underline;
}

/* for code in <file> */
.dokuwiki pre.file {
}

/* filenames for downloadable file and code blocks */
.dokuwiki dl.code,
.dokuwiki dl.file {
}

.dokuwiki dl.code dt,
.dokuwiki dl.file dt {
    background-color: __background_alt__;
    border: solid __border__;
    border-width: 1px 1px 0;
    color: inherit;
    display: inline;
    padding: .1em .5em .2em;
    margin-left: 1em;
}

[dir=rtl] .dokuwiki dl.code dt,
[dir=rtl] .dokuwiki dl.file dt {
    margin-left: 0;
    margin-right: 1em;
}

.dokuwiki dl.code dt a,
.dokuwiki dl.file dt a {
}

.dokuwiki dl.code dd,
.dokuwiki dl.file dd {
    margin: 0;
}


/*____________ media manager ____________*/

/* some headings in the media manager should not look like headings */
#mediamanager__page h2,
#mediamanager__page h3 {
    font-family: Frutiger, Calibri, Myriad, "Nimbus Sans L", Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: __text__;
}

/* to style button-like div in _fileuploader.css to look like other buttons,
   please add '.qq-upload-button' to the according styles (which don't really exist in this template) */
.qq-upload-button {
    border: 1px solid __border__;
    background-color: __background_alt__;
    padding: 0.125em 0.4em;
}


/*____________ JS popup ____________*/

.JSpopup {
    background-color: __background__;
    color: __text__;
    border: 1px solid __border__;
    line-height: 1.2;
    padding: 0 .2em;
}

.JSpopup ul,
.JSpopup ol {
    padding-left: 0;
}

[dir=rtl] .JSpopup ul,
[dir=rtl] .JSpopup ol {
    padding-right: 0;
}
