/**
 * This file provides the main design styles for the
 * bits that surround the content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 */


/* header
********************************************************************/

#dokuwiki__header {
    margin: 1em 0 0;
}

#IE7 #dokuwiki__header {
    margin-top: 2em;
}

#dokuwiki__header .headings {
    margin-bottom: 2.1em;
}

#dokuwiki__header h1 {
    margin-bottom: 0;
    font-size: 1.5em;
}

#dokuwiki__header h1 a {
    text-decoration: none;
    color: #00c;
    background-color: inherit;
}

#dokuwiki__header p.claim {
    margin-bottom: 0;
}

#dokuwiki__header h2 {
    margin-bottom: 0;
    font-size: 1.125em;
}

#dokuwiki__header .tools {
    margin-bottom: 2.1em;
}

#dokuwiki__header .tools ul {
    margin-bottom: 0;
}

#dokuwiki__header .tools ul li {
    display: inline;
}

#dokuwiki__header form.search {
    margin: .5em 0 0;
    display: block;
}

#dokuwiki__header form.search #qsearch__in {
    width: 12em;
    margin-right: .5em;
}

[dir=rtl] #dokuwiki__header form.search #qsearch__in {
    margin-right: 0;
    margin-left: .5em;
}

#dokuwiki__header div.breadcrumbs {
    margin-bottom: .3em;
}

#dokuwiki__header div.breadcrumbs a {
    color: __existing__;
    background-color: inherit;
}


/* tools
********************************************************************/

/* make wiki links look the same as tool links in tool bars */
#dokuwiki__usertools a.wikilink1,
#dokuwiki__pagetools a.wikilink1,
#dokuwiki__usertools a.wikilink2,
#dokuwiki__pagetools a.wikilink2 {
    color: #00c;
    border-bottom-width: 0;
}

#dokuwiki__usertools a.wikilink2:hover,
#dokuwiki__pagetools a.wikilink2:hover,
#dokuwiki__usertools a.wikilink2:active,
#dokuwiki__pagetools a.wikilink2:active,
#dokuwiki__usertools a.wikilink2:focus,
#dokuwiki__pagetools a.wikilink2:focus {
    text-decoration: underline;
}

/* highlight selected tool */
.mode_admin a.action.admin,
.mode_login a.action.login,
.mode_register a.action.register,
.mode_profile a.action.profile,
.mode_recent a.action.recent,
.mode_index a.action.index,
.mode_media a.action.media,
.mode_revisions a.action.revs,
.mode_backlink a.action.backlink,
.mode_subscribe a.action.subscribe {
    font-weight: bold;
}

/*____________ user tools ____________*/

#dokuwiki__usertools {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid __border__;
    background-color: __background_alt__;
    width: 100%;
}

#dokuwiki__usertools ul,
#dokuwiki__pagetools ul {
    /* imitate #dokuwiki__site */
    margin: 0 auto;
    max-width: __site_width__;
    padding: 0 1em;
}

#IE6 #dokuwiki__usertools ul {
    width: 100%;
}

#dokuwiki__usertools ul li.user {
    float: left;
    margin-left: 0;
}

[dir=rtl] #dokuwiki__usertools ul li.user {
    float: right;
    margin-right: 0;
}

/*____________ page tools ____________*/

#dokuwiki__pagetools {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid __border__;
    background-color: __background_alt__;
    width: 100%;
    z-index: 10;
}

#IE6 #dokuwiki__content {
    margin-bottom: 1.4em;
}

#dokuwiki__pagetools ul li {
    display: inline;
    margin: 0 1.5em 0 0;
}

#dokuwiki__pagetools ul li a.action.top {
    float: right;
}

[dir=rtl] #dokuwiki__pagetools ul li a.action.top {
    float: left;
}

#IE6 #dokuwiki__pagetools ul,
#IE7 #dokuwiki__pagetools ul {
    position: relative;
}

#IE6 #dokuwiki__pagetools ul li a.action.top,
#IE7 #dokuwiki__pagetools ul li a.action.top {
    position: absolute;
    top: 0;
    right: 0;
}

[dir=rtl] #IE6 #dokuwiki__pagetools ul li a.action.top,
[dir=rtl] #IE7 #dokuwiki__pagetools ul li a.action.top {
    right: auto;
    left: 0;
}


/* sidebar
********************************************************************/

#dokuwiki__aside {
    padding-top: .4em;
    line-height: 1.2;
}

#dokuwiki__aside > .pad {
    overflow: hidden;
    word-wrap: break-word;
}

/* make sidebar more condensed */

#dokuwiki__aside h1 {
    margin-bottom: .222em;
}

#dokuwiki__aside h2 {
    margin-bottom: .333em;
}

#dokuwiki__aside h3 {
    margin-bottom: .444em;
}

#dokuwiki__aside h4 {
    margin-bottom: .5em;
}

#dokuwiki__aside h5 {
    margin-bottom: .5714em;
}

#dokuwiki__aside p,
#dokuwiki__aside ul,
#dokuwiki__aside ol,
#dokuwiki__aside dl,
#dokuwiki__aside pre,
#dokuwiki__aside table,
#dokuwiki__aside fieldset,
#dokuwiki__aside hr,
#dokuwiki__aside blockquote,
#dokuwiki__aside address {
    margin-bottom: .7em;
}

#dokuwiki__aside ul,
#dokuwiki__aside ol {
    padding-left: .5em;
}

[dir=rtl] #dokuwiki__aside ul,
[dir=rtl] #dokuwiki__aside ol {
    padding-right: .5em;
}

#dokuwiki__aside li ul,
#dokuwiki__aside li ol {
    margin-bottom: 0;
    padding: 0;
}


/* content
********************************************************************/

.dokuwiki .page {
    word-wrap: break-word;
}

/* license note in footer and under edit window */
.dokuwiki div.license {
    font-size: 93.75%;
}


/* footer
********************************************************************/

.dokuwiki .wrapper {
    margin-bottom: 2.8em;
}

#IE6 .dokuwiki .wrapper {
    margin-bottom: 1.4em;
}

#dokuwiki__footer {
    margin-bottom: 1em;
}

#IE6 #dokuwiki__footer,
#IE7 #dokuwiki__footer {
    height: 1%;
}

#dokuwiki__footer .doc {
    float: left;
}

#dokuwiki__footer .top {
    float: right;
}

#dokuwiki__footer .license {
    clear: both;
}

#dokuwiki__footer .license img {
    margin: 0 .5em 0 0;
    float: none;
}
