/**
 * This file provides style changes for small screens.
 *
 * @author Anika Henke <anika@selfthinker.org>
 */

@media only screen and (max-width: 42em) {

    .mode_show #dokuwiki__aside {
        width: 100%;
        float: none;
        margin-bottom: 1.4em;
    }

    #dokuwiki__aside > .pad {
        margin: 0;
    }

    .mode_show #dokuwiki__content {
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    .mode_show #dokuwiki__content > .pad {
        margin-left: 0;
    }

    [dir=rtl] .mode_show #dokuwiki__content > .pad {
        margin-right: 0;
    }

    #dokuwiki__header .headings {
        margin: 2.1em 0 0;
    }

    #dokuwiki__header .tools {
        margin-bottom: .7em;
    }

    #dokuwiki__header .headings,
    #dokuwiki__header .tools,
    #dokuwiki__header .tools li {
        float: none;
        text-align: left;
    }

    [dir=rtl] #dokuwiki__header .tools,
    [dir=rtl] #dokuwiki__header .tools li {
        float: none;
        text-align: right;
    }

    [dir=rtl] #dokuwiki__header .headings {
        float: none;
        text-align: right;
    }

    #dokuwiki__sitetools ul {
        padding: 0;
    }

    #dokuwiki__sitetools li {
        margin: 0 1.5em 0 0;
    }

    [dir=rtl] #dokuwiki__sitetools li {
        margin: 0 0 0 1.5em;
    }

    #dokuwiki__header div.breadcrumbs {
        margin-bottom: .7em;
    }


    #dokuwiki__header ul.a11y.skip {
        left: auto !important;
        right: 1em !important;
        top: 3.1em !important;
        width: auto !important;
        height: auto !important;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    [dir=rtl] #dokuwiki__header ul.a11y.skip {
        right: auto !important;
        left: 1em !important;
    }


}

/* /@media */
