@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: local('VT323'), local('VT323-Regular'), url(../fonts/vt.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato400.woff) format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato700.woff) format('woff');
}

body, html {
    height: 100%;
    width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

p {
    color: #444444;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 17px;
}

p.lead {
    font-size: 17.5px;
    line-height: 1.6;
    margin-bottom: 17px;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    text-align: center;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

#message {
    background-color: #000;
}

.intro-message > h1 {
    margin: 0;
    font-size: 5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    color: #e2e2e2;

}

.intro-divider {
    width: 600px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    color: #e2e2e2;
}

#terminal {
    position: absolute;
    color: green;
    float: left;
    text-align: left;
    margin-left: 50px;
}

@media (max-width: 767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    .intro-divider {
        width: 100%;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }


}

@media (max-width: 986px) {

    ul.login-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.login-social-buttons > li:last-child {
        margin-bottom: 0;
    }

}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
}

.content-section-a {
    background-color: #f8f8f8;
    padding: 80px 0;
    min-height: 600px;

}

.content-section-b {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 80px 0;
    min-height: 600px;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    border-top: 3px solid #e7e7e7;
    width: 280px;
    float: left;
}

.link {
    cursor: pointer;
}

.faq-buttons-intro {
    margin-top: 70px;
    text-align: center;
}

footer {
    background-color: #f8f8f8;
    padding: 50px 0;
}

p.copyright {
    margin: 15px 0 0;
}

#typed-cursor {
    opacity: 1;
    font-weight: 100;
    animation: blink 0.7s infinite;
}

@-keyframes blink {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.digital {
    font-family: 'VT323', cursive;
}

.a_bebida_que_pisca {

    /*Awesome blinking by Victor Scattone*/

    -webkit-animation-name: pisca;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: pisca;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: pisca;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes pisca {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes pisca {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes pisca {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

.btn {
    border-radius: 0;
}

.btn-faq {
    background-color: #000;
    color: #fff;
}

.btn-front {
    width: 150px;
}

.btn-login {
    width: 200px;
}

.btn-login:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
    border-color: #fff;
}

.btn-faq:hover {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    background-color: #000;
    color: #fff;
}

.btn-about {
    width: 70%;
}

.about {
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    height: 45px;
    cursor: default;
    padding-top: 10px;
}

.about i {
    font-size: 25px;
    margin-left: 15%;
    float: left;
}

.about span {
    float: left;
    margin-left: 25px;

}

.about1 {
    margin-top: 30px;
}

.alert-register {
    border-radius: 0;
}

.alert-login {
    width: 340px;
    border-radius: 0;
}

#container {
    margin-top: 50px;
    position: relative;
    width: 340px;
    height: 295px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

form {
    margin: 0 auto;
    margin-top: 20px;
}

label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

.login-input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}

.login-input[type=text],
.login-input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #e2e2e2;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f0f0f0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.login-input[type=text]:hover,
.login-input[type=password]:hover {
    border: 1px solid #c2c2c2;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #e2e2e2;
}

.login-input[type=text]:focus,
.login-input[type=password]:focus {
    border: 1px solid #a1a1a1;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #c2c2c2;
}

#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
    box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;
}

.login-input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}

.check {
    margin-left: 3px;
    font-size: 11px;
    color: #444;
    position: relative;
    top: -3px;
}

.login-input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #efefef;

}

.error-input {
    border-color: red;
}

.form-horizontal {
    margin-top: 60px;
}

.form-control {
    border-radius: 0;
}

.form-control:active {
    border: 0;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #a2a2a2;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(194, 194, 194, 0.6);
    outline: 0 none;
}

input[type="text"]:hover, input[type="password"]:hover {
    border-color: #eee;
    outline: 0 none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Reset for strange margins by default on <figure> elements */
figure {
    margin: 0;
}

/* Base Type Styles Using Modular Scale ---------------------- */
ul, p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    direction: ltr;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 27px;
}

h5 {
    font-size: 17px;
}


/* Correct FF custom dropdown height */
@-moz-document url-prefix() {
    form.custom div.custom.dropdown a.selector {
        height: 28px;
    }
}

.lt-ie9 form.custom div.custom.dropdown a.selector {
    height: 28px;
}

/* The Grid ---------------------- */
.row {
    width: 1140px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
}

.row.collapse .column, .row.collapse .columns {
    padding: 0;
}

.row .row {
    width: auto;
    max-width: none;
    min-width: 0;
    margin: 0 -15px;
}

.row .row.collapse {
    margin: 0;
}

.column, .columns {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative;
}

[class*="column"] + [class*="column"]:last-child {
    float: right;
}

[class*="column"] + [class*="column"].end {
    float: left;
}

.one, .row .one {
    width: 8.33333%;
}

.two, .row .two {
    width: 16.66667%;
}

.three, .row .three {
    width: 25%;
}

.four, .row .four {
    width: 33.33333%;
}

.five, .row .five {
    width: 41.66667%;
}

.six, .row .six {
    width: 50%;
}

.seven, .row .seven {
    width: 58.33333%;
}

.eight, .row .eight {
    width: 66.66667%;
}

.nine, .row .nine {
    width: 75%;
}

.ten, .row .ten {
    width: 83.33333%;
}

.eleven, .row .eleven {
    width: 91.66667%;
}

.twelve, .row .twelve {
    width: 100%;
}

/* Nicolas Gallagher's micro clearfix */
.row {
    *zoom: 1;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

@media only screen and (max-device-width: 1280px) {
    /* NavBar --- */
    /*            */
    .touch .nav-bar li.has-flyout > a {
        padding-right: 36px !important;
    }
}

/* Covering almost all ----- */

@media only screen and (max-width: 1279px) and (min-width: 768px) {
    /* NavBar --- */
    .clearing-main-right, .clearing-main-left {
        height: 100%;
        width: 40px;
        top: 0;
        border: none;
    }

    .clearing-main-right:before, .clearing-main-left:before {
        position: absolute;
        top: 50%;
    }

    .clearing-main-left {
        left: 0;
    }

    .clearing-main-left:before {
        left: 5px;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: solid 16px;
        border-color: transparent white transparent transparent;
    }

    .clearing-main-right {
        height: 100%;
        right: 0;
    }

    .clearing-main-right:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: solid 16px;
        border-color: transparent transparent transparent white;
    }
}

@media only screen and (max-width: 767px) {

    .left, .right {
        float: none;
    }

    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .row {
        width: auto;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .column, .columns {
        width: auto !important;
        float: none;
    }

    .column:last-child, .columns:last-child {
        float: none;
    }

    [class*="column"] + [class*="column"]:last-child {
        float: none;
    }

    .column:before, .columns:before, .column:after, .columns:after {
        content: "";
        display: table;
    }

    .column:after, .columns:after {
        clear: both;
    }

}

@media only screen and (max-width: 350px) {

    #container {
        width: 270px;
    }

    .login-input {
        max-width: 230px;
    }

}


@media only screen and (max-width: 360px) {

    #container {
        width: 310px;
    }

    .login-input {
        max-width: 270px;
    }

}


section {
    padding-bottom: 44px;
}

form-horizontal {
    border: 1px;
}

/*********************** FOOTER SECTION *******************/

#footer {
    background-color: #222;
    padding-top: 44px;
}

#footer a {
    text-decoration: none;
}

#footer h3 {
    font-family: 'Lily Script One';
    color: #fff;
    opacity: 0.2;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 66px;
}

#footer li {
    list-style: none;
    font-family: 'Montserrat';
    font-size: 17px;
    margin-bottom: 3px;
}

#footer li a {
    color: #fff;
}

.footer-title {
    margin-bottom: 44px;
    color: #fff;
}

#footer p {
    color: #fff;
}

#footer i {
    font-size: 18px;
    margin-left: 15px;
    color: #fff;
    opacity: 0.5;
}

#footer i:hover {
    opacity: 1;
}

.footer-social {
    margin-top: 11px;
}

#footer .newsletter-email {
    background-color: #fff;
    border: 1px solid #fff;
    height: 54px !important;
    color: #666;
    width: 100% !important;
}

#footer .newsletter-btn {
    padding: 15px;
    font-size: 16px;
    right: 0px;
    width: 130px !important;
}

#footer .green-btn {
    border-bottom: 3px solid #20a86a !important;
    background-color: #30d589 !important;
    cursor: default !important;
    text-align: center;
}


.mail-link a {
    color: #fff;
}

.mail-link {
    margin-top: 22px;
    font-size: 16px;
    margin-bottom: 44px;
}

.mail-link i {
    display: inline-block;
    padding-bottom: 6px;
    padding-right: 10px;
    opacity: 1 !important;
}


.ui-helper-hidden {
    display: none;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding: .5em .5em .5em .7em;
    min-height: 0; /* support: IE7 */
}

.ui-accordion .ui-accordion-icons {
    padding-left: 2.2em;
}

.ui-accordion .ui-accordion-noicons {
    padding-left: .7em;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
    padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #999999;
    background: #dadada;
    font-weight: normal;
    color: #212121;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    font-weight: normal;
    color: #212121;
}

a {
    text-decoration: none
}

.play {
    margin-top: 50px;
}

.play-icons {

    letter-spacing: 10px;

}

.play-icons i {
    opacity: 1;
    cursor: default;
}

.play-icons i:hover {
    color: #00cc00;
}

.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    visibility: visible;
    font-size: 13px;
    line-height: 1.5;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}

.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #00cc00;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
}

.center {
    text-align: center;
}

.dropdown dd, .dropdown dt, .dropdown ul {
    margin: 0px;
    padding: 0px;
}

.dropdown dd {
    position: relative;
}

.dropdown a, .dropdown a:visited {
    color: #00cc00;
    text-decoration: none;
    outline: none;
}

.dropdown a:hover {
    color: #5d4617;
}

.dropdown dt a:hover, .dropdown dt a:focus {
    color: #00ff00;
    border: 1px solid #00cc00;
}

.dropdown dt a {
    background: #000 url(../images/arrow.png) no-repeat scroll right 2px center;
    display: block;
    padding-right: 13px;
    border: 1px solid #00cc00;
    width: 50px;
}

.dropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
}

.dropdown dd ul {
    z-index: 999;
    text-align: right;
    direction: rtl;
    background: #000 none repeat scroll 0 0;
    border: 1px solid #00cc00;
    color: #00cc00;
    display: none;
    right: 0px;
    padding: 5px 0px;
    position: absolute;
    top: 5px;
    width: auto;
    min-width: 120px;
    list-style: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
    cursor: pointer;
}

.dropdown dd ul li a:hover {
    background-color: #002200;
    color: #00ff00;
}

.dropdown img.flag {
    border: none;
    margin-left: 2px;
}

#lang_selector {
    position: absolute;
    top: 10px;
    right: 20px;
}