#loginbox {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#loginbox {
    height: 196px;
    background: #ffffff;
    box-shadow: 0 0 1px 1px #000000;
    overflow: hidden !important;
    text-align: center;
    position: relative;
}

#loginbox form {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#loginbox p {
    margin-top: 20px;
    padding: 0 20px;
}

#loginbox .form-actions {
    padding: 14px 20px 15px;
}

#loginbox .form-actions .pull-left {
    margin-top: 2px;
}

@media (max-width: 480px) {
    #logo, #loginbox {
        width: 80%;
    }
}
