<!-- BEGIN ulist_open -->
<ul style="list-style-type: {LIST_TYPE}"><!-- END ulist_open -->
    <!-- BEGIN ulist_open_default -->
    <ul><!-- END ulist_open_default -->
        <!-- BEGIN ulist_close --></ul><!-- END ulist_close -->

    <!-- BEGIN olist_open -->
    <ol style="list-style-type: {LIST_TYPE}"><!-- END olist_open -->
        <!-- BEGIN olist_close --></ol><!-- END olist_close -->

    <!-- BEGIN listitem -->
    <li><!-- END listitem -->
        <!-- BEGIN listitem_close --></li><!-- END listitem_close -->

    <!-- BEGIN quote_username_open -->
    <blockquote>
        <div><cite>{USERNAME} {L_WROTE}:</cite><!-- END quote_username_open -->
            <!-- BEGIN quote_open -->
            <blockquote class="uncited">
                <div><!-- END quote_open -->
                    <!-- BEGIN quote_close --></div>
            </blockquote><!-- END quote_close -->

            <!-- BEGIN code_open -->
            <dl class="codebox">
                <dt>{L_CODE}: <a href="#" onclick="selectCode(this); return false;">{L_SELECT_ALL_CODE}</a></dt>
                <dd><code><!-- END code_open -->
                    <!-- BEGIN code_close --></code></dd>
            </dl><!-- END code_close -->

            <!-- BEGIN inline_attachment_open -->
            <div class="inline-attachment"><!-- END inline_attachment_open -->
                <!-- BEGIN inline_attachment_close --></div><!-- END inline_attachment_close -->

            <!-- BEGIN b_open --><strong><!-- END b_open -->
                <!-- BEGIN b_close --></strong><!-- END b_close -->

            <!-- BEGIN u_open --><span style="text-decoration: underline"><!-- END u_open -->
                <!-- BEGIN u_close --></span><!-- END u_close -->

            <!-- BEGIN i_open --><em><!-- END i_open -->
                <!-- BEGIN i_close --></em><!-- END i_close -->

            <!-- BEGIN color --><span style="color: {COLOR}">{TEXT}</span><!-- END color -->

            <!-- BEGIN size --><span style="font-size: {SIZE}%; line-height: 116%;">{TEXT}</span><!-- END size -->

            <!-- BEGIN img --><img src="{URL}" alt="{L_IMAGE}"/><!-- END img -->

            <!-- BEGIN url --><a href="{URL}" class="postlink">{DESCRIPTION}</a><!-- END url -->

            <!-- BEGIN email --><a href="mailto:{EMAIL}">{DESCRIPTION}</a><!-- END email -->

            <!-- BEGIN flash -->
            <object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000"
                    codebase="http://active.macromedia.com/flash2/cabs/swflash.cab#version=5,0,0,0" width="{WIDTH}"
                    height="{HEIGHT}">
                <param name="movie" value="{URL}"/>
                <param name="play" value="false"/>
                <param name="loop" value="false"/>
                <param name="quality" value="high"/>
                <param name="allowScriptAccess" value="never"/>
                <param name="allowNetworking" value="internal"/>
                <embed src="{URL}" type="application/x-shockwave-flash"
                       pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
                       width="{WIDTH}" height="{HEIGHT}" play="false" loop="false" quality="high"
                       allowscriptaccess="never" allownetworking="internal"></embed>
            </object><!-- END flash -->