<!-- INCLUDE mcp_header.html -->

<div class="tabs-container">
    <h2><a href="{U_VIEW_TOPIC}">{L_TOPIC}: {TOPIC_TITLE}</a></h2>

    <script type="text/javascript">
        // <![CDATA[
        var panels = new Array('display-panel', 'split-panel', 'merge-panel');

        <!-- IF S_MERGE_VIEW -->
        var show_panel = 'merge-panel';
        <!-- ELSEIF S_SPLIT_VIEW -->
        var show_panel = 'split-panel';
        <!-- ELSE -->
        var show_panel = 'display-panel';
        <!-- ENDIF -->

        onload_functions.push('subPanels()');

        // ]]>
    </script>

    <div id="minitabs">
        <ul>
            <li id="display-panel-tab"<!-- IF not S_MERGE_VIEW --> class="activetab"<!-- ENDIF --> >
            <span class="corners-top"><span></span></span>
            <a href="#minitabs" onclick="subPanels('display-panel'); return false;"><span>{L_DISPLAY_OPTIONS}</span></a>
            </li>
            <li id="split-panel-tab">
                <span class="corners-top"><span></span></span>
                <a href="#minitabs" onclick="subPanels('split-panel'); return false;"><span>{L_SPLIT_TOPIC}</span></a>
            </li>
            <li id="merge-panel-tab"<!-- IF S_MERGE_VIEW --> class="activetab"<!-- ENDIF --> >
            <span class="corners-top"><span></span></span>
            <a href="#minitabs" onclick="subPanels('merge-panel'); return false;"><span>{L_MERGE_POSTS}</span></a>
            </li>
        </ul>
    </div>
</div>

<form id="mcp" method="post" action="{S_MCP_ACTION}">

    <div class="panel">
        <div class="inner"><span class="corners-top"><span></span></span>

            <fieldset id="display-panel" class="fields2">
                <dl>
                    <dt><label
                            for="posts_per_page">{L_POSTS_PER_PAGE}:</label><br/><span>{L_POSTS_PER_PAGE_EXPLAIN}</span>
                    </dt>
                    <dd><input class="inputbox autowidth" type="text" name="posts_per_page" id="posts_per_page" size="6"
                               value="{POSTS_PER_PAGE}"/></dd>
                </dl>
                <dl>
                    <dt><label>{L_DISPLAY_POSTS}:</label></dt>
                    <dd>{S_SELECT_SORT_DAYS}&nbsp;&nbsp;<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label><label>{S_SELECT_SORT_DIR}</label>
                        <input type="submit" name="sort" value="{L_GO}" class="button2"/></dd>
                </dl>
            </fieldset>

            <!-- IF S_CAN_SPLIT -->
            <fieldset id="split-panel" class="fields2">
                <p>{L_SPLIT_TOPIC_EXPLAIN}</p>

                <!-- IF S_SHOW_TOPIC_ICONS -->
                <dl>
                    <dt><label for="icon">{L_TOPIC_ICON}:</label></dt>
                    <dd><label for="icon"><input type="radio" name="icon" id="icon" value="0" checked="checked"/>
                        {L_NO_TOPIC_ICON}</label>
                        <!-- BEGIN topic_icon --><label for="icon-{topic_icon.ICON_ID}"><input type="radio" name="icon"
                                                                                               id="icon-{topic_icon.ICON_ID}"
                                                                                               value="{topic_icon.ICON_ID}"
                                                                                               {topic_icon.S_ICON_CHECKED}/><img
                                src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}"
                                height="{topic_icon.ICON_HEIGHT}" alt="" title=""/></label> <!-- END topic_icon --></dd>
                </dl>
                <!-- ENDIF -->

                <dl>
                    <dt><label for="subject">{L_SPLIT_SUBJECT}:</label></dt>
                    <dd><input type="text" name="subject" id="subject" size="45" maxlength="64" tabindex="2"
                               value="{SPLIT_SUBJECT}" title="{L_SPLIT_SUBJECT}" class="inputbox"/></dd>
                </dl>
                <dl>
                    <dt><label>{L_SPLIT_FORUM}:</label></dt>
                    <dd><select name="to_forum_id">{S_FORUM_SELECT}</select></dd>
                </dl>
            </fieldset>
            <!-- ENDIF -->

            <!-- IF S_CAN_MERGE -->
            <fieldset id="merge-panel" class="fields2">
                <p>{L_MERGE_TOPIC_EXPLAIN}</p>
                <dl>
                    <dt><label for="to_topic_id">{L_MERGE_TOPIC_ID}:</label></dt>
                    <dd>
                        <input class="inputbox autowidth" type="text" size="6" name="to_topic_id" id="to_topic_id"
                               value="{TO_TOPIC_ID}"/>
                        <a href="{U_SELECT_TOPIC}">{L_SELECT_TOPIC}</a>
                    </dd>
                    <!-- IF TO_TOPIC_INFO -->
                    <dd>{TO_TOPIC_INFO}</dd><!-- ENDIF -->
                </dl>
            </fieldset>
            <!-- ENDIF -->

            <span class="corners-bottom"><span></span></span></div>
    </div>

    <div class="panel">
        <div class="inner"><span class="corners-top"><span></span></span>

            <h3 id="review">
                <span class="right-box"><a href="#review"
                                           onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'};">{L_EXPAND_VIEW}</a></span>
                {L_TOPIC_REVIEW}: {TOPIC_TITLE}
            </h3>

            <div id="topicreview">
                <!-- BEGIN postrow -->
                <div class="post <!-- IF postrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
                    <div class="inner"><span class="corners-top"><span></span></span>

                        <div class="postbody" id="pr{postrow.POST_ID}">
                            <ul class="profile-icons">
                                <li class="info-icon"><a href="{postrow.U_POST_DETAILS}" title="{L_POST_DETAILS}"><span>{L_POST_DETAILS}</span></a>
                                </li>
                                <li><label for="post_id_list_select_{postrow.POST_ID}">{L_SELECT}: <input
                                        type="checkbox" id="post_id_list_select_{postrow.POST_ID}" name="post_id_list[]"
                                        value="{postrow.POST_ID}"<!-- IF postrow.S_CHECKED --> checked="checked"
                                    <!-- ENDIF --> /></label></li>
                            </ul>

                            <h3><a href="{postrow.U_POST_DETAILS}">{postrow.POST_SUBJECT}</a></h3>
                            <p class="author"><a href="#pr{postrow.POST_ID}">{postrow.MINI_POST_IMG}</a> {L_POSTED}
                                {postrow.POST_DATE} {L_POST_BY_AUTHOR} <strong>{postrow.POST_AUTHOR_FULL}</strong>
                                <!-- IF postrow.U_MCP_DETAILS --> [ <a
                                        href="{postrow.U_MCP_DETAILS}">{L_POST_DETAILS}</a> ]<!-- ENDIF --></p>

                            <!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
                            <p class="rules">
                                <!-- IF postrow.S_POST_UNAPPROVED -->{UNAPPROVED_IMG} <a href="{postrow.U_MCP_APPROVE}"><strong>{L_POST_UNAPPROVED}</strong></a><br/>
                                <!-- ENDIF -->
                                <!-- IF postrow.S_POST_REPORTED -->{REPORTED_IMG} <a
                                    href="{postrow.U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a><!-- ENDIF -->
                            </p>
                            <!-- ENDIF -->

                            <div class="content" id="message_{postrow.POST_ID}">{postrow.MESSAGE}</div>

                            <!-- IF postrow.S_HAS_ATTACHMENTS -->
                            <dl class="attachbox">
                                <dt>{L_ATTACHMENTS}</dt>
                                <!-- BEGIN attachment -->
                                <dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
                                <!-- END attachment -->
                            </dl>
                            <!-- ENDIF -->

                        </div>

                        <span class="corners-bottom"><span></span></span></div>
                </div>
                <!-- END postrow -->
            </div>

            <hr/>

            <!-- IF PAGINATION or TOTAL_POSTS -->
            <ul class="linklist">
                <li class="rightside pagination">
                    <!-- IF TOTAL_POSTS --> {TOTAL_POSTS}<!-- ENDIF -->
                    <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;"
                                                                            title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
                    &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
                </li>
            </ul>
            <!-- ENDIF -->

            <span class="corners-bottom"><span></span></span></div>
    </div>

    <fieldset class="display-actions">
        <select name="action">
            <option value="" selected="selected">{L_SELECT_ACTION}</option>
            <!-- IF S_CAN_APPROVE -->
            <option value="approve">{L_APPROVE_POSTS}</option><!-- ENDIF -->
            <!-- IF S_CAN_LOCK -->
            <option value="lock_post">{L_LOCK_POST_POSTS} [ {L_LOCK_POST_EXPLAIN} ]</option>
            <option value="unlock_post">{L_UNLOCK_POST_POSTS}</option><!-- ENDIF -->
            <!-- IF S_CAN_DELETE -->
            <option value="delete_post">{L_DELETE_POSTS}</option><!-- ENDIF -->
            <!-- IF S_CAN_MERGE -->
            <option value="merge_posts"<!-- IF S_MERGE_VIEW --> selected="selected"<!-- ENDIF -->
            >{L_MERGE_POSTS}</option><!-- ENDIF -->
            <!-- IF S_CAN_SPLIT -->
            <option value="split_all"<!-- IF S_SPLIT_VIEW --> selected="selected"<!-- ENDIF -->
            >{L_SPLIT_POSTS}</option>
            <option value="split_beyond">{L_SPLIT_AFTER}</option><!-- ENDIF -->
            <!-- IF S_CAN_SYNC -->
            <option value="resync">{L_RESYNC}</option><!-- ENDIF -->
        </select>&nbsp;
        <input class="button1" type="submit" name="mcp_topic_submit" value="{L_SUBMIT}"/>
        <div><a href="#" onclick="marklist('mcp', 'post', true); return false;">{L_MARK_ALL}</a> :: <a href="#"
                                                                                                       onclick="marklist('mcp', 'post', false); return false;">{L_UNMARK_ALL}</a>
        </div>
        {S_HIDDEN_FIELDS}
        {S_FORM_TOKEN}
    </fieldset>

</form>

<!-- INCLUDE mcp_footer.html -->