<!-- INCLUDE mcp_header.html -->

<script type="text/javascript">
    // <![CDATA[

    var ban_length = new Array();
    ban_length[-1] = '';
    <!-- BEGIN ban_length -->
    ban_length['{ban_length.BAN_ID}'] = '{ban_length.A_LENGTH}';
    <!-- END ban_length -->

    var ban_reason = new Array();
    ban_reason[-1] = '';
    <!-- BEGIN ban_reason -->
    ban_reason['{ban_reason.BAN_ID}'] = '{ban_reason.A_REASON}';
    <!-- END ban_reason -->

    var ban_give_reason = new Array();
    ban_give_reason[-1] = '';
    <!-- BEGIN ban_give_reason -->
    ban_give_reason['{ban_give_reason.BAN_ID}'] = '{ban_give_reason.A_REASON}';

    <!-- END ban_give_reason -->

    function display_details(option) {
        document.getElementById('unbangivereason').innerHTML = ban_give_reason[option];
        document.getElementById('unbanreason').innerHTML = ban_reason[option];
        document.getElementById('unbanlength').innerHTML = ban_length[option];
    }

    // ]]>
</script>

<form id="mcp_ban" method="post" action="{U_ACTION}">

    <h2>{L_TITLE}</h2>

    <div class="panel">
        <div class="inner"><span class="corners-top"><span></span></span>

            <h3>{L_TITLE}</h3>
            <p>{L_EXPLAIN}</p>

            <fieldset>
                <dl>
                    <dt><label for="ban">{L_BAN_CELL}:</label></dt>
                    <dd><label for="ban"><textarea name="ban" id="ban" class="inputbox" cols="40" rows="3">{BAN_QUANTIFIER}</textarea></label>
                    </dd>
                    <!-- IF S_USERNAME_BAN -->
                    <dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong>
                    </dd><!-- ENDIF -->
                </dl>
                <dl>
                    <dt><label for="banlength">{L_BAN_LENGTH}:</label></dt>
                    <dd><label for="banlength"><select name="banlength" id="banlength"
                                                       onchange="if(this.value==-1){document.getElementById('banlengthother').style.display = 'block';}else{document.getElementById('banlengthother').style.display='none';}">{S_BAN_END_OPTIONS}</select></label>
                    </dd>
                    <dd id="banlengthother" style="display: none;"><label><input type="text" name="banlengthother"
                                                                                 class="inputbox"/><br/><span>{L_YEAR_MONTH_DAY}</span></label>
                    </dd>
                </dl>
                <dl>
                    <dt><label for="banreason">{L_BAN_REASON}:</label></dt>
                    <dd><input name="banreason" id="banreason" type="text" class="inputbox" maxlength="255"/></dd>
                </dl>
                <dl>
                    <dt><label for="bangivereason">{L_BAN_GIVE_REASON}:</label></dt>
                    <dd><input name="bangivereason" id="bangivereason" type="text" class="inputbox" maxlength="255"/>
                    </dd>
                </dl>

                <hr/>

                <dl>
                    <dt><label for="banexclude0">{L_BAN_EXCLUDE}:</label><br/><span>{L_BAN_EXCLUDE_EXPLAIN}</span></dt>
                    <dd>
                        <label for="banexclude1"><input type="radio" name="banexclude" id="banexclude1" value="1"/>
                            {L_YES}</label>
                        <label for="banexclude0"><input type="radio" name="banexclude" id="banexclude0" value="0"
                                                        checked="checked"/> {L_NO}</label>
                    </dd>
                </dl>
            </fieldset>

            <span class="corners-bottom"><span></span></span></div>
    </div>

    <fieldset class="submit-buttons">
        {S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2"/>&nbsp;
        <input type="submit" name="bansubmit" value="{L_SUBMIT}" class="button1"/>
        {S_FORM_TOKEN}
    </fieldset>

    <div class="panel">
        <div class="inner"><span class="corners-top"><span></span></span>

            <h3>{L_UNBAN_TITLE}</h3>
            <p>{L_UNBAN_EXPLAIN}</p>

            <!-- IF S_BANNED_OPTIONS -->
            <fieldset>
                <dl>
                    <dt><label for="unban">{L_BAN_CELL}:</label></dt>
                    <dd><select name="unban[]" id="unban" multiple="multiple" size="5"
                                onchange="if (this.selectedIndex != -1) {display_details(this.options[this.selectedIndex].value);}">{BANNED_OPTIONS}</select>
                    </dd>
                </dl>
                <dl>
                    <dt>{L_BAN_LENGTH}:</dt>
                    <dd><strong id="unbanlength"></strong></dd>
                </dl>
                <dl>
                    <dt>{L_BAN_REASON}:</dt>
                    <dd><strong id="unbanreason"></strong></dd>
                </dl>
                <dl>
                    <dt>{L_BAN_GIVE_REASON}:</dt>
                    <dd><strong id="unbangivereason"></strong></dd>
                </dl>
            </fieldset>

            <span class="corners-bottom"><span></span></span></div>
    </div>

    <fieldset class="submit-buttons">
        {S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2"/>&nbsp;
        <input type="submit" name="unbansubmit" value="{L_SUBMIT}" class="button1"/>
    </fieldset>

    <!-- ELSE -->

    <p><strong>{L_NO_BAN_CELL}</strong></p>

    <span class="corners-bottom"><span></span></span></div>
    </div>

    <!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->