<!-- INCLUDE ucp_header.html -->

<h2>{L_USERGROUPS}</h2>

<form id="ucp" method="post" action="{S_UCP_ACTION}" {S_FORM_ENCTYPE}>

    <div class="panel">
        <div class="inner"><span class="corners-top"><span></span></span>

            <p>{L_GROUPS_EXPLAIN}</p>
            <!-- DEFINE $SHOW_BUTTONS = 0 -->
            <!-- IF .leader -->
            <ul class="topiclist">
                <li class="header">
                    <dl>
                        <dt>{L_GROUP_LEADER}</dt>
                        <dd class="mark">{L_SELECT}</dd>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist cplist">

                <!-- BEGIN leader -->
                <!-- IF not leader.GROUP_SPECIAL -->
                <!-- DEFINE $SHOW_BUTTONS = 1 -->
                <!-- ENDIF -->
                <li class="row<!-- IF leader.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
                    <dl>
                        <dt><!-- IF S_CHANGE_DEFAULT --><input title="{L_CHANGE_DEFAULT_GROUP}" type="radio"
                                                               name="default"<!-- IF leader.S_GROUP_DEFAULT -->
                            checked="checked"<!-- ENDIF --> value="{leader.GROUP_ID}" /> <!-- ENDIF -->
                            <a href="{leader.U_VIEW_GROUP}" class="forumtitle"<!-- IF leader.GROUP_COLOUR -->
                            style="color:#{leader.GROUP_COLOUR}"<!-- ENDIF --> >{leader.GROUP_NAME}</a>
                            <!-- IF leader.GROUP_DESC --><br/>{leader.GROUP_DESC}<!-- ENDIF -->
                            <!-- IF not leader.GROUP_SPECIAL --><br/><i>{leader.GROUP_STATUS}</i><!-- ENDIF -->
                        </dt>
                        <dd class="mark"><input type="radio" name="selected" value="{leader.GROUP_ID}"
                            <!-- IF leader.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> />
                        </dd>
                    </dl>
                </li>
                <!-- END leader -->
            </ul>
            <!-- ENDIF -->

            <!-- IF .member -->
            <ul class="topiclist">
                <li class="header">
                    <dl>
                        <dt>{L_GROUP_MEMBER}</dt>
                        <dd class="mark">{L_SELECT}</dd>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist cplist">

                <!-- BEGIN member -->
                <!-- IF not member.GROUP_SPECIAL -->
                <!-- DEFINE $SHOW_BUTTONS = 1 -->
                <!-- ENDIF -->
                <li class="row<!-- IF member.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
                    <dl>
                        <dt><!-- IF S_CHANGE_DEFAULT --><input title="{L_CHANGE_DEFAULT_GROUP}" type="radio"
                                                               name="default"<!-- IF member.S_GROUP_DEFAULT -->
                            checked="checked"<!-- ENDIF --> value="{member.GROUP_ID}" /> <!-- ENDIF -->
                            <a href="{member.U_VIEW_GROUP}" class="forumtitle"<!-- IF member.GROUP_COLOUR -->
                            style="color:#{member.GROUP_COLOUR}"<!-- ENDIF --> >{member.GROUP_NAME}</a>
                            <!-- IF member.GROUP_DESC --><br/>{member.GROUP_DESC}<!-- ENDIF -->
                            <!-- IF not member.GROUP_SPECIAL --><br/><i>{member.GROUP_STATUS}</i><!-- ENDIF -->
                        </dt>
                        <dd class="mark"><input type="radio" name="selected" value="{member.GROUP_ID}"
                            <!-- IF member.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> />
                        </dd>
                    </dl>
                </li>
                <!-- END member -->
            </ul>
            <!-- ENDIF -->
            <span class="corners-bottom"><span></span></span></div>
    </div>

    <!-- IF .pending -->
    <div class="panel">
        <div class="inner"><span class="corners-top"><span></span></span>
            <ul class="topiclist">
                <li class="header">
                    <dl>
                        <dt>{L_GROUP_PENDING}</dt>
                        <dd class="mark">{L_SELECT}</dd>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist cplist">

                <!-- BEGIN pending -->
                <!-- IF not pending.GROUP_SPECIAL -->
                <!-- DEFINE $SHOW_BUTTONS = 1 -->
                <!-- ENDIF -->
                <li class="row<!-- IF pending.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
                    <dl>
                        <dt>
                            <a href="{pending.U_VIEW_GROUP}" class="forumtitle"<!-- IF pending.GROUP_COLOUR -->
                            style="color:#{pending.GROUP_COLOUR}"<!-- ENDIF --> >{pending.GROUP_NAME}</a>
                            <!-- IF pending.GROUP_DESC --><br/>{pending.GROUP_DESC}<!-- ENDIF -->
                            <!-- IF not pending.GROUP_SPECIAL --><br/><i>{pending.GROUP_STATUS}</i><!-- ENDIF -->
                        </dt>
                        <dd class="mark"><input type="radio" name="selected" value="{pending.GROUP_ID}"
                            <!-- IF pending.GROUP_SPECIAL -->disabled="disabled"<!-- ENDIF --> />
                        </dd>
                    </dl>
                </li>
                <!-- END pending -->
            </ul>
            <span class="corners-bottom"><span></span></span></div>
    </div>
    <!-- ENDIF -->
    <!-- IF .nonmember -->
    <div class="panel">
        <div class="inner"><span class="corners-top"><span></span></span>
            <ul class="topiclist">
                <li class="header">
                    <dl>
                        <dt>{L_GROUP_NONMEMBER}</dt>
                        <dd class="mark">{L_SELECT}</dd>
                    </dl>
                </li>
            </ul>
            <ul class="topiclist cplist">

                <!-- BEGIN nonmember -->
                <!-- IF nonmember.S_CAN_JOIN -->
                <!-- DEFINE $SHOW_BUTTONS = 1 -->
                <!-- ENDIF -->
                <li class="row<!-- IF nonmember.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
                    <dl>
                        <dt>
                            <a href="{nonmember.U_VIEW_GROUP}" class="forumtitle"<!-- IF nonmember.GROUP_COLOUR -->
                            style="color:#{nonmember.GROUP_COLOUR}"<!-- ENDIF --> >{nonmember.GROUP_NAME}</a>
                            <!-- IF nonmember.GROUP_DESC --><br/>{nonmember.GROUP_DESC}<!-- ENDIF -->
                            <!-- IF not nonmember.GROUP_SPECIAL --><br/><i>{nonmember.GROUP_STATUS}</i><!-- ENDIF -->
                        </dt>
                        <dd class="mark"><input type="radio" name="selected" value="{nonmember.GROUP_ID}"
                            <!-- IF not nonmember.S_CAN_JOIN -->disabled="disabled"<!-- ENDIF --> />
                        </dd>
                    </dl>
                </li>
                <!-- END nonmember -->
            </ul>
            <span class="corners-bottom"><span></span></span></div>
    </div>
    <!-- ENDIF -->


    <!-- IF S_CHANGE_DEFAULT or $SHOW_BUTTONS eq 1 -->
    <fieldset>
        <!-- IF S_CHANGE_DEFAULT -->
        <div class="left-box">
            <input class="button2" type="submit" name="change_default" value="{L_CHANGE_DEFAULT_GROUP}"/>
            {S_FORM_TOKEN}
        </div>
        <!-- ENDIF -->

        <!-- IF $SHOW_BUTTONS eq 1 -->
        <div class="right-box">
            <label for="action">{L_SELECT}:</label>
            <select name="action" id="action">
                <option value="join">{L_JOIN_SELECTED}</option>
                <option value="resign">{L_RESIGN_SELECTED}</option>
                <option value="demote">{L_DEMOTE_SELECTED}</option>
            </select>&nbsp;
            <input class="button2" type="submit" name="submit" value="{L_SUBMIT}"/>
            {S_FORM_TOKEN}
        </div>
        <!-- ENDIF -->
    </fieldset>
    <!-- ENDIF -->

</form>

<!-- INCLUDE ucp_footer.html -->