<strong>%USER%</strong>, você é incrível! <br/><br/><br/>
Recebemos a confirmação do seu pagamento. Você é o mais novo usuário premium de Hacker Experience:)<br/><br/>
Aproveite seus novos recursos! No caso de você ter qualquer perguntas, já sabe onde entrar em contato conosco, certo?
<br/><br/>
<br/>
Atenciosamente,<br/>
<span style="color: gray">Equipe Hacker Experience</span>