Caro <strong>%USER%</strong>,<br/><br/><br/>
Lamento informar que seu recente pagamento foi negado. <br/><br/>
%REASON%<br/><br/>
Se você quiser, é seguro tentar novamente agora. No caso de dúvidas, simplesmente responda esse email e iremos entrar em contato assim que possível.
<br/><br/>
--- Detalhes da compra --- <br/>
Plano: %PLAN%<br/>
Preço: R$%PAID%<br/><br/>
<br/>
Atenciosamente,<br/>
<span style="color: gray">Equipe Hacker Experience</span>