Dear <strong>%USER%</strong>,<br/><br/><br/>
I'm afraid to inform your recent payment was refused. <br/><br/>
%REASON%<br/><br/>
If you want, it's safe to try again now. In case any questions, simply reply to this email and we will answer you as soon as possible.
<br/><br/>
--- Order details --- <br/>
Plan: %PLAN%<br/>
Price: $%PAID% (USD)<br/><br/>
<br/>
Sincerely,<br/>
<span style="color: gray">The Hacker Experience Team</span>