Dear <strong>%USER%</strong>, <br/><br/><br/>
Thank you for buying a premium account. Your order is now in progress, and you should soon receive a confirmation e-mail.
<br/><br/>
You can reply to this message if you have questions.<br/><br/>
--- Order details --- <br/>
Plan: %PLAN%<br/>
Paid: $%PAID% (USD)<br/><br/>
<br/>
Sincerely,<br/>
<span style="color: gray">The Hacker Experience Team</span>