Caro <strong>%USER%</strong>, <br/><br/><br/>
Obrigado por comprar uma conta premium. Sua compra está em andamento, e você deve receber em breve um email de confirmação.
<br/><br/>
Você pode responder esse email no caso de dúvidas.<br/><br/>
--- Detalhes da compra --- <br/>
Plano: %PLAN%<br/>
Pago: R$%PAID% <br/><br/>
<br/>
Atenciosamente,<br/>
<span style="color: gray">Equipe Hacker Experience</span>