Olá <strong>%USER%</strong>, <br/><br/><br/>
Você está recebendo este email devido ao seu recente cadastro em Hacker Experience.<br/><br/>
Para podermos ativar sua conta, precisamos confirmar seu endereço de e-mail.<br/><br/>
<a href="http://hackerexperience.com/welcome?code=%KEY%">Você pode confirmá-lo clicando
    aqui</a> ou inserindo manualmente a seguinte URL:<br/><br/>
http://hackerexperience.com/welcome?code=%KEY%<br/><br/>
Se preferir, você pode simplesmente <a href="http://hackerexperience.com/welcome">acessar nossa página de boas
    vindas</a> e colar seu código de ativação: %KEY%<br/><br/>
<br/>
Atenciosamente,<br/>
<span style="color: gray">Equipe Hacker Experience</span>
<br/><br/><br/>