Hello <strong>%USER%</strong>, <br/><br/><br/>
You are receiving this email because of your recent registration at Hacker Experience.<br/><br/>
In order to activate your account, we need to verify your email address.<br/><br/>
<a href="https://hackerexperience.com/welcome?code=%KEY%">You can do so by clicking
    here</a> or inserting manually the following URL:<br/><br/>
http://hackerexperience.com/welcome?code=%KEY%<br/><br/>
If you prefer, you can simply <a href="https://hackerexperience.com/welcome">go to our welcome
    page</a> and paste your activation code: %KEY%<br/><br/>
<br/>
Thanks for signing up,<br/>
<span style="color: gray">The Hacker Experience Team</span>
<br/><br/><br/>