Dear <strong>%USER%</strong>, <br/><br/><br/>
Thank you for joining Hacker Experience, we are very happy to have you as a member of our community. <br/><br/>
Your next steps will be guided through a tutorial, so you can get used to the game. You can <a
        href="https://hackerexperience.com/welcome">start the tutorial</a> now.<br/><br/>
If you get stuck somewhere, don't hesitate asking for help on our <a
        href="https://forum.hackerexperience.com/">forums</a>. You can also reply to this message with any questions, and we will get in touch as soon as possible.
<br/><br/>
<br/>
Sincerely,<br/>
<span style="color: gray">The Hacker Experience Team</span>