Caro <strong>%USER%</strong>, <br/><br/><br/>
Obrigado por participar de Hacker Experience, estamos muito animados em tê-lo como um membro de nossa comunidade. <br/>
<br/>
Seus próximos passos serão guiados por um tutorial, para que você possa se acostumar com o jogo. Você pode <a
        href="http://hackerexperience.com/welcome">começar o tutorial</a> agora.<br/><br/>
Se você tiver dúvidas, não hesite em pedir ajuda em nossos <a
        href="http://forum.hackerexperience.com/">fóruns</a>. Você também pode responder essa mensagem com qualquer pergunta e iremos entrar em contato assim que possível.
<br/><br/>
<br/>
Atenciosamente,<br/>
<span style="color: gray">Equipe Hacker Experience</span>