/**
 * GeSHi syntax highlighting styles
 *
 * Generated with https://www.dokuwiki.org/tips:geshi_style_builder
 * Cleaned up with http://cleancss.com/
 * Manulally LESSified
 */
.code {
  .co0 {
    color: #666666;
    font-style: italic;
  }

  .co4 {
    color: #cc0000;
    font-style: italic;
  }

  .es5 {
    color: #006699;
    font-weight: bold;
  }

  .es6 {
    color: #009933;
    font-weight: bold;
  }

  .kw2 {
    color: #000000;
    font-weight: bold;
  }

  .kw5 {
    color: #008000;
  }

  .kw6 {
    color: #f08;
    font-weight: bold;
  }

  .me0 {
    color: #004000;
  }

  .nu0 {
    color: #cc66cc;
  }

  .re0 {
    color: #0000ff;
  }

  .re3 {
    color: #ff3333;
    font-weight: bold;
  }

  .re4 {
    color: #009999;
  }

  .re5 {
    color: #660033;
  }

  .sc-2 {
    color: #404040;
  }

  .sy3 {
    color: #000040;
  }

  .br0, .sy0 {
    color: #66cc66;
  }

  .co1, .coMULTI, .sc-1 {
    color: #808080;
    font-style: italic;
  }

  .co2, .sy1 {
    color: #339933;
  }

  .co3, .sy4 {
    color: #008080;
  }

  .es0, .es1, .esHARD {
    color: #000099;
    font-weight: bold;
  }

  .es2, .es3, .es4 {
    color: #660099;
    font-weight: bold;
  }

  .kw1, .kw8 {
    color: #b1b100;
  }

  .kw10, .kw11, .kw12, .kw9 {
    color: #003399;
    font-weight: bold;
  }

  .kw13, .kw14, .kw15, .kw16, .me1, .me2 {
    color: #006600;
  }

  .kw3, .kw7, .sy2 {
    color: #000066;
  }

  .kw4, .re2 {
    color: #993333;
  }

  .re1, .st0, .st_h {
    color: #ff0000;
  }
}