<!-- DEFINE $CA_SKIP_PM_NOTIFY = '1' --><!-- INCLUDE overall_header.html -->

<form id="confirm" action="{S_CONFIRM_ACTION}" method="post">
    <div class="panel" id="confirm">
        {$CA_BLOCK_START}

        <h2>{MESSAGE_TITLE}</h2>
        <p>{MESSAGE_TEXT}</p>

        <fieldset class="submit-buttons">
            {S_HIDDEN_FIELDS}
            <input type="submit" name="confirm" value="{L_YES}" class="button2"/>&nbsp;
            <input type="submit" name="cancel" value="{L_NO}" class="button2"/>
        </fieldset>

        {$CA_BLOCK_END}
    </div>
</form>

<!-- INCLUDE overall_footer.html -->
