<!-- BEGIN forumrow -->
<!-- IF (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  -->
</ul>

{$CA_BLOCK_END}
</div>
<!-- ENDIF -->

<!-- IF forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  -->
<script type="text/javascript">
    // <![CDATA[
    ca_forum_register('{forumrow.FORUM_ID}');
    // ]]>
</script>
<div class="forabg">
    {$CA_BLOCK_START}
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt>
                    <!-- IF forumrow.S_IS_CAT --><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><!-- ELSE -->
                    {L_FORUM}<!-- ENDIF -->
                    <span style="float: right; margin-top: -5px;"><a href="#"
                                                                     onclick="ca_expand_forum(this, {forumrow.FORUM_ID}); return false;"
                                                                     class="forum-expand"
                                                                     id="forumblock{forumrow.FORUM_ID}"></a></span>
                </dt>
                <dd class="topics">{L_TOPICS}</dd>
                <dd class="posts">{L_POSTS}</dd>
                <dd class="lastpost"><span>{L_LAST_POST}</span></dd>
            </dl>
        </li>
    </ul>
    <ul class="topiclist forums">
        <!-- ENDIF -->

        <!-- IF not forumrow.S_IS_CAT -->
        <li class="row<!-- IF forumrow.S_UNREAD_FORUM --> row-new<!-- ENDIF -->">
            <dl class="icon"
                style="background-image: url({forumrow.FORUM_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
                <dt title="{forumrow.FORUM_FOLDER_IMG_ALT}">
                    <!-- IF S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED --><a class="feed-icon-forum"
                                                                             title="{L_FEED} - {forumrow.FORUM_NAME}"
                                                                             href="{U_FEED}?f={forumrow.FORUM_ID}"><img
                        src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {forumrow.FORUM_NAME}"/></a><!-- ENDIF -->
                    <!-- IF forumrow.FORUM_IMAGE --><span class="forum-image">{forumrow.FORUM_IMAGE}</span><span
                        class="forum-image-div" style="color: #444;"><!-- ENDIF -->
					<a href="{forumrow.U_VIEWFORUM}" class="forumtitle">{forumrow.FORUM_NAME}</a><br/>
					{forumrow.FORUM_DESC}
                    <!-- IF forumrow.MODERATORS -->
						<br/><strong>{forumrow.L_MODERATOR_STR}:</strong> {forumrow.MODERATORS}
                    <!-- ENDIF -->
                    <!-- IF forumrow.SUBFORUMS and forumrow.S_LIST_SUBFORUMS --><br/><strong>{forumrow.L_SUBFORUM_STR}</strong> {forumrow.SUBFORUMS}
                    <!-- ENDIF -->
                    <!-- IF forumrow.FORUM_IMAGE --></span><!-- ENDIF -->
                </dt>
                <!-- IF forumrow.CLICKS -->
                <dd class="redirect"><span>{L_REDIRECTS}: {forumrow.CLICKS}</span></dd>
                <!-- ELSEIF not forumrow.S_IS_LINK -->
                <dd class="topics">{forumrow.TOPICS} <dfn>{L_TOPICS}</dfn></dd>
                <dd class="posts">{forumrow.POSTS} <dfn>{L_POSTS}</dfn></dd>
                <dd class="lastpost"><span>
						<!-- IF forumrow.U_UNAPPROVED_TOPICS --><a href="{forumrow.U_UNAPPROVED_TOPICS}">{UNAPPROVED_IMG}</a>
                    <!-- ENDIF -->
                    <!-- IF forumrow.LAST_POST_TIME --><dfn>{L_LAST_POST}</dfn> {L_POST_BY_AUTHOR} {forumrow.LAST_POSTER_FULL}
                    <!-- IF not S_IS_BOT --><a href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a> <!-- ENDIF --><br/>{forumrow.LAST_POST_TIME}
                    <!-- ELSE -->{L_NO_POSTS}<br/>&nbsp;<!-- ENDIF --></span>
                </dd>
                <!-- ENDIF -->
            </dl>
        </li>
        <!-- ENDIF -->

        <!-- IF forumrow.S_LAST_ROW -->
    </ul>

    {$CA_BLOCK_END}
</div>
<!-- ENDIF -->

<!-- BEGINELSE -->
<div class="panel">
    {$CA_BLOCK_START}
    <strong>{L_NO_FORUMS}</strong>
    {$CA_BLOCK_END}
</div>
<!-- END forumrow -->

<script type="text/javascript">
    // <![CDATA[
    onload_functions[onload_functions.length] = 'ca_parse_forums();';
    // ]]>
</script>
