<!-- INCLUDE mcp_header.html -->

<form id="mcp" method="post" action="{S_MCP_ACTION}">

    <fieldset class="forum-selection">
        <label for="fo">{L_FORUM}: <select name="f" id="fo">{S_FORUM_OPTIONS}</select></label>
        <input type="submit" name="sort" value="{L_GO}" class="button2"/>
        {S_FORM_TOKEN}
    </fieldset>

    <h2>{L_TITLE}</h2>

    <div class="panel">
        {$CA_BLOCK_START}

        <p>{L_EXPLAIN}</p>

        <!-- IF .postrow -->
        <ul class="linklist">
            <li class="rightside pagination">
                <!-- IF TOTAL --> {TOTAL}<!-- ENDIF -->
                <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;"
                                                                        title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
                &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
            </li>
        </ul>
        <ul class="topiclist">
            <li class="header">
                <dl>
                    <dt><!-- IF S_TOPICS -->{L_TOPIC}<!-- ELSE --> {L_POST}<!-- ENDIF --></dt>
                    <dd class="moderation"><span><!-- IF not S_TOPICS -->{L_TOPIC} &amp; <!-- ENDIF -->{L_FORUM}</span>
                    </dd>
                    <dd class="mark">{L_MARK}</dd>
                </dl>
            </li>
        </ul>
        <ul class="topiclist cplist">

            <!-- BEGIN postrow -->

            <!-- IF postrow.S_DELETED_TOPIC -->
            <li><p class="notopics">{L_DELETED_TOPIC}</p></li>
            <!-- ELSE -->

            <li class="row<!-- IF postrow.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
                <dl>
                    <dt>
                        <a href="{postrow.U_VIEW_DETAILS}" class="topictitle">{postrow.POST_SUBJECT}</a> <br/>
                        <span>{L_POSTED} {L_POST_BY_AUTHOR} {postrow.POST_AUTHOR_FULL} &raquo; {postrow.POST_TIME}</span>
                    </dt>
                    <dd class="moderation">
					<span>
						<!-- IF S_TOPICS --><br/><!-- ELSE -->{L_TOPIC}: <a href="{postrow.U_TOPIC}">{postrow.TOPIC_TITLE}</a> <br/>
                        <!-- ENDIF -->
						{L_FORUM}: <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a>
					</span>
                    </dd>


                    <dd class="mark"><input type="checkbox" name="post_id_list[]" value="{postrow.POST_ID}"/></dd>
                </dl>
            </li>
            <!-- ENDIF -->
            <!-- END postrow -->
        </ul>

        <fieldset class="display-options">
            <!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
            <!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a>
            <!-- ENDIF -->
            <label>{L_DISPLAY_POSTS}: {S_SELECT_SORT_DAYS}</label>
            <label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label><label>{S_SELECT_SORT_DIR}</label>
            <!-- IF TOPIC_ID --><label><input type="checkbox" class="radio" name="t" value="{TOPIC_ID}"
                                              checked="checked"/>&nbsp; <strong>{L_ONLY_TOPIC}</strong></label>
            <!-- ENDIF -->
            <input type="submit" name="sort" value="{L_GO}" class="button2"/>
        </fieldset>

        <hr/>

        <ul class="linklist">
            <li class="rightside pagination">
                <!-- IF TOTAL -->{TOTAL}<!-- ENDIF -->
                <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;"
                                                                        title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
                &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
            </li>
        </ul>
        <!-- ELSE -->
        <p class="notopics"><strong><!-- IF S_TOPICS -->{L_NO_TOPICS_QUEUE}<!-- ELSE --> {L_UNAPPROVED_POSTS_ZERO_TOTAL}
            <!-- ENDIF --></strong></p>
        <!-- ENDIF -->

        {$CA_BLOCK_END}
    </div>

    <!-- IF .postrow -->
    <fieldset class="display-actions">
        <input class="button2" type="submit" name="action[disapprove]" value="{L_DISAPPROVE}"/>&nbsp;
        <input class="button1" type="submit" name="action[approve]" value="{L_APPROVE}"/>
        <div><a href="#" onclick="marklist('mcp', 'post_id_list', true); return false;">{L_MARK_ALL}</a> :: <a href="#"
                                                                                                               onclick="marklist('mcp', 'post_id_list', false); return false;">{L_UNMARK_ALL}</a>
        </div>
    </fieldset>
    <!-- ENDIF -->
</form>

<!-- INCLUDE mcp_footer.html -->