<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

    <h2>{L_WARN_USER}</h2>

    <div class="panel">
        {$CA_BLOCK_START}

        <h3>{USERNAME_FULL}</h3>

        <div>
            <div class="column1">
                <!-- IF AVATAR_IMG -->
                <div>{AVATAR_IMG}</div><!-- ENDIF -->
            </div>

            <div class="column2">
                <dl class="details">
                    <!-- IF RANK_TITLE -->
                    <dt>{L_RANK}:</dt>
                    <dd>{RANK_TITLE}</dd><!-- ENDIF -->
                    <!-- IF RANK_IMG -->
                    <dt><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></dt>
                    <dd>{RANK_IMG}</dd><!-- ENDIF -->
                    <dt>{L_JOINED}:</dt>
                    <dd>{JOINED}</dd>
                    <dt>{L_TOTAL_POSTS}:</dt>
                    <dd>{POSTS}</dd>
                    <dt>{L_WARNINGS}:</dt>
                    <dd>{WARNINGS}</dd>
                </dl>
            </div>
        </div>

        {$CA_BLOCK_END}
    </div>

    <div class="panel">
        {$CA_BLOCK_START}

        <h3>{L_ADD_WARNING}</h3>
        <p>{L_ADD_WARNING_EXPLAIN}</p>

        <fieldset>
            <textarea name="warning" id="warning" class="inputbox" cols="40" rows="3"></textarea>
            <!-- IF S_CAN_NOTIFY -->
            <br/><br/>
            <dl class="panel">
                <dt>&nbsp;</dt>
                <dd><label><input type="checkbox" name="notify_user" checked="checked"/> {L_NOTIFY_USER_WARN}</label>
                </dd>
            </dl>
            <!-- ENDIF -->
        </fieldset>

        {$CA_BLOCK_END}
    </div>

    <fieldset class="submit-buttons">
        <input type="reset" value="{L_RESET}" name="reset" class="button2"/>&nbsp;
        <input type="submit" name="action[add_warning]" value="{L_SUBMIT}" class="button1"/>
        {S_FORM_TOKEN}
    </fieldset>
</form>

<!-- INCLUDE mcp_footer.html -->