<!-- INCLUDE mcp_header.html -->

<form method="post" id="mcp" action="{U_POST_ACTION}">

    <h2>{L_TITLE}</h2>

    <div class="panel">
        {$CA_BLOCK_START}

        <fieldset>
            <dl>
                <dt><label for="username">{L_SELECT_USER}:</label></dt>
                <dd><input name="username" id="username" type="text" class="inputbox"/></dd>
                <dd><strong><a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a></strong>
                </dd>
            </dl>
        </fieldset>

        {$CA_BLOCK_END}
    </div>

    <fieldset class="submit-buttons">
        <input type="reset" value="{L_RESET}" name="reset" class="button2"/>&nbsp;
        <input type="submit" name="submituser" value="{L_SUBMIT}" class="button1"/>
        {S_FORM_TOKEN}
    </fieldset>
</form>

<!-- INCLUDE mcp_footer.html -->