<!-- INCLUDE mcp_header.html -->

<!-- IF S_MCP_REPORT -->
<!-- IF S_PM -->
<h2>{L_PM_REPORT_DETAILS}</h2>
<!-- ELSE -->
<h2>{L_REPORT_DETAILS}</h2>
<!-- ENDIF -->

<div id="report" class="panel">
    {$CA_BLOCK_START}

    <div class="postbody">
        <h3>{L_REPORT_REASON}: {REPORT_REASON_TITLE}</h3>
        <p class="author">{L_REPORTED} {L_POST_BY_AUTHOR} {REPORTER_FULL} &laquo; {REPORT_DATE}</p>
        <!-- IF not S_POST_REPORTED -->
        <p class="rules">{L_REPORT_CLOSED}</p>
        <!-- ENDIF -->
        <div class="content">
            <!-- IF REPORT_TEXT -->
            {REPORT_TEXT}
            <!-- ELSE -->
            {REPORT_REASON_DESCRIPTION}
            <!-- ENDIF -->
        </div>
    </div>

    {$CA_BLOCK_END}
</div>

<form method="post" id="mcp_report" action="{S_CLOSE_ACTION}">

    <fieldset class="submit-buttons">
        <!-- IF S_POST_REPORTED -->
        <input class="button1" type="submit" value="{L_CLOSE_REPORT}" name="action[close]"/> &nbsp;
        <!-- ENDIF -->
        <input class="button2" type="submit" value="{L_DELETE_REPORT}" name="action[delete]"/>
        <input type="hidden" name="report_id_list[]" value="{REPORT_ID}"/>
        {S_FORM_TOKEN}
    </fieldset>
</form>

<!-- ELSE -->
<h2>{L_POST_DETAILS}</h2>
<!-- ENDIF -->

<div class="panel">
    {$CA_BLOCK_START}

    <div class="postbody">
        <!-- IF S_PM -->
        <p class="author">
            <strong>{L_SENT_AT}:</strong> {POST_DATE}
            <br/><strong>{L_PM_FROM}:</strong> {POST_AUTHOR_FULL}
            <!-- IF S_TO_RECIPIENT --><br/><strong>{L_TO}:</strong> <!-- BEGIN to_recipient -->
            <!-- IF to_recipient.NAME_FULL -->{to_recipient.NAME_FULL}<!-- ELSE --><a href="{to_recipient.U_VIEW}"
                                                                                      style="color:<!-- IF to_recipient.COLOUR -->{to_recipient.COLOUR}<!-- ELSEIF to_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{to_recipient.NAME}</a>
            <!-- ENDIF -->&nbsp;<!-- END to_recipient --><!-- ENDIF -->
            <!-- IF S_BCC_RECIPIENT --><br/><strong>{L_BCC}:</strong> <!-- BEGIN bcc_recipient -->
            <!-- IF bcc_recipient.NAME_FULL -->{bcc_recipient.NAME_FULL}<!-- ELSE --><a href="{bcc_recipient.U_VIEW}"
                                                                                        style="color:<!-- IF bcc_recipient.COLOUR -->{bcc_recipient.COLOUR}<!-- ELSEIF bcc_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{bcc_recipient.NAME}</a>
            <!-- ENDIF -->&nbsp;<!-- END bcc_recipient --><!-- ENDIF -->
        </p>
        <!-- ELSE -->
        <p class="author">{MINI_POST_IMG} {L_POSTED} {L_POST_BY_AUTHOR} {POST_AUTHOR_FULL} &raquo; {POST_DATE}</p>
        <!-- ENDIF -->

        <h3><a href="{U_VIEW_POST}">{POST_SUBJECT}</a></h3>

        <!-- IF S_POST_UNAPPROVED -->
        <form method="post" id="mcp_approve" action="{U_APPROVE_ACTION}">

            <p class="rules">
                <input class="button2" type="submit" value="{L_DISAPPROVE}" name="action[disapprove]"/> &nbsp;
                <input class="button1" type="submit" value="{L_APPROVE}" name="action[approve]"/>
                <!-- IF not S_FIRST_POST --><input type="hidden" name="mode" value="unapproved_posts"/><!-- ENDIF -->
                <input type="hidden" name="post_id_list[]" value="{POST_ID}"/>
                {S_FORM_TOKEN}
            </p>
        </form>
        <!-- ENDIF -->

        <!-- IF S_MESSAGE_REPORTED -->
        <p class="rules">
            {REPORTED_IMG} <a href="{U_MCP_REPORT}"><strong>{L_MESSAGE_REPORTED}</strong></a>
        </p>
        <!-- ENDIF -->

        <div class="content" id="post_details">
            {POST_PREVIEW}
        </div>

        <!-- IF S_HAS_ATTACHMENTS -->
        <div class="ca-bbcode">
            <div class="ca-bbcode2 ca-attachment">
                <dl class="attachbox">
                    <dt>{L_ATTACHMENTS}</dt>
                    <!-- BEGIN attachment -->
                    <dd>{attachment.DISPLAY_ATTACHMENT}</dd>
                    <!-- END attachment -->
                </dl>
            </div>
        </div>
        <!-- ENDIF -->

        <!-- IF SIGNATURE -->
        <div id="sig{POST_ID}" class="signature">{SIGNATURE}</div>
        <!-- ENDIF -->

        <!-- IF S_MCP_REPORT and S_CAN_VIEWIP -->
        <hr/>
        <div><!-- IF S_PM -->{L_THIS_PM_IP}<!-- ELSE --> {L_THIS_POST_IP}<!-- ENDIF --> : <!-- IF U_WHOIS -->
            <a href="{U_WHOIS}"><!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE --> {POST_IP}<!-- ENDIF --></a> (
            <!-- IF POST_IPADDR --> {POST_IP}<!-- ELSE --><a href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a><!-- ENDIF -->)
            <!-- ELSE -->
            <!-- IF POST_IPADDR -->{POST_IPADDR} ({POST_IP})<!-- ELSE --> {POST_IP}<!-- IF U_LOOKUP_IP --> (<a
                    href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a>)<!-- ENDIF --><!-- ENDIF -->
            <!-- ENDIF --></div>
        <!-- ENDIF -->

        <!-- IF U_EDIT -->
        <ul class="profile-icons">
            <li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li>
        </ul>
        <!-- ENDIF -->
        <span class="right-box" id="expand"><a href="#post_details"
                                               onclick="viewableArea(getElementById('post_details'), true); var rev_text = getElementById('expand').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{LA_EXPAND_VIEW}'){rev_text.data = '{LA_COLLAPSE_VIEW}'; } else if (rev_text.data == '{LA_COLLAPSE_VIEW}'){rev_text.data = '{LA_EXPAND_VIEW}'}; return false;">{L_EXPAND_VIEW}</a></span>

        <div class="clear"></div>

    </div>

    {$CA_BLOCK_END}
</div>

<!-- IF S_CAN_LOCK_POST or S_CAN_DELETE_POST or S_CAN_CHGPOSTER -->
<div class="panel">
    {$CA_BLOCK_START}

    <h3>{L_MOD_OPTIONS}</h3>
    <!-- IF S_CAN_CHGPOSTER -->
    <form method="post" id="mcp_chgposter" action="{U_POST_ACTION}">

        <fieldset>
            <dl>
                <dt><label>{L_CHANGE_POSTER}:</label></dt>
                <!-- IF S_USER_SELECT -->
                <dd><select name="u">{S_USER_SELECT}</select> <input type="submit" class="button2"
                                                                     name="action[chgposter_ip]" value="{L_CONFIRM}"/>
                </dd><!-- ENDIF -->
                <dd style="margin-top:3px;">
                    <input class="inputbox autowidth" type="text" name="username" value=""/>
                    <input type="submit" class="button2" name="action[chgposter]" value="{L_CONFIRM}"/>
                    <br/>
                    <span>[ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]</span>
                </dd>
            </dl>
            {S_FORM_TOKEN}
        </fieldset>
    </form>
    <!-- ENDIF -->

    <!-- IF S_CAN_LOCK_POST or S_CAN_DELETE_POST -->
    <form method="post" id="mcp" action="{U_MCP_ACTION}">

        <fieldset>
            <dl>
                <dt><label>{L_MOD_OPTIONS}:</label></dt>
                <dd><select name="action">
                    <!-- IF S_CAN_LOCK_POST --><!-- IF S_POST_LOCKED -->
                    <option value="unlock_post">{L_UNLOCK_POST} [{L_UNLOCK_POST_EXPLAIN}]</option><!-- ELSE -->
                    <option value="lock_post">{L_LOCK_POST} [{L_LOCK_POST_EXPLAIN}]</option><!-- ENDIF --><!-- ENDIF -->
                    <!-- IF S_CAN_DELETE_POST -->
                    <option value="delete_post">{L_DELETE_POST}</option><!-- ENDIF -->
                </select> <input class="button2" type="submit" value="{L_SUBMIT}"/>
                </dd>
            </dl>
            {S_FORM_TOKEN}
        </fieldset>
    </form>
    <!-- ENDIF -->

    {$CA_BLOCK_END}
</div>
<!-- ENDIF -->


<!-- IF S_MCP_QUEUE or S_MCP_REPORT or RETURN_TOPIC -->
<div class="panel">
    {$CA_BLOCK_START}

    <p><!-- IF S_MCP_QUEUE -->{RETURN_QUEUE} | {RETURN_TOPIC_SIMPLE} | {RETURN_POST}<!-- ELSEIF S_MCP_REPORT -->
        {RETURN_REPORTS}<!-- IF not S_PM --> | <a href="{U_VIEW_POST}">{L_VIEW_POST}</a> | <a href="{U_VIEW_TOPIC}">{L_VIEW_TOPIC}</a>
        | <a href="{U_VIEW_FORUM}">{L_VIEW_FORUM}</a><!-- ENDIF --><!-- ELSE -->{RETURN_TOPIC}<!-- ENDIF --></p>

    {$CA_BLOCK_END}
</div>
<!-- ENDIF -->

<!-- IF S_MCP_QUEUE -->
<!-- ELSE -->

<!-- IF S_SHOW_USER_NOTES -->
<div class="panel" id="usernotes">
    {$CA_BLOCK_START}

    <form method="post" id="mcp_notes" action="{U_POST_ACTION}">

        <!-- IF S_USER_NOTES -->
        <h3>{L_FEEDBACK}</h3>

        <!-- BEGIN usernotes -->
        <span class="small"><strong>{L_REPORTED_BY}: {usernotes.REPORT_BY} &laquo; {usernotes.REPORT_AT}</strong></span>
        <!-- IF S_CLEAR_ALLOWED -->
        <div class="right-box"><input type="checkbox" name="marknote[]" value="{usernotes.ID}"/></div><!-- ENDIF -->
        <div class="postbody">{usernotes.ACTION}</div>

        <hr class="dashed"/>
        <!-- END usernotes -->

        <!-- IF S_CLEAR_ALLOWED -->
        <fieldset class="submit-buttons">
            <input class="button2" type="submit" name="action[del_all]" value="{L_DELETE_ALL}"/>&nbsp;
            <input class="button2" type="submit" name="action[del_marked]" value="{L_DELETE_MARKED}"/>
        </fieldset>
        <!-- ENDIF -->
        <!-- ENDIF -->

        <h3>{L_ADD_FEEDBACK}</h3>
        <p>{L_ADD_FEEDBACK_EXPLAIN}</p>

        <fieldset>
            <textarea name="usernote" rows="4" cols="76" class="inputbox"></textarea>
        </fieldset>

        <fieldset class="submit-buttons">
            <input class="button1" type="submit" name="action[add_feedback]" value="{L_SUBMIT}"/>&nbsp;
            <input class="button2" type="reset" value="{L_RESET}"/>
            {S_FORM_TOKEN}
        </fieldset>
    </form>

    {$CA_BLOCK_END}
</div>
<!-- ENDIF -->

<!-- IF S_SHOW_REPORTS -->
<div class="panel" id="reports">
    {$CA_BLOCK_START}

    <h3>{L_MCP_POST_REPORTS}</h3>

    <!-- BEGIN reports -->
    <span class="small"><strong>{L_REPORTED_BY}: <!-- IF reports.U_REPORTER --><a href="{reports.U_REPORTER}">{reports.REPORTER}</a>
        <!-- ELSE -->{reports.REPORTER}<!-- ENDIF --> &laquo; {reports.REPORT_TIME}</strong></span>
    <p><em>{reports.REASON_TITLE}: {reports.REASON_DESC}</em><!-- IF reports.REPORT_TEXT --><br/>{reports.REPORT_TEXT}
        <!-- ENDIF --></p>
    <!-- END reports -->

    {$CA_BLOCK_END}
</div>
<!-- ENDIF -->

<!-- IF S_CAN_VIEWIP and not S_MCP_REPORT -->
<div class="panel" id="ip">
    {$CA_BLOCK_START}

    <p>{L_THIS_POST_IP}: <!-- IF U_WHOIS -->
        <a href="{U_WHOIS}"><!-- IF POST_IPADDR -->{POST_IPADDR}<!-- ELSE --> {POST_IP}<!-- ENDIF --></a> (
        <!-- IF POST_IPADDR --> {POST_IP}<!-- ELSE --><a href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a><!-- ENDIF -->)
        <!-- ELSE -->
        <!-- IF POST_IPADDR -->{POST_IPADDR} ({POST_IP})<!-- ELSE --> {POST_IP}<!-- IF U_LOOKUP_IP --> (<a
                href="{U_LOOKUP_IP}">{L_LOOKUP_IP}</a>)<!-- ENDIF --><!-- ENDIF -->
        <!-- ENDIF --></p>

    <table class="table1" cellspacing="{$CA_TABLE_SPACING}">
        <thead>
        <tr>
            <th class="name">{L_OTHER_USERS}</th>
            <th class="posts">{L_POSTS}</th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN userrow -->
        <tr class="<!-- IF userrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
            <td><!-- IF userrow.U_PROFILE --><a href="{userrow.U_PROFILE}">{userrow.USERNAME}</a><!-- ELSE -->
                {userrow.USERNAME}<!-- ENDIF --></td>
            <td class="posts"><a href="{userrow.U_SEARCHPOSTS}" title="{L_SEARCH_POSTS_BY} {userrow.USERNAME}">{userrow.NUM_POSTS}</a>
            </td>
        </tr>
        <!-- BEGINELSE -->
        <tr>
            <td colspan="2">{L_NO_MATCHES_FOUND}</td>
        </tr>
        <!-- END userrow -->
        </tbody>
    </table>

    <table class="table1" cellspacing="{$CA_TABLE_SPACING}">
        <thead>
        <tr>
            <th class="name">{L_IPS_POSTED_FROM}</th>
            <th class="posts">{L_POSTS}</th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN iprow -->
        <tr class="<!-- IF iprow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
            <td><!-- IF iprow.HOSTNAME --><a href="{iprow.U_WHOIS}">{iprow.HOSTNAME}</a> ({iprow.IP})<!-- ELSE --><a
                    href="{iprow.U_WHOIS}">{iprow.IP}</a> (<a href="{iprow.U_LOOKUP_IP}">{L_LOOKUP_IP}</a>)
                <!-- ENDIF --></td>
            <td class="posts">{iprow.NUM_POSTS}</td>
        </tr>
        <!-- BEGINELSE -->
        <tr>
            <td colspan="2">{L_NO_MATCHES_FOUND}</td>
        </tr>
        <!-- END iprow -->
        </tbody>
    </table>

    <p><a href="{U_LOOKUP_ALL}#ip">{L_LOOKUP_ALL}</a></p>

    {$CA_BLOCK_END}
</div>
<!-- ENDIF -->

<!-- ENDIF -->

<!-- IF S_TOPIC_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->
