<!-- DEFINE $CA_PAGE = 'users' --><!-- INCLUDE overall_header.html -->

<h2>{PAGE_TITLE}</h2>

<form method="post" action="{S_PROFILE_ACTION}" id="viewprofile">
    <div class="post<!-- IF S_ONLINE --> online<!-- ENDIF -->">
        {$CA_POST_START}
        {$CA_POST_PROFILE_START}
        <div class="postprofile" id="profile0">
            <div class="profile-top">
                <p class="profile-author">
                    <!-- IF USER_COLOR --><span style="color: {USER_COLOR}; font-weight: bold;"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span>
                </p>
            </div>
            <!-- IF AVATAR_IMG -->
            <div class="profile-avatar">
                {AVATAR_IMG}
            </div>
            <!-- ENDIF -->
            <!-- IF RANK_TITLE or RANK_IMG -->
            <p class="profile-rank">
                {RANK_TITLE}
                <!-- IF RANK_TITLE and RANK_IMG --><br/><!-- ENDIF -->
                {RANK_IMG}
            </p>
            <!-- ENDIF -->
        </div>
        {$CA_POST_PROFILE_END}
        {$CA_POST_TEXT_START}
        <div class="postbody post-viewprofile">
            <div class="post-content">

                <dl class="details">
                    <dt>{L_USERNAME}:</dt>
                    <dd class="extended-line">
                        <!-- IF USER_COLOR --><span style="color: {USER_COLOR}; font-weight: bold;"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span><br/>
                        <!-- IF U_USER_ADMIN --> [ <a href="{U_USER_ADMIN}">{L_USER_ADMIN}</a> ]<br/><!-- ENDIF -->
                        <!-- IF U_USER_BAN --> [ <a href="{U_USER_BAN}">{L_USER_BAN}</a> ]<br/><!-- ENDIF -->
                        <!-- IF U_SWITCH_PERMISSIONS --> [ <a
                                href="{U_SWITCH_PERMISSIONS}">{L_USE_PERMISSIONS}</a> ]<br/><!-- ENDIF -->
                    </dd>
                    <!-- IF not AVATAR_IMG -->
                    <!-- IF RANK_TITLE -->
                    <dt>{L_RANK}:</dt>
                    <dd>{RANK_TITLE}</dd><!-- ENDIF -->
                    <!-- IF RANK_IMG -->
                    <dt><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></dt>
                    <dd>{RANK_IMG}</dd><!-- ENDIF -->
                    <!-- ENDIF -->
                    <!-- IF S_USER_INACTIVE -->
                    <dt>{L_USER_IS_INACTIVE}:</dt>
                    <dd>{USER_INACTIVE_REASON}</dd><!-- ENDIF -->
                    <!-- IF LOCATION -->
                    <dt>{L_LOCATION}:</dt>
                    <dd>{LOCATION}</dd><!-- ENDIF -->
                    <!-- IF AGE !== '' -->
                    <dt>{L_AGE}:</dt>
                    <dd>{AGE}</dd><!-- ENDIF -->
                    <!-- IF OCCUPATION -->
                    <dt>{L_OCCUPATION}:</dt>
                    <dd>{OCCUPATION}</dd><!-- ENDIF -->
                    <!-- IF INTERESTS -->
                    <dt>{L_INTERESTS}:</dt>
                    <dd>{INTERESTS}</dd><!-- ENDIF -->
                    <!-- IF S_GROUP_OPTIONS -->
                    <dt>{L_USERGROUPS}:</dt>
                    <dd><select name="g">{S_GROUP_OPTIONS}</select> <input type="submit" name="submit" value="{L_GO}"
                                                                           class="button2"/></dd><!-- ENDIF -->
                    <!-- BEGIN custom_fields -->
                    <dt>{custom_fields.PROFILE_FIELD_NAME}:</dt>
                    <dd>{custom_fields.PROFILE_FIELD_VALUE}</dd><!-- END custom_fields -->
                    <!-- IF S_USER_LOGGED_IN and S_ZEBRA -->
                    <!-- IF U_REMOVE_FRIEND -->
                    <dt>&nbsp;</dt>
                    <dd><a href="{U_REMOVE_FRIEND}"><strong>{L_REMOVE_FRIEND}</strong></a></dd>
                    <!-- ELSEIF U_REMOVE_FOE -->
                    <dt>&nbsp;</dt>
                    <dd><a href="{U_REMOVE_FOE}"><strong>{L_REMOVE_FOE}</strong></a></dd>
                    <!-- ELSE -->
                    <!-- IF U_ADD_FRIEND -->
                    <dt>&nbsp;</dt>
                    <dd><a href="{U_ADD_FRIEND}"><strong>{L_ADD_FRIEND}</strong></a></dd>
                    <!-- ENDIF -->
                    <!-- IF U_ADD_FOE -->
                    <dt>&nbsp;</dt>
                    <dd><a href="{U_ADD_FOE}"><strong>{L_ADD_FOE}</strong></a></dd>
                    <!-- ENDIF -->
                    <!-- ENDIF -->
                    <!-- ENDIF -->
                </dl>


                <h3>{L_CONTACT_USER} {USERNAME}</h3>
                <dl class="details">
                    <!-- IF U_EMAIL -->
                    <dt>{L_EMAIL_ADDRESS}:</dt>
                    <dd><a href="{U_EMAIL}">{L_SEND_EMAIL_USER} {USERNAME}</a></dd><!-- ENDIF -->
                    <!-- IF U_WWW -->
                    <dt>{L_WEBSITE}:</dt>
                    <dd><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}">{U_WWW}</a></dd><!-- ENDIF -->
                    <!-- IF U_PM -->
                    <dt>{L_PM}:</dt>
                    <dd><a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a></dd>
                    <!-- ENDIF -->
                    <!-- IF U_MSN or USER_MSN -->
                    <dt>{L_MSNM}:</dt>
                    <dd><!-- IF U_MSN --><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_MSNM_MESSAGE}</a>
                        <!-- ELSE -->{USER_MSN}<!-- ENDIF --></dd><!-- ENDIF -->
                    <!-- IF U_YIM or USER_YIM -->
                    <dt>{L_YIM}:</dt>
                    <dd><!-- IF U_YIM --><a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false;">{L_SEND_YIM_MESSAGE}</a>
                        <!-- ELSE -->{USER_YIM}<!-- ENDIF --></dd><!-- ENDIF -->
                    <!-- IF U_AIM or USER_AIM -->
                    <dt>{L_AIM}:</dt>
                    <dd><!-- IF U_AIM --><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_AIM_MESSAGE}</a>
                        <!-- ELSE -->{USER_AIM}<!-- ENDIF --></dd><!-- ENDIF -->
                    <!-- IF U_ICQ or USER_ICQ -->
                    <dt>{L_ICQ}:</dt>
                    <dd><!-- IF U_ICQ --><a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_ICQ_MESSAGE}</a>
                        <!-- ELSE -->{USER_ICQ}<!-- ENDIF --></dd><!-- ENDIF -->
                    <!-- IF U_JABBER and S_JABBER_ENABLED -->
                    <dt>{L_JABBER}:</dt>
                    <dd><a href="{U_JABBER}"
                           onclick="popup(this.href, 550, 320); return false;">{L_SEND_JABBER_MESSAGE}</a></dd>
                    <!-- ELSEIF USER_JABBER -->
                    <dt>{L_JABBER}:</dt>
                    <dd>{USER_JABBER}</dd><!-- ENDIF -->
                    <!-- IF S_PROFILE_FIELD1 -->
                    <!-- NOTE: Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
                    <dt>{PROFILE_FIELD1_NAME}:</dt>
                    <dd>{PROFILE_FIELD1_VALUE}</dd>
                    <!-- ENDIF -->
                </dl>

                <h3>{L_USER_FORUM}</h3>
                <dl class="details">
                    <dt>{L_JOINED}:</dt>
                    <dd>{JOINED}</dd>
                    <dt>{L_VISITED}:</dt>
                    <dd>{VISITED}</dd>
                    <!-- IF S_WARNINGS -->
                    <dt>{L_WARNINGS}:</dt>
                    <dd><strong>{WARNINGS}</strong><!-- IF U_NOTES or U_WARN --> [ <!-- IF U_NOTES --><a
                            href="{U_NOTES}">{L_VIEW_NOTES}</a><!-- ENDIF --> <!-- IF U_WARN --><!-- IF U_NOTES --> |
                        <!-- ENDIF --><a href="{U_WARN}">{L_WARN_USER}</a><!-- ENDIF --> ]<!-- ENDIF --></dd>
                    <!-- ENDIF -->
                    <dt>{L_TOTAL_POSTS}:</dt>
                    <dd>{POSTS} <!-- IF S_DISPLAY_SEARCH -->| <strong><a
                            href="{U_SEARCH_USER}">{L_SEARCH_USER_POSTS}</a></strong><!-- ENDIF -->
                        <!-- IF POSTS_PCT --><br/>({POSTS_PCT} / {POSTS_DAY})<!-- ENDIF -->
                        <!-- IF POSTS_IN_QUEUE and U_MCP_QUEUE --><br/>(<a href="{U_MCP_QUEUE}">{L_POSTS_IN_QUEUE}</a>)
                        <!-- ELSEIF POSTS_IN_QUEUE --><br/>({L_POSTS_IN_QUEUE})<!-- ENDIF -->
                    </dd>
                    <!-- IF S_SHOW_ACTIVITY and POSTS -->
                    <dt>{L_ACTIVE_IN_FORUM}:</dt>
                    <dd><!-- IF ACTIVE_FORUM != '' --><strong><a
                            href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong><br/>({ACTIVE_FORUM_POSTS} /
                        {ACTIVE_FORUM_PCT})<!-- ELSE --> - <!-- ENDIF --></dd>
                    <dt>{L_ACTIVE_IN_TOPIC}:</dt>
                    <dd><!-- IF ACTIVE_TOPIC != '' --><strong><a
                            href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong><br/>({ACTIVE_TOPIC_POSTS} /
                        {ACTIVE_TOPIC_PCT})<!-- ELSE --> - <!-- ENDIF --></dd>
                    <!-- ENDIF -->
                </dl>

                <!-- IF SIGNATURE -->
                <div class="signature">{SIGNATURE}</div>
                <!-- ENDIF -->

            </div>
            <div class="clear"></div>
        </div>
        {$CA_POST_TEXT_END}
        {$CA_POST_END}
    </div>

</form>

<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->