<div id="page-footer">
    <div class="navbar">
        {$CA_BLOCK_START}

        <ul class="linklist navlinks">
            <li class="leftside"><a href="{U_INDEX}" accesskey="h">{L_INDEX}</a></li>
            <!-- IF not S_IS_BOT -->
            <!-- IF S_WATCH_FORUM_LINK -->
            <li class="leftside">&nbsp;|&nbsp;<a href="{S_WATCH_FORUM_LINK}" title="{S_WATCH_FORUM_TITLE}">{S_WATCH_FORUM_TITLE}</a>
            </li><!-- ENDIF -->
            <!-- IF U_WATCH_TOPIC -->
            <li class="leftside">&nbsp;|&nbsp;<a href="{U_WATCH_TOPIC}" title="{L_WATCH_TOPIC}">{L_WATCH_TOPIC}</a></li>
            <!-- ENDIF -->
            <!-- IF U_BOOKMARK_TOPIC -->
            <li class="leftside">&nbsp;|&nbsp;<a href="{U_BOOKMARK_TOPIC}"
                                                 title="{L_BOOKMARK_TOPIC}">{L_BOOKMARK_TOPIC}</a></li><!-- ENDIF -->
            <!-- IF U_BUMP_TOPIC -->
            <li class="leftside">&nbsp;|&nbsp;<a href="{U_BUMP_TOPIC}" title="{L_BUMP_TOPIC}">{L_BUMP_TOPIC}</a></li>
            <!-- ENDIF -->
            <!-- ENDIF -->
            <li class="rightside"><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> | <!-- ENDIF -->
                <!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a> | <!-- ENDIF --><span
                        class="timezone">{S_TIMEZONE}</span></li>
        </ul>

        {$CA_BLOCK_END}
    </div>
</div>

</div>

<div>
    <a id="bottom" name="bottom" accesskey="z"></a>
    <!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>


<div id="footer-clear">&nbsp;</div>
</div></div></div></div></div>
<div id="footer">
    <div>
        <div><span>.</span></div>
    </div>
</div>
<div id="copyrights">{CREDIT_LINE}
    <br/>Designed by <a href="http://www.stsoftware.biz/index.html">ST Software</a> for <a
            href="http://ptf.com/">PTF</a>.
    <!-- IF TRANSLATION_INFO --><br/>{TRANSLATION_INFO}<!-- ENDIF -->
    <!-- IF DEBUG_OUTPUT --><br/>{DEBUG_OUTPUT}<!-- ENDIF -->
    <!-- IF U_ACP --><br/><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
</div>

</div>

</body>
</html>
