<!-- INCLUDE simple_header.html -->

<script type="text/javascript">
    // <![CDATA[
    var form_name = 'postform';
    var text_name = 'message';
    // ]]>
</script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/editor.js"></script>

<h2>{L_SMILIES}</h2>
<div class="panel">
    {$CA_BLOCK_START}
    <!-- BEGIN smiley -->
    <a href="#" onclick="initInsertions(); insert_text('{smiley.A_SMILEY_CODE}', true, true); return false;"><img
            src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}"
            alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}"/></a>
    <!-- END smiley	-->

    {$CA_BLOCK_END}
</div>
<div>{PAGINATION}</div>
<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>

<!-- INCLUDE simple_footer.html -->