<!-- INCLUDE ucp_header.html -->

<!-- IF S_DRAFT_LOADED -->
<div class="panel">
    {$CA_BLOCK_START}

    <h3>{L_INFORMATION}</h3>
    <p>{L_DRAFT_LOADED_PM}</p>

    {$CA_BLOCK_END}
</div>
<!-- ENDIF -->

<!-- IF S_SHOW_DRAFTS --><!-- INCLUDE drafts.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<h2>{L_TITLE}</h2>

<div class="panel" id="postingbox">
    {$CA_BLOCK_START}

    <!-- DEFINE $EXTRA_POSTING_OPTIONS = 1 -->
    <!-- INCLUDE posting_editor.html -->

    {$CA_BLOCK_END}
</div>

<!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_REVIEW --><!-- INCLUDE posting_topic_review.html --><!-- ENDIF -->

<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->