<!-- INCLUDE overall_header.html -->
<script type="text/javascript">
    // <![CDATA[
    onload_functions.push('document.getElementById("keywords").focus();');
    // ]]>
</script>

<h2 class="solo">{L_SEARCH}</h2>

<form method="get" action="{S_SEARCH_ACTION}">

    <div class="panel">
        {$CA_BLOCK_START}
        <h3>{L_SEARCH_QUERY}</h3>

        <fieldset>
            <dl>
                <dt><label for="keywords">{L_SEARCH_KEYWORDS}:</label><br/><span>{L_SEARCH_KEYWORDS_EXPLAIN}</span></dt>
                <dd><input type="text" class="inputbox" name="keywords" id="keywords" size="40"
                           title="{L_SEARCH_KEYWORDS}"/></dd>
                <dd><label for="terms1"><input type="radio" name="terms" id="terms1" value="all" checked="checked"/>
                    {L_SEARCH_ALL_TERMS}</label></dd>
                <dd><label for="terms2"><input type="radio" name="terms" id="terms2" value="any"/> {L_SEARCH_ANY_TERMS}</label>
                </dd>
            </dl>
            <dl>
                <dt><label for="author">{L_SEARCH_AUTHOR}:</label><br/><span>{L_SEARCH_AUTHOR_EXPLAIN}</span></dt>
                <dd><input type="text" class="inputbox" name="author" id="author" size="40" title="{L_SEARCH_AUTHOR}"/>
                </dd>
            </dl>
        </fieldset>

        {$CA_BLOCK_END}
    </div>

    <div class="panel bg2">
        {$CA_BLOCK_START}

        <h3>{L_SEARCH_OPTIONS}</h3>

        <fieldset>
            <dl>
                <dt><label for="search_forum">{L_SEARCH_FORUMS}:</label><br/><span>{L_SEARCH_FORUMS_EXPLAIN}</span></dt>
                <dd><select name="fid[]" id="search_forum" multiple="multiple" size="8" title="{L_SEARCH_FORUMS}">{S_FORUM_OPTIONS}</select>
                </dd>
            </dl>
            <dl>
                <dt><label for="search_child1">{L_SEARCH_SUBFORUMS}:</label></dt>
                <dd>
                    <label for="search_child1"><input type="radio" name="sc" id="search_child1" value="1"
                                                      checked="checked"/> {L_YES}</label>
                    <label for="search_child2"><input type="radio" name="sc" id="search_child2" value="0"/>
                        {L_NO}</label>
                </dd>
            </dl>
            <dl>
                <dt><label for="sf1">{L_SEARCH_WITHIN}:</label></dt>
                <dd><label for="sf1"><input type="radio" name="sf" id="sf1" value="all" checked="checked"/>
                    {L_SEARCH_TITLE_MSG}</label></dd>
                <dd><label for="sf2"><input type="radio" name="sf" id="sf2" value="msgonly"/>
                    {L_SEARCH_MSG_ONLY}</label></dd>
                <dd><label for="sf3"><input type="radio" name="sf" id="sf3" value="titleonly"/>
                    {L_SEARCH_TITLE_ONLY}</label></dd>
                <dd><label for="sf4"><input type="radio" name="sf" id="sf4" value="firstpost"/>
                    {L_SEARCH_FIRST_POST}</label></dd>
            </dl>

            <hr class="dashed"/>

            <dl>
                <dt><label for="show_results1">{L_DISPLAY_RESULTS}:</label></dt>
                <dd>
                    <label for="show_results1"><input type="radio" name="sr" id="show_results1" value="posts"
                                                      checked="checked"/> {L_POSTS}</label>
                    <label for="show_results2"><input type="radio" name="sr" id="show_results2" value="topics"/>
                        {L_TOPICS}</label>
                </dd>
            </dl>
            <dl>
                <dt><label for="sd">{L_RESULT_SORT}:</label></dt>
                <dd>{S_SELECT_SORT_KEY}&nbsp;
                    <label for="sa"><input type="radio" name="sd" id="sa" value="a"/> {L_SORT_ASCENDING}</label>
                    <label for="sd"><input type="radio" name="sd" id="sd" value="d" checked="checked"/>
                        {L_SORT_DESCENDING}</label>
                </dd>
            </dl>
            <dl>
                <dt><label>{L_RESULT_DAYS}:</label></dt>
                <dd>{S_SELECT_SORT_DAYS}</dd>
            </dl>
            <dl>
                <dt><label>{L_RETURN_FIRST}:</label></dt>
                <dd><select name="ch" title="{L_RETURN_FIRST}">{S_CHARACTER_OPTIONS}</select> {L_POST_CHARACTERS}</dd>
            </dl>
        </fieldset>

        {$CA_BLOCK_END}
    </div>

    <div class="panel bg3">
        {$CA_BLOCK_START}

        <fieldset class="submit-buttons">
            {S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2"/>&nbsp;
            <input type="submit" name="submit" value="{L_SEARCH}" class="button1"/>
        </fieldset>

        {$CA_BLOCK_END}
    </div>

</form>

<!-- IF .recentsearch -->
<div class="forumbg forumbg-table">
    {$CA_BLOCK_START}

    <table class="table1" cellspacing="{$CA_TABLE_SPACING}">
        <thead>
        <tr>
            <th colspan="2" class="name">{L_RECENT_SEARCHES}</th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN recentsearch -->
        <tr class="<!-- IF recentsearch.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
            <td><a href="{recentsearch.U_KEYWORDS}">{recentsearch.KEYWORDS}</a></td>
            <td class="active"><span>&nbsp;{recentsearch.TIME}</span></td>
        </tr>
        <!-- BEGINELSE -->
        <tr class="bg1">
            <td colspan="2">{L_NO_RECENT_SEARCHES}</td>
        </tr>
        <!-- END recentsearch -->
        </tbody>
    </table>

    {$CA_BLOCK_END}
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->