</div>


<div class="copyright">{CREDIT_LINE}<br/>
    Designed by <a href="http://www.stsoftware.biz/index.html">ST Software</a> for <a
            href="http://ptf.com/">PTF</a>.<br/>
    <!-- IF TRANSLATION_INFO --><br/>{TRANSLATION_INFO}<!-- ENDIF -->
    <!-- IF DEBUG_OUTPUT --><br/>{DEBUG_OUTPUT}<!-- ENDIF -->
</div>
</div>

</body>
</html>