<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}" {S_FORM_ENCTYPE}>

    <h2>{L_TITLE}</h2>
    <div class="panel">
        {$CA_BLOCK_START}

        <fieldset>
            <!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
            <dl>
                <dt><label for="bbcode1">{L_DEFAULT_BBCODE}:</label></dt>
                <dd>
                    <label for="bbcode1"><input type="radio" name="bbcode" id="bbcode1" value="1"<!-- IF S_BBCODE -->
                        checked="checked"<!-- ENDIF --> /> {L_YES}</label>
                    <label for="bbcode0"><input type="radio" name="bbcode" id="bbcode0" value="0"
                        <!-- IF not S_BBCODE --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
                </dd>
            </dl>
            <dl>
                <dt><label for="smilies1">{L_DEFAULT_SMILIES}:</label></dt>
                <dd>
                    <label for="smilies1"><input type="radio" name="smilies" id="smilies1" value="1"
                        <!-- IF S_SMILIES --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
                    <label for="smilies0"><input type="radio" name="smilies" id="smilies0" value="0"
                        <!-- IF not S_SMILIES --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
                </dd>
            </dl>
            <dl>
                <dt><label for="sig1">{L_DEFAULT_ADD_SIG}:</label></dt>
                <dd>
                    <label for="sig1"><input type="radio" name="sig" id="sig1" value="1"<!-- IF S_SIG -->
                        checked="checked"<!-- ENDIF --> /> {L_YES}</label>
                    <label for="sig0"><input type="radio" name="sig" id="sig0" value="0"<!-- IF not S_SIG -->
                        checked="checked"<!-- ENDIF --> /> {L_NO}</label>
                </dd>
            </dl>
            <dl>
                <dt><label for="notify1">{L_DEFAULT_NOTIFY}:</label></dt>
                <dd>
                    <label for="notify1"><input type="radio" name="notify" id="notify1" value="1"<!-- IF S_NOTIFY -->
                        checked="checked"<!-- ENDIF --> /> {L_YES}</label>
                    <label for="notify0"><input type="radio" name="notify" id="notify0" value="0"
                        <!-- IF not S_NOTIFY --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
                </dd>
            </dl>
        </fieldset>

        {$CA_BLOCK_END}
    </div>

    <fieldset class="submit-buttons">
        {S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2"/>&nbsp;
        <input type="submit" name="submit" value="{L_SUBMIT}" class="button1"/>
        {S_FORM_TOKEN}
    </fieldset>
</form>

<!-- INCLUDE ucp_footer.html -->