<!-- IF $CA_PAGE == '' --><!-- DEFINE $CA_PAGE = 'ucp' --><!-- ENDIF --><!-- DEFINE $CA_SKIP_PM_NOTIFY = '1' --><!-- INCLUDE overall_header.html -->

<h2>{L_UCP}</h2>

<!-- IF S_COMPOSE_PM -->
<form id="postform" method="post" action="{S_POST_ACTION}" {S_FORM_ENCTYPE}>
    <!-- ENDIF -->

    <div style="width: 100%;">

        <div id="cp-menu">
            <div class="cp-mini" id="navigation">
                {$CA_CP_BLOCK_START}
                <ul>
                    <!-- BEGIN l_block1 -->
                    <!-- IF l_block1.S_SELECTED -->
                    <li class="active-section">
                        <div><a href="{l_block1.U_TITLE}"<!-- IF l_block1.S_FIRST_ROW --> class="first-row"
                            <!-- ELSEIF l_block1.S_LAST_ROW --> class="last-row"<!-- ENDIF --> ><span> {l_block1.L_TITLE}</span></a>
                        </div>
                    </li>
                    <!-- IF S_PRIVMSGS -->
                    <!-- BEGIN !folder -->
                    <!-- IF folder.S_CUR_FOLDER -->
                    <li class="active-subsection">
                        <div><a href="{folder.U_FOLDER}"<!-- IF folder.S_FIRST_ROW --> class="first-row"
                            <!-- ELSEIF folder.S_LAST_ROW --> class="last-row"<!-- ENDIF --> ><span><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong>
                                <!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></span></a></div>
                    </li>
                    <!-- ELSE -->
                    <li class="inactive-subsection">
                        <div><a href="{folder.U_FOLDER}"<!-- IF folder.S_FIRST_ROW --> class="first-row"
                            <!-- ELSEIF folder.S_LAST_ROW --> class="last-row"<!-- ENDIF --> ><span><!-- IF folder.UNREAD_MESSAGES > 0 --><strong>{folder.FOLDER_NAME} ({folder.UNREAD_MESSAGES})</strong>
                                <!-- ELSE -->{folder.FOLDER_NAME}<!-- ENDIF --></span></a></div>
                    </li>
                    <!-- ENDIF -->
                    <!-- END !folder -->
                    <!-- ENDIF -->
                    <!-- BEGIN l_block2 -->
                    <!-- IF (S_PRIVMSGS and l_block1.l_block2.S_LAST_ROW) or not S_PRIVMSGS -->
                    <!-- IF l_block1.l_block2.S_SELECTED -->
                    <li class="active-subsection">
                        <div><a href="{l_block1.l_block2.U_TITLE}"<!-- IF l_block1.l_block2.S_FIRST_ROW -->
                            class="first-row"<!-- ELSEIF l_block1.l_block2.S_LAST_ROW --> class="last-row"<!-- ENDIF -->
                            ><span>{l_block1.l_block2.L_TITLE}</span></a></div>
                    </li>
                    <!-- ELSE -->
                    <li class="inactive-subsection">
                        <div><a href="{l_block1.l_block2.U_TITLE}"<!-- IF l_block1.l_block2.S_FIRST_ROW -->
                            class="first-row"<!-- ELSEIF l_block1.l_block2.S_LAST_ROW --> class="last-row"<!-- ENDIF -->
                            ><span>{l_block1.l_block2.L_TITLE}</span></a></div>
                    </li>
                    <!-- ENDIF -->
                    <!-- ENDIF -->
                    <!-- END l_block2 -->
                    <!-- ELSE -->
                    <li class="inactive-section">
                        <div><a href="{l_block1.U_TITLE}"<!-- IF l_block1.S_FIRST_ROW --> class="first-row"
                            <!-- ELSEIF l_block1.S_LAST_ROW --> class="last-row"<!-- ENDIF -->
                            ><span>{l_block1.L_TITLE}</span></a></div>
                    </li>
                    <!-- ENDIF -->
                    <!-- END l_block1 -->
                </ul>
                {$CA_CP_BLOCK_END}
            </div>

            <!-- IF .friends_online or .friends_offline -->
            <div class="cp-mini">
                {$CA_CP_BLOCK_START}

                <dl class="mini">
                    <dt>{L_FRIENDS}</dt>

                    <!-- BEGIN friends_online -->
                    <dd class="friend-online" title="{L_FRIENDS_ONLINE}">{friends_online.USERNAME_FULL}
                        <!-- IF S_SHOW_PM_BOX --> <input type="submit" name="add_to[{friends_online.USER_ID}]"
                                                         value="{L_ADD}" class="button2"/><!-- ENDIF -->
                        <!-- IF friends_online.S_LAST_ROW and .friends_offline -->
                        <hr/><!-- ENDIF --></dd>
                    <!-- END friends_online -->

                    <!-- BEGIN friends_offline -->
                    <dd class="friend-offline" title="{L_FRIENDS_OFFLINE}">{friends_offline.USERNAME_FULL}
                        <!-- IF S_SHOW_PM_BOX --><input type="submit" name="add_to[{friends_offline.USER_ID}]"
                                                        value="{L_ADD}" class="button2"/><!-- ENDIF --></dd>
                    <!-- END friends_offline -->
                </dl>

                {$CA_CP_BLOCK_END}
            </div>
            <!-- ENDIF -->

            <!-- IF S_SHOW_COLOUR_LEGEND -->
            <div class="cp-mini">
                {$CA_CP_BLOCK_START}

                <dl class="mini">
                    <dt>{L_MESSAGE_COLOURS}</dt>
                    <!-- BEGIN pm_colour_info -->
                    <dd class="pm-legend<!-- IF pm_colour_info.CLASS --> {pm_colour_info.CLASS}<!-- ENDIF -->">
                        <!-- IF pm_colour_info.IMG -->{pm_colour_info.IMG} <!-- ENDIF -->{pm_colour_info.LANG}
                    </dd>
                    <!-- END pm_colour_info -->
                </dl>

                {$CA_CP_BLOCK_END}
            </div>
            <!-- ENDIF -->

        </div>

        <div id="cp-main" class="ucp-main">
            <div id="cp-inner">
