<!-- DEFINE $CA_PAGE = 'register' --><!-- INCLUDE overall_header.html -->

<!-- IF S_SHOW_COPPA or S_REGISTRATION -->

<!-- IF S_LANG_OPTIONS -->
<script type="text/javascript">
    // <![CDATA[
    /**
     * Change language
     */
    function change_language(lang_iso) {
        document.forms['register'].change_lang.value = lang_iso;
        document.forms['register'].submit();
    }

    // ]]>
</script>

<form method="post" action="{S_UCP_ACTION}" id="register">
    <p class="rightside">
        <label for="lang">{L_LANGUAGE}:</label><select name="lang" id="lang"
                                                       onchange="change_language(this.value); return false;"
                                                       title="{L_LANGUAGE}">{S_LANG_OPTIONS}</select>
        {S_HIDDEN_FIELDS}
    </p>
</form>

<div class="clear"></div>

<!-- ENDIF -->

<form method="post" action="{S_UCP_ACTION}" id="agreement">

    <div class="panel">
        {$CA_BLOCK_START}
        <div class="content">
            <h2>{SITENAME} - {L_REGISTRATION}</h2>
            <p><!-- IF S_SHOW_COPPA -->{L_COPPA_BIRTHDAY}<!-- ELSE --> {L_TERMS_OF_USE}<!-- ENDIF --></p>
        </div>
        {$CA_BLOCK_END}
    </div>

    <div class="panel">
        {$CA_BLOCK_START}
        <fieldset class="submit-buttons">
            <!-- IF S_SHOW_COPPA -->
            <strong><a href="{U_COPPA_NO}" class="button1">{L_COPPA_NO}</a></strong>&nbsp; <a href="{U_COPPA_YES}"
                                                                                              class="button2">{L_COPPA_YES}</a>
            <!-- ELSE -->
            <input type="submit" name="agreed" id="agreed" value="{L_AGREE}" class="button1"/>&nbsp;
            <input type="submit" name="not_agreed" value="{L_NOT_AGREE}" class="button2"/>
            <!-- ENDIF -->
            {S_HIDDEN_FIELDS}
            {S_FORM_TOKEN}
        </fieldset>
        {$CA_BLOCK_END}
    </div>
</form>

<!-- ELSEIF S_AGREEMENT -->

<div class="panel">
    {$CA_BLOCK_START}
    <div class="content">
        <h2>{SITENAME} - {AGREEMENT_TITLE}</h2>
        <p>{AGREEMENT_TEXT}</p>
        <hr class="dashed"/>
        <p><a href="{U_BACK}" class="button2">{L_BACK}</a></p>
    </div>
    {$CA_BLOCK_END}
</div>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->