<!-- DEFINE $CA_PAGE = 'pm' --><!-- INCLUDE ucp_header.html -->

<!-- DEFINE $CA_PM_NOBLOCK = '1' -->
<!-- INCLUDE ucp_pm_message_header.html -->

<!-- IF S_DISPLAY_HISTORY and (U_VIEW_PREVIOUS_HISTORY or U_VIEW_NEXT_HISTORY) -->
<fieldset class="display-options clearfix">
    <!-- IF U_VIEW_PREVIOUS_HISTORY --><a href="{U_VIEW_PREVIOUS_HISTORY}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_VIEW_PREVIOUS_HISTORY}</a>
    <!-- ENDIF -->
    <!-- IF U_VIEW_NEXT_HISTORY --><a href="{U_VIEW_NEXT_HISTORY}" class="right-box {S_CONTENT_FLOW_END}">{L_VIEW_NEXT_HISTORY}</a>
    <!-- ENDIF -->
</fieldset>
<!-- ENDIF -->


<div id="post-{MESSAGE_ID}"
     class="post pm<!-- IF S_POST_UNAPPROVED or S_POST_REPORTED --> reported<!-- ENDIF --><!-- IF S_ONLINE --> online<!-- ENDIF -->">
    {$CA_POST_START}
    <!-- IF not S_IS_BOT -->
    <!-- IF U_PM or U_EMAIL or U_WWW or U_MSN or U_ICQ or U_YIM or U_AIM or U_JABBER -->
    <!-- DEFINE $CA_POPUP = '1' -->
    <!-- ENDIF -->
    <!-- ENDIF -->
    <div id="maximize0" class="post-maximize" style="display: none;">
        <a href="javascript:void(0);" onclick="ca_post_maximize_all(); return false;"><span>&gt;&gt;</span></a>
    </div>
    <div id="profilediv0">
        {$CA_POST_PROFILE_START}
        <div class="postprofile" id="profile0">
            <div id="minimize0" class="post-minimize">
                <a href="javascript:void(0);" onclick="ca_post_minimize_all(); return false;"><span>&lt;&lt;</span></a>
            </div>
            <div class="profile-top">
                <p class="profile-author">
                    <a class="profile-link" id="link0"
                       href="<!-- IF U_MESSAGE_AUTHOR -->{U_MESSAGE_AUTHOR}<!-- ELSE -->javascript:void(0);<!-- ENDIF -->"
                    <!-- IF MESSAGE_AUTHOR_COLOUR --> style="color: {MESSAGE_AUTHOR_COLOUR};"<!-- ENDIF -->
                    >{MESSAGE_AUTHOR}</a>
                </p>
                <!-- IF $CA_POPUP -->
                <div id="popup0" class="profile-buttons">
                    <ul>
                        <!-- IF U_PM -->
                        <li class="pm-icon"><a href="{U_PM}"
                                               title="{L_PRIVATE_MESSAGE}"><span>{L_PRIVATE_MESSAGE}</span></a></li>
                        <!-- ENDIF -->
                        <!-- IF U_EMAIL -->
                        <li class="email-icon"><a href="{U_EMAIL}" title="{L_SEND_EMAIL_USER} {MESSAGE_AUTHOR}"><span>{L_SEND_EMAIL_USER} {MESSAGE_AUTHOR}</span></a>
                        </li><!-- ENDIF -->
                        <!-- IF U_WWW -->
                        <li class="web-icon"><a href="{U_WWW}"
                                                title="{L_VISIT_WEBSITE}: {U_WWW}"><span>{L_WEBSITE}</span></a></li>
                        <!-- ENDIF -->
                        <!-- IF U_MSN -->
                        <li class="msnm-icon"><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false;"
                                                 title="{L_MSNM}"><span>{L_MSNM}</span></a></li><!-- ENDIF -->
                        <!-- IF U_ICQ -->
                        <li class="icq-icon"><a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false;"
                                                title="{L_ICQ}"><span>{L_ICQ}</span></a></li><!-- ENDIF -->
                        <!-- IF U_YIM -->
                        <li class="yahoo-icon"><a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false;"
                                                  title="{L_YIM}"><span>{L_YIM}</span></a></li><!-- ENDIF -->
                        <!-- IF U_AIM -->
                        <li class="aim-icon"><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false;"
                                                title="{L_AIM}"><span>{L_AIM}</span></a></li><!-- ENDIF -->
                        <!-- IF U_JABBER -->
                        <li class="jabber-icon"><a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false;"
                                                   title="{L_JABBER}"><span>{L_JABBER}</span></a></li><!-- ENDIF -->
                    </ul>
                </div>
                <!-- ENDIF -->
                <script type="text/javascript">
                    // <![CDATA[
                    ca_popup_register('0');
                    // ]]>
                </script>
            </div>
            <!-- IF AUTHOR_AVATAR -->
            <div class="profile-avatar">
                {AUTHOR_AVATAR}
            </div>
            <!-- ENDIF -->
            <!-- IF RANK_TITLE or RANK_IMG -->
            <p class="profile-rank">
                {RANK_TITLE}
                <!-- IF RANK_TITLE and RANK_IMG --><br/><!-- ENDIF -->
                {RANK_IMG}
            </p>
            <!-- ENDIF -->

            <div class="profile-details">
                <!-- IF AUTHOR_POSTS != '' --><p><strong>{L_POSTS}:</strong> {AUTHOR_POSTS}</p><!-- ENDIF -->
                <!-- IF AUTHOR_JOINED --><p><strong>{L_JOINED}:</strong> {AUTHOR_JOINED}</p><!-- ENDIF -->
                <!-- IF AUTHOR_FROM --><p><strong>{L_LOCATION}:</strong> {AUTHOR_FROM}</p><!-- ENDIF -->
            </div>
        </div>
        {$CA_POST_PROFILE_END}
    </div>

    {$CA_POST_TEXT_START}
    <div class="postbody" id="body0">
        <div class="post-content">

            <p class="author">
                <strong>{L_SENT_AT}:</strong> {SENT_DATE}
                <br/><strong>{L_PM_FROM}:</strong> {MESSAGE_AUTHOR_FULL}
                <!-- IF S_TO_RECIPIENT --><br/><strong>{L_TO}:</strong> <!-- BEGIN to_recipient -->
                <!-- IF to_recipient.NAME_FULL -->{to_recipient.NAME_FULL}<!-- ELSE --><a href="{to_recipient.U_VIEW}"
                                                                                          style="color:<!-- IF to_recipient.COLOUR -->{to_recipient.COLOUR}<!-- ELSEIF to_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{to_recipient.NAME}</a>
                <!-- ENDIF -->&nbsp;<!-- END to_recipient --><!-- ENDIF -->
                <!-- IF S_BCC_RECIPIENT --><br/><strong>{L_BCC}:</strong> <!-- BEGIN bcc_recipient -->
                <!-- IF bcc_recipient.NAME_FULL -->{bcc_recipient.NAME_FULL}<!-- ELSE --><a
                    href="{bcc_recipient.U_VIEW}"
                    style="color:<!-- IF bcc_recipient.COLOUR -->{bcc_recipient.COLOUR}<!-- ELSEIF bcc_recipient.IS_GROUP -->#0000FF<!-- ENDIF -->;">{bcc_recipient.NAME}</a>
                <!-- ENDIF -->&nbsp;<!-- END bcc_recipient --><!-- ENDIF -->
            </p>

            <h3 class="first">{SUBJECT}</h3>

            <div class="content">{MESSAGE}</div>

            <!-- IF S_HAS_ATTACHMENTS -->
            <div class="ca-bbcode">
                <div class="ca-bbcode2 ca-attachment">
                    <dl class="attachbox">
                        <dt>{L_ATTACHMENTS}</dt>
                        <!-- BEGIN attachment -->
                        <dd>{attachment.DISPLAY_ATTACHMENT}</dd>
                        <!-- END attachment -->
                    </dl>
                </div>
            </div>
            <!-- ENDIF -->

            <!-- IF S_DISPLAY_NOTICE -->
            <div class="rules">{L_DOWNLOAD_NOTICE}</div>
            <!-- ENDIF -->

            <!-- IF EDITED_MESSAGE or EDIT_REASON -->
            <div class="notice">{EDITED_MESSAGE}
                <!-- IF EDIT_REASON --><br/><strong>{L_REASON}:</strong> <em>{EDIT_REASON}</em><!-- ENDIF -->
            </div>
            <!-- ENDIF -->

            <!-- IF SIGNATURE -->
            <div id="sig{MESSAGE_ID}" class="signature">{SIGNATURE}</div>
            <!-- ENDIF -->

            <!-- IF U_DELETE or U_EDIT or U_QUOTE or U_REPORT -->
            <ul class="profile-icons">
                <li class="top-icon"><a href="#top" class="top" title="{L_BACK_TO_TOP}"><span>{L_BACK_TO_TOP}</span></a>
                </li>
                <!-- IF U_EDIT -->
                <li class="edit-icon"><a href="{U_EDIT}" title="{L_POST_EDIT_PM}"><span>{L_POST_EDIT_PM}</span></a></li>
                <!-- ENDIF -->
                <!-- IF U_DELETE -->
                <li class="delete-icon"><a href="{U_DELETE}" title="{L_DELETE_MESSAGE}"><span>{L_DELETE_MESSAGE}</span></a>
                </li><!-- ENDIF -->
                <!-- IF U_REPORT -->
                <li class="report-icon"><a href="{U_REPORT}" title="{L_REPORT_PM}"><span>{L_REPORT_PM}</span></a></li>
                <!-- ENDIF -->
                <!-- IF U_QUOTE -->
                <li class="quote-icon"><a href="{U_QUOTE}" title="{L_POST_QUOTE_PM}"><span>{L_POST_QUOTE_PM}</span></a>
                </li><!-- ENDIF -->
            </ul>
            <!-- ENDIF -->

            <div class="clear"></div>

        </div>
    </div>
    {$CA_POST_TEXT_END}

    {$CA_POST_END}
</div>

<!-- IF S_VIEW_MESSAGE -->
<fieldset class="display-options">
    <!-- IF U_PREVIOUS_PM --><a href="{U_PREVIOUS_PM}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_VIEW_PREVIOUS_PM}</a>
    <!-- ENDIF -->
    <!-- IF U_NEXT_PM --><a href="{U_NEXT_PM}" class="right-box {S_CONTENT_FLOW_END}">{L_VIEW_NEXT_PM}</a><!-- ENDIF -->

    <!-- IF S_MARK_OPTIONS --><label for="mark_option"><select name="mark_option"
                                                               id="mark_option">{S_MARK_OPTIONS}</select></label>&nbsp;<input
        class="button2" type="submit" name="submit_mark" value="{L_GO}"/><!-- ENDIF -->
    <!-- IF not S_UNREAD and not S_SPECIAL_FOLDER --><label for="dest_folder"><!-- IF S_VIEW_MESSAGE -->
    {L_MOVE_TO_FOLDER}: <!-- ELSE -->{L_MOVE_MARKED_TO_FOLDER}<!-- ENDIF --> <select name="dest_folder"
                                                                                     id="dest_folder">{S_TO_FOLDER_OPTIONS}</select></label>
    <input class="button2" type="submit" name="move_pm" value="{L_GO}"/><!-- ENDIF -->
    <input type="hidden" name="marked_msg_id[]" value="{MSG_ID}"/>
    <input type="hidden" name="cur_folder_id" value="{CUR_FOLDER_ID}"/>
    <input type="hidden" name="p" value="{MSG_ID}"/>
</fieldset>
<!-- ENDIF -->

<!-- INCLUDE ucp_pm_message_footer.html -->

<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->