<!-- INCLUDE simple_header.html -->

<h2>{L_WHOIS}</h2>

<div class="panel">
    {$CA_BLOCK_START}

    <div class="postbody">
        <div class="content">
            <pre>{WHOIS}</pre>
        </div>
    </div>

    {$CA_BLOCK_END}
</div>
<a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a>

<!-- INCLUDE simple_footer.html -->