/**
 * This file provides styles for the Administration overview
 * (?do=admin).
 */

.dokuwiki ul.admin_tasks {
    float: left;
    width: 40%;
    list-style-type: none;
    font-size: 1.125em;
}

[dir=rtl] .dokuwiki ul.admin_tasks {
    float: right;
}

.dokuwiki ul.admin_tasks li {
    padding-left: 35px;
    margin: 0 0 1em 0;
    font-weight: bold;
    list-style-type: none;
    background: transparent none no-repeat scroll 0 0;
    color: inherit;
}

[dir=rtl] .dokuwiki ul.admin_tasks li {
    padding-left: 0;
    padding-right: 35px;
    background-position: right 0;
}

.dokuwiki ul.admin_tasks li.admin_acl {
    background-image: url(../../images/admin/acl.png);
}

.dokuwiki ul.admin_tasks li.admin_usermanager {
    background-image: url(../../images/admin/usermanager.png);
}

.dokuwiki ul.admin_tasks li.admin_plugin {
    background-image: url(../../images/admin/plugin.png);
}

.dokuwiki ul.admin_tasks li.admin_config {
    background-image: url(../../images/admin/config.png);
}

.dokuwiki ul.admin_tasks li.admin_revert {
    background-image: url(../../images/admin/revert.png);
}

.dokuwiki ul.admin_tasks li.admin_popularity {
    background-image: url(../../images/admin/popularity.png);
}

/* DokuWiki version below */
.dokuwiki #admin__version {
    clear: left;
    float: right;
    color: @ini_text_neu;
    background-color: inherit;
}

[dir=rtl] .dokuwiki #admin__version {
    clear: right;
    float: left;
}
