/**
 * This file provides the styles for the file uploader
 * used in the media manager (both fullscreen and popup).
 */

.qq-uploader {
    position: relative;
    width: 100%;
}

.qq-uploader .error {
    color: #f00;
    background-color: #fff;
}

/* select file button */

.qq-upload-button {
    display: inline-block;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
    margin: 1px 1px 5px;
}

* html .qq-upload-button,
* + html .qq-upload-button {
    display: inline;
}

.qq-upload-button-focus {
    outline: 1px dotted;
}

/* drop area */

.qq-upload-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 70px;
    z-index: 2;
    background: @ini_background_neu;
    color: @ini_text;
    text-align: center;
}

.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 120%;
}

.qq-upload-drop-area-active {
    background: @ini_background_alt;
}

/* list of files to upload */

div.qq-uploader ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.qq-uploader li {
    margin: 0 0 5px;
    color: @ini_text;
}

.qq-uploader li span,
.qq-uploader li input,
.qq-uploader li a {
    margin-right: 5px;
}

.qq-upload-file {
    display: block;
    font-weight: bold;
}

.qq-upload-spinner {
    display: inline-block;
    background: url("../../images/throbber.gif");
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}

.qq-upload-size,
.qq-upload-cancel {
    font-size: 85%;
}

.qq-upload-failed-text {
    display: none;
}

.qq-upload-fail .qq-upload-failed-text {
    display: inline;
}

.qq-action-container * {
    vertical-align: middle;
}

.qq-overwrite-check input {
    margin-left: 10px;
}
