/**
 * This file provides styles for the media manager popup
 * (mediamanager.php).
 */

/*____________ structure ____________*/

html.popup {
    overflow: auto;
}

#media__manager {
    height: 100%;
    overflow: hidden;
}

#mediamgr__aside {
    width: 30%;
    height: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
    border-right: 1px solid @ini_border;
}

[dir=rtl] #mediamgr__aside {
    left: auto;
    right: 0;
    border-right-width: 0;
    border-left: 1px solid @ini_border;
}

#mediamgr__aside .pad {
    padding: .5em;
}

#mediamgr__content {
    width: 69.7%;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0;
}

[dir=rtl] #mediamgr__content {
    right: auto;
    left: 0;
}

#mediamgr__content .pad {
    padding: .5em;
}

#media__manager h1,
#media__manager h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
    padding-bottom: .2em;
    border-bottom: 1px solid @ini_border;
}

/* left side
********************************************************************/

/*____________ options ____________*/

#media__opts {
    margin-bottom: .5em;
}

#media__opts input {
    margin-right: .3em;
}

[dir=rtl] #media__opts input {
    margin-right: 0;
    margin-left: .3em;
}

#media__opts label {
}

/*____________ tree ____________*/

#media__tree ul {
    padding-left: .2em;
}

[dir=rtl] #media__tree ul {
    padding-left: 0;
    padding-right: .2em;
}

#media__tree ul li {
    clear: left;
    list-style-type: none;
    list-style-image: none;
    margin-left: 0;
}

[dir=rtl] #media__tree ul li {
    clear: right;
    margin-right: 0;
}

#media__tree ul li img {
    float: left;
    padding: .5em .3em 0 0;
}

[dir=rtl] #media__tree ul li img {
    float: right;
    padding: .5em 0 0 .3em;
}

#media__tree ul li div.li {
    display: inline;
}

#media__tree ul li li {
    margin-left: 1.5em;
}

[dir=rtl] #media__tree ul li li {
    margin-left: 0;
    margin-right: 1.5em;
}

/* right side
********************************************************************/

/*____________ upload form ____________*/

/* upload info */
#media__content div.upload {
    font-size: .9em;
    margin-bottom: .5em;
}

#mediamanager__uploader {
    margin-bottom: 1em;
}

#mediamanager__uploader p {
    margin-bottom: .5em;
}

/*____________ file list ____________*/

#media__content img.load {
    margin: 1em auto;
}

#media__content .odd,
#media__content .even {
    padding: .5em;
}

#media__content .odd {
    background-color: @ini_background_alt;
}

#media__content .even {
}

/* highlight newly uploaded or edited file */
#media__content #scroll__here {
    border: 1px dashed @ini_border;
}

/* link which inserts media file */
#media__content a.mediafile {
    margin-right: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

[dir=rtl] #media__content a.mediafile {
    margin-right: 0;
    margin-left: 1.5em;
}

#media__content span.info {
}

#media__content img.btn {
    vertical-align: text-bottom;
}

/* info how to insert media, if JS disabled */
#media__content div.example {
    color: @ini_text_neu;
    margin-left: 1em;
}

#media__content div.detail {
    padding: .2em 0;
}

#media__content div.detail div.thumb {
    float: left;
    margin: 0 .5em 0 18px;
}

[dir=rtl] #media__content div.detail div.thumb {
    float: right;
    margin: 0 18px 0 .5em;
}

#media__content div.detail div.thumb a {
    display: block;
    cursor: pointer;
}

#media__content div.detail p {
    margin-bottom: 0;
}


/*____________ media search ____________*/

#dw__mediasearch {
}

#dw__mediasearch p {
}

#dw__mediasearch label {
}

#dw__mediasearch label span {
}

#dw__mediasearch input.edit {
}

#dw__mediasearch input.button {
}


/* meta edit form
********************************************************************/

#media__content form.meta {
}

#media__content form.meta div.metafield {
    clear: left;
    margin-bottom: .5em;
    overflow: hidden;
}

[dir=rtl] #media__content form.meta div.metafield {
    clear: right;
}

#media__content form.meta label {
    display: block;
    width: 25%;
    float: left;
    font-weight: bold;
    clear: left;
}

[dir=rtl] #media__content form.meta label {
    float: right;
    clear: right;
}

#media__content form.meta .edit {
    float: left;
    width: 70%;
    margin: 0;
}

[dir=rtl] #media__content form.meta .edit {
    float: right;
}

#media__content form.meta textarea.edit {
    /* needed because of IE8 hack in _edit.css for textarea.edit: */
    max-width: 70%;
    min-width: 70%;
}

#media__content form.meta div.buttons {
    clear: left;
    margin: .2em 0 0 25%;
}

[dir=rtl] #media__content form.meta div.buttons {
    clear: right;
    margin: .2em 25% 0 0;
}
