/**
 * This file provides the main design styles for the page content.
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Clarence Lee <clarencedglee@gmail.com>
 */

/*____________ section indenting ____________

.dokuwiki .page  h1 {margin-left: 0;}
.dokuwiki .page  h2 {margin-left: .666em;}
.dokuwiki .page  h3 {margin-left: 1.776em;}
.dokuwiki .page  h4 {margin-left: 3em;}
.dokuwiki .page  h5 {margin-left: 4.5712em;}
.dokuwiki .page  div.level1 {margin-left: 0;}
.dokuwiki .page  div.level2 {margin-left: 1em;}
.dokuwiki .page  div.level3 {margin-left: 2em;}
.dokuwiki .page  div.level4 {margin-left: 3em;}
.dokuwiki .page  div.level5 {margin-left: 4em;}

[dir=rtl] .dokuwiki .page h1 {margin-left: 0; margin-right: 0;}
[dir=rtl] .dokuwiki .page h2 {margin-left: 0; margin-right: .666em;}
[dir=rtl] .dokuwiki .page h3 {margin-left: 0; margin-right: 1.776em;}
[dir=rtl] .dokuwiki .page h4 {margin-left: 0; margin-right: 3em;}
[dir=rtl] .dokuwiki .page h5 {margin-left: 0; margin-right: 4.5712em;}
[dir=rtl] .dokuwiki .page div.level1 {margin-left: 0; margin-right: 0;}
[dir=rtl] .dokuwiki .page div.level2 {margin-left: 0; margin-right: 1em;}
[dir=rtl] .dokuwiki .page div.level3 {margin-left: 0; margin-right: 2em;}
[dir=rtl] .dokuwiki .page div.level4 {margin-left: 0; margin-right: 3em;}
[dir=rtl] .dokuwiki .page div.level5 {margin-left: 0; margin-right: 4em;}
*/
/* hx margin-left = (1 / font-size) * .levelx-margin */

/*____________ links to wiki pages (addition to _links) ____________*/

/* existing wikipage */
.dokuwiki a.wikilink1 {
  color: @ini_existing;
  background-color: inherit;
}

/* not existing wikipage */
.dokuwiki a.wikilink2 {
  color: @ini_missing;
  background-color: inherit;
}

/*____________ images ____________*/

/* embedded images (styles are already partly set in lib/styles/all.css) */
.dokuwiki img.media {
  margin: .2em 0;
}

.dokuwiki img.medialeft {
  margin: .2em 1em .2em 0;
}

.dokuwiki img.mediaright {
  margin: .2em 0 .2em 1em;
}

.dokuwiki img.mediacenter {
  margin: .2em auto;
}

/*____________ lists ____________*/

.dokuwiki .page,
.dokuwiki .aside {
  ul li {
    color: @ini_text_alt;
  }

  ol li {
    color: @ini_text_neu;
  }

  li .li {
    color: @ini_text;
  }
}

/*____________ tables ____________*/

/* div around each table */
.dokuwiki div.table {
  overflow-x: auto;
  margin-bottom: 1.4em;
}

.dokuwiki div.table table {
  margin-bottom: 0;
}

.dokuwiki table.inline {
  min-width: 50%;
}

.dokuwiki table.inline tr:hover td {
  background-color: @ini_background_alt;
}

.dokuwiki table.inline tr:hover th {
  background-color: @ini_border;
}

/*____________ code ____________*/

/* fix if background-color hides underlining */
.dokuwiki em.u code {
  text-decoration: underline;
}

/* filenames for downloadable file and code blocks */
.dokuwiki dl.code,
.dokuwiki dl.file {
  dt {
    background-color: @ini_background_site;
    .linear-gradient(~"top, @{ini_background_alt} 0%, @{ini_background_site} 100%");
    color: inherit;
    border: 1px solid @ini_border;
    border-bottom-color: @ini_background_site;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
    padding: .3em .6em .1em;
    margin-bottom: -1px;
    float: left;

    a {
      background-color: transparent;
      font-size: 0.875em;
      font-weight: normal;
      display: block;
      min-height: 16px;
    }
  }

  dd {
    margin: 0;
    clear: left;
    min-height: 1px; /* for IE7 */
  }

  pre {
    box-shadow: inset -4px -4px .5em -.3em @ini_border;
  }
}

[dir=rtl] .dokuwiki dl.code,
[dir=rtl] .dokuwiki dl.file {
  dt {
    float: right;
  }

  dd {
    clear: right;
  }
}

/* for code in <file> */
.dokuwiki dl.file {
  pre,
  dt {
    border-style: dashed;
  }

  dt {
    border-bottom-style: solid;
  }
}

/*____________ JS popup ____________*/

.JSpopup {
  background-color: @ini_background;
  color: @ini_text;
  border: 1px solid @ini_border;
  box-shadow: .1em .1em .1em @ini_border;
  border-radius: 2px;
  padding: .3em .5em;
  font-size: .9em;
}

.dokuwiki form.search div.ajax_qsearch {
  top: -.35em;
  font-size: 1em;
  text-overflow: ellipsis;
}

.JSpopup ul,
.JSpopup ol {
  padding-left: 0;
}

[dir=rtl] .JSpopup ul,
[dir=rtl] .JSpopup ol {
  padding-right: 0;
}

/* changes to underscored CSS files
********************************************************************/

#acl__tree li {
  margin: 0;
}

#dokuwiki__content span.curid a {
  font-weight: normal;
}

#dokuwiki__content strong span.curid a {
  font-weight: bold;
}

/*____________ changes to _edit ____________*/

.dokuwiki div.toolbar {
  button.toolbutton {
    border-radius: 0;
    border-left-width: 0;
    padding: .1em .35em;
  }

  button.toolbutton:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
  }

  button.toolbutton:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

[dir=rtl] .dokuwiki div.toolbar {
  button.toolbutton:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-width: 1px;
  }

  button.toolbutton:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0;
    border-right-width: 1px;
  }
}

.dokuwiki div.section_highlight {
  margin: 0 -2em;
  padding: 0 1em;
  border-width: 0 1em;
}

.dokuwiki textarea.edit {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Nimbus Mono L", Monaco, "Courier New", monospace;
}

.dokuwiki div.preview {
  margin: 0 -2em;
  padding: 0 2em;
}

.dokuwiki.hasSidebar div.preview {
  border-right: @ini_sidebar_width solid @ini_background_alt;
}

[dir=rtl] .dokuwiki.hasSidebar div.preview {
  border-right-width: 0;
  border-left: @ini_sidebar_width solid @ini_background_alt;
}

.dokuwiki div.preview div.pad {
  padding: 1.556em 0 2em;
}

/*____________ changes to _toc ____________*/

#dw__toc {
  margin: -1.556em -2em .5em 1.4em;
  width: @ini_sidebar_width;
  border-left: 1px solid @ini_border;
  background: @ini_background;
  color: inherit;
}

[dir=rtl] #dw__toc {
  margin: -1.556em 1.4em .5em -2em;
  border-left-width: 0;
  border-right: 1px solid @ini_border;
}

.dokuwiki h3.toggle {
  padding: .5em 1em;
  margin-bottom: 0;
  font-size: .875em;
  letter-spacing: .1em;
}

#dokuwiki__aside h3.toggle {
  display: none;
}

.dokuwiki .toggle strong {
  background: transparent url(images/toc-arrows.png) 0 0;
  width: 8px;
  height: 5px;
  margin: .4em 0 0;
}

.dokuwiki .toggle.closed strong {
  background-position: 0 -5px;
}

.dokuwiki .toggle strong span {
  display: none;
}

#dw__toc {
  > div {
    font-size: 0.875em;
    padding: .5em 1em 1em;
  }

  ul {
    padding: 0 0 0 1.2em;

    li {
      list-style-image: url(images/toc-bullet.png);
    }
  }

  ul li.clear {
    list-style: none;
  }

  ul li div.li {
    padding: .2em 0;
  }
}

[dir=rtl] #dw__toc ul {
  padding: 0 1.5em 0 0;
}

/*____________ changes to _imgdetail ____________*/

#dokuwiki__detail {
  padding: 0;

  img {
    float: none;
    margin-bottom: 1.4em;
  }

  div.img_detail {
    float: none;
  }

  div.img_detail dl {
    overflow: hidden;
  }

  div.img_detail dl dt {
    float: left;
    width: 9em;
    text-align: right;
    clear: left;
  }

  div.img_detail dl dd {
    margin-left: 9.5em;
  }
}

[dir=rtl] #dokuwiki__detail div.img_detail {
  dl dt {
    float: right;
    text-align: left;
    clear: right;
  }

  dl dd {
    margin-left: 0;
    margin-right: 9.5em;
  }
}