/**
 * linear gradient x-browser support
 */
.linear-gradient(@declaration: 0) {
  background: -moz-linear-gradient(@declaration);
  background: -webkit-linear-gradient(@declaration);
  background: -o-linear-gradient(@declaration);
  background: -ms-linear-gradient(@declaration);
  background: linear-gradient(@declaration);
}