/**
 * This file provides styles for the general layout structure.
 *
 * @author Anika Henke <anika@selfthinker.org>
 */
body {
  margin: 0 auto;
}

#dokuwiki__site {
  margin: 0 auto;
  max-width: @ini_site_width;
}

#dokuwiki__site > .site {
  padding: 0 .5em;
}

#dokuwiki__header {
  width: 100%;

  .headings {
    float: left;
  }

  .tools {
    float: right;
    text-align: right;
  }
}

[dir=rtl] #dokuwiki__header {
  .headings {
    float: right;
    text-align: right;
  }

  .tools {
    float: left;
    text-align: left;
  }
}

#dokuwiki__site .wrapper {
  position: relative;
}

#dokuwiki__aside {
  width: @ini_sidebar_width;
  float: left;
  position: relative;
  display: block;

  > .pad {
    margin: 0 1.5em 0 0;
  }
}

[dir=rtl] #dokuwiki__aside {
  float: right;

  > .pad {
    margin: 0 0 0 1.5em;
  }
}

.showSidebar #dokuwiki__content {
  float: right;
  margin-left: (-1 * @ini_sidebar_width);
  width: 100%;

  > .pad {
    margin-left: @ini_sidebar_width;
  }
}

[dir=rtl] .showSidebar #dokuwiki__content {
  float: left;
  margin-left: 0;
  margin-right: (-1 * @ini_sidebar_width);

  > .pad {
    margin-left: 0;
    margin-right: @ini_sidebar_width;
  }
}

#dokuwiki__footer {
  clear: both;
}
