/* Content Styles
---------------------------------------- */

ul.topiclist {
    display: block;
    list-style-type: none;
    margin: 0;
}

ul.forums {
    background: #f9f9f9 none repeat-x 0 0;
}

ul.topiclist li {
    display: block;
    list-style-type: none;
    color: #777777;
    margin: 0;
}

ul.topiclist dl {
    position: relative;
}

ul.topiclist li.row dl {
    padding: 2px 0;
}

ul.topiclist dt {
    display: block;
    float: left;
    width: 50%;
    font-size: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
}

ul.topiclist dd {
    display: block;
    float: left;
    border-left: 1px solid #FFFFFF;
    padding: 4px 0;
}

ul.topiclist dfn {
    /* Labels for post/view counts */
    position: absolute;
    left: -999px;
    width: 990px;
}

ul.topiclist li.row dt a.subforum {
    background-image: none;
    background-position: 0 50%;
    background-repeat: no-repeat;
    position: relative;
    white-space: nowrap;
    padding: 0 0 0 12px;
}

.forum-image {
    float: left;
    padding-top: 5px;
    margin-right: 5px;
}

div.forum-image-div {
    float: left;
}

li.row {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #8f8f8f;
}

li.row strong {
    font-weight: normal;
    color: #000000;
}

li.row:hover {
    background-color: #f6f6f6;
}

li.row:hover dd {
    border-left-color: #CCCCCC;
}

li.header, th {
    background-position: top left;
    background-repeat: repeat-x;
}

li.header dt, li.header dd {
    line-height: 1em;
    border-left-width: 0;
    margin: 4px 0 4px 0;
    color: #FFFFFF;
    padding: 2px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

li.header dt {
    font-weight: bold;
}

li.header dl.icon {
    min-height: 0;
}

li.header dl.icon dt {
    /* Tweak for headers alignment when folder icon used */
    padding-left: 4px;
    padding-right: 50px;
}

/* Forum list column styles */
dl.icon {
    min-height: 35px;
    background-position: 10px 50%; /* Position of folder icon */
    background-repeat: no-repeat;
}

dl.icon dt {
    padding-left: 45px; /* Space for folder icon */
    background-repeat: no-repeat;
    background-position: 5px 95%; /* Position of topic icon */
}

dd.posts, dd.topics, dd.views {
    width: 8%;
    text-align: center;
    line-height: 2.2em;
    font-size: 1.2em;
}

/* List in forum description */
dl.icon dt ol,
dl.icon dt ul {
    list-style-position: inside;
    margin-left: 1em;
}

dl.icon dt li {
    display: list-item;
    list-style-type: inherit;
}

dd.lastpost {
    width: 25%;
    font-size: 1.1em;
}

dd.redirect {
    font-size: 1.1em;
    line-height: 2.5em;
}

dd.moderation {
    font-size: 1.1em;
}

dd.lastpost span, ul.topiclist dd.searchby span, ul.topiclist dd.info span, ul.topiclist dd.time span, dd.redirect span, dd.moderation span {
    display: block;
    padding-left: 5px;
}

dd.time {
    width: auto;
    line-height: 200%;
    font-size: 1.1em;
}

dd.extra {
    width: 12%;
    line-height: 200%;
    text-align: center;
    font-size: 1.1em;
}

dd.mark {
    float: right !important;
    width: 9%;
    text-align: center;
    line-height: 200%;
    font-size: 1.2em;
}

dd.info {
    width: 30%;
}

dd.option {
    width: 15%;
    line-height: 200%;
    text-align: center;
    font-size: 1.1em;
}

dd.searchby {
    width: 47%;
    font-size: 1.1em;
    line-height: 1em;
}

ul.topiclist dd.searchextra {
    margin-left: 5px;
    padding: 0.2em 0;
    font-size: 1.1em;
    color: #333333;
    border-left: none;
    clear: both;
    width: 98%;
    overflow: hidden;
}

/* Container for post/reply buttons and pagination */
.topic-actions {
    margin-bottom: 3px;
    font-size: 1.1em;
    height: 28px;
    min-height: 28px;
}

div[class].topic-actions {
    height: auto;
}

/* Topic review panel
----------------------------------------*/
#review {
    margin-top: 2em;
}

#topicreview {
    padding-right: 5px;
    overflow: auto;
    height: 300px;
}

#topicreview .postbody {
    width: auto;
    float: none;
    margin: 0;
    height: auto;
}

#topicreview .post {
    height: auto;
}

#topicreview h2 {
    border-bottom-width: 0;
}

.post-ignore .postbody {
    display: none;
}

/* MCP Post details
----------------------------------------*/
#post_details {
    /* This will only work in IE7+, plus the others */
    overflow: auto;
    max-height: 300px;
}

#expand {
    clear: both;
}

/* Content container styles
----------------------------------------*/
.content {
    min-height: 3em;
    overflow: hidden;
    line-height: 1.4em;
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
    color: #333333;
    padding-bottom: 1px;
}

.content h2, .panel h2 {
    font-weight: normal;
    color: #989898;
    border-bottom: 1px solid #CCCCCC;
    font-size: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.panel h3 {
    margin: 0.5em 0;
}

.panel p {
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.4em;
}

#message p, #confirm p {
    text-align: center;
}

.content p {
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.4em;
}

dl.faq {
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 2em;
    line-height: 1.4em;
}

dl.faq dt {
    font-weight: bold;
    color: #333333;
}

.content dl.faq {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.content li {
    list-style-type: inherit;
}

.content ul, .content ol {
    margin-bottom: 1em;
    margin-left: 3em;
}

.posthilit {
    padding: 0 2px 1px 2px;
}

.announce, .unreadpost {
    /* Highlight the announcements & unread posts box */
    border-left-color: #BCBCBC;
    border-right-color: #BCBCBC;
}

/* Post noticies */
.notice {
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    width: auto;
    margin-top: 1.5em;
    padding-top: 0.2em;
    font-size: 1em;
    border-top: 1px dashed #CCCCCC;
    clear: left;
    line-height: 130%;
}

/* Jump to post link for now */
ul.searchresults {
    list-style: none;
    text-align: right;
    clear: both;
}

/* Post poll styles
----------------------------------------*/
fieldset.polls {
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

fieldset.polls dl {
    margin-top: 5px;
    border-top: 1px solid #e2e2e2;
    padding: 5px 0 0 0;
    line-height: 120%;
    color: #666666;
}

fieldset.polls dl.poll-first, fieldset.polls dl.poll-last {
    border-top-width: 0;
}

fieldset.polls dl.voted {
    font-weight: bold;
    color: #000000;
}

fieldset.polls dt {
    text-align: left;
    float: left;
    display: block;
    width: 30%;
    border-right: none;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

fieldset.polls dd {
    float: left;
    width: 10%;
    border-left: none;
    padding: 0 5px;
    margin-left: 0;
    font-size: 1.1em;
}

fieldset.polls dd.resultbar {
    width: 50%;
}

fieldset.polls dd input {
    margin: 2px 0;
}

fieldset.polls dd div {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 3px;
    overflow: visible;
    min-width: 2%;
}

.pollbar, .pollbar1, .pollbar2, .pollbar3, .pollbar4, .pollbar5 {
    background-color: #aaaaaa;
    background-position: top left;
    background-repeat: repeat-x;
    border: 1px solid #747474;
}

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
    width: 60% !important;
}

dl.pmlist dt textarea {
    width: 95%;
}

dl.pmlist dd {
    margin-left: 61% !important;
    margin-bottom: 2px;
}

/* Forum expand link */
.forum-expand {
    float: right;
    display: block;
    margin-top: 3px;
    margin-right: 5px;
    text-decoration: none;
    background-position: 0 0;
    position: absolute;
    right: 0;
}

.forum-expand:visited, .forum-expand:hover, .forum-expand:active {
    text-decoration: none;
}