#admin__version {
    clear: left;
    float: right;
    color: __text_neu__;
}

.dokuwiki ul.admin_tasks {
    font-size: 115%;
    float: left;
    width: 40%;
    list-style-type: none;
}

.dokuwiki ul.admin_tasks li {
    line-height: 22px;
    padding-left: 35px;
    margin: 1em 0;
    background: transparent none no-repeat scroll 0 0;
    text-align: left;
}

.dokuwiki ul.admin_tasks li div.li {
    font-weight: bold;
}

.dokuwiki ul.admin_tasks li.admin_acl {
    background-image: url(../../images/admin/acl.png);
}

.dokuwiki ul.admin_tasks li.admin_usermanager {
    background-image: url(../../images/admin/usermanager.png);
}

.dokuwiki ul.admin_tasks li.admin_plugin {
    background-image: url(../../images/admin/plugin.png);
}

.dokuwiki ul.admin_tasks li.admin_config {
    background-image: url(../../images/admin/config.png);
}

.dokuwiki ul.admin_tasks li.admin_revert {
    background-image: url(../../images/admin/revert.png);
}

.dokuwiki ul.admin_tasks li.admin_popularity {
    background-image: url(../../images/admin/popularity.png);
}
