#link__wiz {
}

#link__wiz_result {
    background-color: __background__;
    width: 293px;
    height: 193px;
    overflow: auto;
    border: 1px solid __border__;
    margin: 3px auto;
    text-align: left;
}

#link__wiz_result div.type_u {
    padding: 3px 3px 3px 22px;
    background: transparent url(../../images/up.png) 3px 3px no-repeat;
}

#link__wiz_result div.type_f {
    padding: 3px 3px 3px 22px;
    background: transparent url(../../images/page.png) 3px 3px no-repeat;
}

#link__wiz_result div.type_d {
    padding: 3px 3px 3px 22px;
    background: transparent url(../../images/ns.png) 3px 3px no-repeat;
}

#link__wiz_result div.even {
    background-color: __background_neu__;
}

#link__wiz_result div.selected {
    background-color: __background_alt__;
}

#link__wiz_result span {
    display: block;
    color: __text_neu__;
}
