<?php
/**
 * Example footer include
 *
 * This file shows you how to use the include hooks. However I recommend to
 * create your own complete new template instead. 
 */
?>
<div align="center" class="footerinc">

    <a target="_blank" href="http://www.slackware.com/" title="Powered by Slackware"><img
            src="<?php echo DOKU_TPL?>images/slackware.png" width="80" height="15" alt="Powered by Slackware"
            border="0"/></a>

    <a target="_blank" href="http://www.php.net/" title="Powered by PHP"><img
            src="<?php echo DOKU_TPL?>images/button-php.gif" width="80" height="15" alt="Powered by PHP"
            border="0"/></a>

    <a target="_blank" href="https://www.dokuwiki.org/" title="Driven by DokuWiki"><img
            src="<?php echo DOKU_TPL?>images/button-dw.png" width="80" height="15" alt="Driven by DokuWiki" border="0"/></a>

    <a target="_blank" href="http://www.mozilla.org/en-US/firefox/new/"
       title="do yourself a favour and use a real browser - get firefox"><img
            src="<?php echo DOKU_TPL?>images/button-firefox.png" width="80" height="15"
            alt="do yourself a favour and use a real browser - get firefox!!" border="0"/></a>

</div>
