/**
 * Layout and design corrections for right-to-left languages
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author Dotan Kamber <kamberd@yahoo.com>
 */

.bar-left {
    float: right;
    text-align: right;
}

.bar-right {
    float: left;
    text-align: left;
}

.pagename {
    float: right;
    text-align: right;
}

.logo {
    float: left;
    text-align: left;
}

label {
    text-align: left;
}

label.simple {
    text-align: right;
}

div.meta div.user {
    float: right;
}

div.meta div.doc {
    text-align: left;
}

/* ------------------  Design corrections  --------------------------------- */

div.dokuwiki ul,
div.dokuwiki ol {
    margin: 0.5em 3.5em 0.5em 0;
}

div.dokuwiki li ul,
div.dokuwiki li ol {
    margin: 0.5em 1.5em 0.5em 0;
}

div.dokuwiki a.urlextern,
div.dokuwiki a.interwiki,
div.dokuwiki a.mediafile,
div.dokuwiki a.windows,
div.dokuwiki a.mail {
    background-position: right 1px;
    padding-right: 16px;
    padding-left: 0;
    display: inline-block; /* needed for IE7 */
}

div.dokuwiki a.mediafile {
    padding-right: 18px;
}

div.dokuwiki div.secedit input.button {
    float: left;
}

/* headlines */
div.dokuwiki h1, div.dokuwiki h2, div.dokuwiki h3, div.dokuwiki h4, div.dokuwiki h5 {
    clear: right;
}

/* special headlines */
div.dokuwiki h1 {
    margin-left: 0px;
    margin-right: 0px;
}

div.dokuwiki h2 {
    margin-left: 0px;
    margin-right: 20px;
}

div.dokuwiki h3 {
    margin-left: 0px;
    margin-right: 40px;
}

div.dokuwiki h4 {
    margin-left: 0px;
    margin-right: 60px;
}

div.dokuwiki h5 {
    margin-left: 0px;
    margin-right: 80px;
}

/* indent different sections */
div.dokuwiki div.level1 {
    margin-left: 0px;
    margin-right: 3px;
}

div.dokuwiki div.level2 {
    margin-left: 0px;
    margin-right: 23px;
}

div.dokuwiki div.level3 {
    margin-left: 0px;
    margin-right: 43px;
}

div.dokuwiki div.level4 {
    margin-left: 0px;
    margin-right: 63px;
}

div.dokuwiki div.level5 {
    margin-left: 0px;
    margin-right: 83px;
}

/* TOC control */
div.dokuwiki #dw__toc {
    float: left;
    margin: 1.2em 2em 0 0;
}

div.dokuwiki #dw__toc h3 {
    text-align: right;
}

div.dokuwiki .toggle strong {
    float: left;
    margin: 0.4em 0 0 3px;
}

div.dokuwiki #dw__toc > div {
    text-align: right;
}

div.dokuwiki #dw__toc ul {
    padding: 0;
    padding-right: 1em;
}

div.dokuwiki #dw__toc ul li {
    background-position: right 0.6em;
    padding-right: 0.4em;
    direction: rtl;
}

div.dokuwiki #dw__toc ul li.clear {
    padding-right: 0.4em;
}

div.dokuwiki .code {
    direction: ltr;
    text-align: left;
}

div.dokuwiki blockquote {
    border-left: 0;
    padding-left: 0;
    border-right: 2px solid __border__;
    padding-right: 3px;
}

/* Admin corrections */
#admin__version {
    clear: right;
    float: left;
}

.dokuwiki ul.admin_tasks {
    float: right;
}

.dokuwiki ul.admin_tasks li {
    padding-left: 0px;
    padding-right: 35px;
    background: transparent none no-repeat scroll right 0;
    text-align: right;
}

/* Search corrections */
div.dokuwiki ul.search_quickhits li {
    float: right;
}

div#qsearch__out {
    text-align: right;
}
