<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
    <tr>
        <td class="row1">
            <p class="breadcrumbs"><a href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks --> &#187; <a
                    href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --></p>
            <p class="datetime">{S_TIMEZONE}</p>
        </td>
    </tr>
</table>