<!-- INCLUDE overall_header.html -->

<!-- IF U_MCP -->
<div id="pageheader">
    <p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
</div>

<br clear="all"/><br/>
<!-- ENDIF -->

<!-- INCLUDE forumlist_body.html -->

<!-- IF not S_IS_BOT or U_TEAM -->
<span class="gensmall"><!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><!-- ENDIF -->
    <!-- IF not S_IS_BOT and U_TEAM --> | <!-- ENDIF --><!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a>
    <!-- ENDIF --></span><br/>
<!-- ENDIF -->

<br clear="all"/>

<!-- INCLUDE breadcrumbs.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
<br clear="all"/>

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <td class="cat" colspan="2"><!-- IF U_VIEWONLINE --><h4><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h4>
            <!-- ELSE --><h4>{L_WHO_IS_ONLINE}</h4><!-- ENDIF --></td>
    </tr>
    <tr>
        <!-- IF LEGEND -->
        <td class="row1" rowspan="2" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif"
                                                                         alt="{L_WHO_IS_ONLINE}"/></td>
        <!-- ELSE -->
        <td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif"
                                                             alt="{L_WHO_IS_ONLINE}"/></td>
        <!-- ENDIF -->
        <td class="row1" width="100%"><span
                class="genmed">{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br/>{RECORD_USERS}<br/><br/>{LOGGED_IN_USER_LIST}</span>
        </td>
    </tr>
    <!-- IF LEGEND -->
    <tr>
        <td class="row1"><b class="gensmall">{L_LEGEND} :: {LEGEND}</b></td>
    </tr>
    <!-- ENDIF -->
</table>
<!-- ENDIF -->

<!-- IF S_DISPLAY_BIRTHDAY_LIST -->
<br clear="all"/>

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <td class="cat" colspan="2"><h4>{L_BIRTHDAYS}</h4></td>
    </tr>
    <tr>
        <td class="row1" align="center" valign="middle"><img src="{T_THEME_PATH}/images/whosonline.gif"
                                                             alt="{L_BIRTHDAYS}"/></td>
        <td class="row1" width="100%"><p class="genmed"><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}:
            <b>{BIRTHDAY_LIST}</b><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p></td>
    </tr>
</table>
<!-- ENDIF -->

<br clear="all"/>

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <td class="cat" colspan="2"><h4>{L_STATISTICS}</h4></td>
    </tr>
    <tr>
        <td class="row1"><img src="{T_THEME_PATH}/images/whosonline.gif" alt="{L_STATISTICS}"/></td>
        <td class="row1" width="100%" valign="middle"><p class="genmed">{TOTAL_POSTS} | {TOTAL_TOPICS} | {TOTAL_USERS} |
            {NEWEST_USER}</p></td>
    </tr>
</table>

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
<br clear="all"/>

<form method="post" action="{S_LOGIN_ACTION}">

    <table class="tablebg" width="100%" cellspacing="1">
        <tr>
            <td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></td>
        </tr>
        <tr>
            <td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post" type="text"
                                                                                             name="username" size="10"/>&nbsp;
                <span class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password"
                                                                 size="10"/>&nbsp; <!-- IF S_AUTOLOGIN_ENABLED --> <span
                        class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin"/>
                <!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}"/></td>
        </tr>
    </table>
    {S_LOGIN_REDIRECT}
    {S_FORM_TOKEN}
</form>
<!-- ENDIF -->

<br clear="all"/>

<table class="legend">
    <tr>
        <td width="20" align="center">{FORUM_UNREAD_IMG}</td>
        <td><span class="gensmall">{L_UNREAD_POSTS}</span></td>
        <td>&nbsp;&nbsp;</td>
        <td width="20" align="center">{FORUM_IMG}</td>
        <td><span class="gensmall">{L_NO_UNREAD_POSTS}</span></td>
        <td>&nbsp;&nbsp;</td>
        <td width="20" align="center">{FORUM_LOCKED_IMG}</td>
        <td><span class="gensmall">{L_FORUM_LOCKED}</span></td>
    </tr>
</table>

<!-- INCLUDE overall_footer.html -->