</td>
</tr>
</table>

<!-- IF PAGINATION -->
<table width="80%" align="{S_CONTENT_FLOW_END}" cellspacing="1">
    <tr>
        <td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br/></td>
        <td class="gensmall" nowrap="nowrap">&nbsp;[ <!-- IF TOTAL_TOPICS -->{TOTAL_TOPICS}<!-- ELSEIF TOTAL_POSTS -->
            {TOTAL_POSTS}<!-- ELSE --> {TOTAL}<!-- ENDIF --> ]&nbsp;
        </td>
        <td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">
            <!-- INCLUDE pagination.html --></td>
    </tr>
</table>
<br/>
<!-- ENDIF -->

</div>

<br clear="all"/>

<!-- INCLUDE breadcrumbs.html -->

<br clear="all"/>

<div align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->