<!-- INCLUDE mcp_header.html -->

<form name="mcp" id="mcp" method="post" action="{S_MCP_ACTION}">

    <table width="100%" class="tablebg" cellspacing="1" cellpadding="4" border="0">
        <tr>
            <th colspan="5" nowrap="nowrap">{L_DISPLAY_OPTIONS}</th>
        </tr>
        <tr>
            <td colspan="5" class="cat" align="center"><span class="gensmall">{L_DISPLAY_POSTS}:</span>
                {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY}
                {S_SELECT_SORT_DIR}<!-- IF not S_PM -->&nbsp;<span class="gensmall">{L_FORUM}</span> <select name="f">{S_FORUM_OPTIONS}</select>
                &nbsp; <!-- IF TOPIC_ID --><input type="checkbox" class="radio" name="t" value="{TOPIC_ID}"
                                                  checked="checked"/>&nbsp; <b>{L_ONLY_TOPIC}</b> &nbsp; <!-- ENDIF -->
                <!-- ENDIF --><input class="btnlite" type="submit" name="sort" value="{L_GO}"/></td>
        </tr>
        <tr>
            <!-- IF S_PM -->
            <th>&nbsp;{L_PM}&nbsp;</th>
            <th>&nbsp;{L_TO} &amp; {L_BCC}&nbsp;</th>
            <!-- ELSE -->
            <th>&nbsp;{L_POST}&nbsp;</th>
            <th>&nbsp;{L_AUTHOR}&nbsp;</th>
            <!-- ENDIF -->
            <th>&nbsp;{L_REPORTER}&nbsp;</th>
            <th>&nbsp;{L_REPORT_TIME}&nbsp;</th>
            <th width="5%">&nbsp;{L_SELECT}&nbsp;</th>
        </tr>
        <!-- BEGIN postrow -->

        <!-- IF postrow.S_ROW_ is even -->
        <tr class="row1"><!-- ELSE -->
        <tr class="row2"><!-- ENDIF -->
            <!-- IF S_PM -->
            <td style="padding: 4px;"><p class="topictitle"><a href="{postrow.U_VIEW_DETAILS}">{postrow.PM_SUBJECT}</a>
            </p>
                <span class="gensmall">{L_PM_FROM}: {postrow.PM_AUTHOR_FULL}</span></td>
            <td style="padding: 4px;" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><span
                    class="gen">{postrow.RECIPIENTS}</span><br/>
                <span class="gensmall">{L_SENT_AT}: {postrow.PM_TIME}</span></td>
            <!-- ELSE -->
            <td style="padding: 4px;"><p class="topictitle"><a href="{postrow.U_VIEWPOST}">{postrow.POST_SUBJECT}</a>
            </p>
                <span class="gensmall"><!-- IF postrow.U_VIEWFORUM -->{L_FORUM}: <a href="{postrow.U_VIEWFORUM}">{postrow.FORUM_NAME}</a>
                    <!-- ELSE -->{postrow.FORUM_NAME}<!-- ENDIF --></span></td>
            <td style="padding: 4px;" align="{S_CONTENT_FLOW_BEGIN}" valign="top" nowrap="nowrap"><span class="gen">{postrow.POST_AUTHOR_FULL}</span><br/>
                <span class="gensmall">{postrow.POST_TIME}</span></td>
            <!-- ENDIF -->
            <td style="padding: 4px;" align="{S_CONTENT_FLOW_BEGIN}" valign="top" nowrap="nowrap"><span class="gen">{postrow.REPORTER_FULL}</span>
            </td>
            <td style="padding: 4px;" align="{S_CONTENT_FLOW_BEGIN}" valign="top" nowrap="nowrap"><span class="gen">{postrow.REPORT_TIME}</span><br/>
                <span class="gensmall">[ <a href="{postrow.U_VIEW_DETAILS}">{L_VIEW_DETAILS}</a> ]</span></td>
            <td align="center"><input type="checkbox" class="radio" name="report_id_list[]"
                                      value="{postrow.REPORT_ID}"/></td>
        </tr>
        <!-- BEGINELSE -->
        <tr>
            <td class="row1" colspan="5" height="30" align="center" valign="middle"><span
                    class="gen">{L_NO_POSTS}</span></td>
        </tr>
        <!-- END postrow -->
        <tr>
            <td class="cat" colspan="5" align="center">
                <!-- IF S_CLOSED -->
                <input class="btnmain" type="submit" value="{L_DELETE_REPORTS}" name="action[delete]"/>
                <!-- ELSE -->
                <input class="btnmain" type="submit" name="action[close]" value="{L_CLOSE_REPORTS}"/> &nbsp; <input
                    class="btnlite" type="submit" value="{L_DELETE_REPORTS}" name="action[delete]"/>
                <!-- ENDIF -->
            </td>
        </tr>
    </table>
    {S_FORM_TOKEN}
</form>

<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
    <tr>
        <td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#"
                                                                                             onclick="marklist('mcp', '', true); return false;">{L_MARK_ALL}</a>
            :: <a href="#" onclick="marklist('mcp', '', false); return false;">{L_UNMARK_ALL}</a></b></td>
    </tr>
</table>

<!-- INCLUDE mcp_footer.html -->