<!-- INCLUDE mcp_header.html -->

<!-- IF S_MERGE_SELECT -->
<div style="float: {S_CONTENT_FLOW_END};"><!-- INCLUDE jumpbox.html --></div><!-- ENDIF -->

<!-- IF U_VIEW_FORUM_LOGS --><a href="{U_VIEW_FORUM_LOGS}">{L_VIEW_FORUM_LOGS}</a><!-- ENDIF -->

<!-- IF S_MERGE_SELECT --><br clear="{S_CONTENT_FLOW_END}"/><!-- ENDIF -->

<form method="post" id="mcp" action="{S_MCP_ACTION}">

    <table class="tablebg" width="100%" cellspacing="1">
        <tr>
            <td class="cat" colspan="6" align="center"><span class="gensmall">{L_DISPLAY_TOPICS}:</span>
                {S_SELECT_SORT_DAYS}&nbsp;<span class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY}
                {S_SELECT_SORT_DIR}&nbsp;<input class="btnlite" type="submit" name="sort" value="{L_GO}"/></td>
        </tr>
        <tr>
            <th width="4%" nowrap="nowrap">&nbsp;</th>
            <th nowrap="nowrap">&nbsp;{L_TOPICS}&nbsp;</th>
            <th width="8%" nowrap="nowrap">&nbsp;{L_REPLIES}&nbsp;</th>
            <th width="17%" nowrap="nowrap">&nbsp;{L_LAST_POST}&nbsp;</th>
            <th width="5%" nowrap="nowrap">&nbsp;{L_MARK}&nbsp;</th>
        </tr>
        <!-- BEGIN topicrow -->
        <tr>
            <td class="row1" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
            <!-- IF S_TOPIC_ICONS -->
            <!-- td class="row1" width="25" align="center">{topicrow.TOPIC_ICON_IMG}</td -->
            <!-- ENDIF -->
            <td class="row1">
                <!-- IF topicrow.S_SELECT_TOPIC -->
                <span class="genmed">[ <a href="{topicrow.U_SELECT_TOPIC}">{L_SELECT_MERGE}</a> ]&nbsp;</span>
                <!-- ENDIF -->
                <p class="topictitle">{NEWEST_POST_IMG} {topicrow.ATTACH_ICON_IMG} <a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a>
                    <!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
                    <a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a>&nbsp;
                    <!-- ENDIF -->
                    <!-- IF topicrow.S_TOPIC_REPORTED and topicrow.U_MCP_REPORT -->
                    <a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
                    <!-- ENDIF -->
                    <!-- IF topicrow.S_MOVED_TOPIC and S_CAN_DELETE -->
                    [ <a href="{topicrow.U_DELETE_TOPIC}">{L_DELETE_SHADOW_TOPIC}</a> ]&nbsp;
                    <!-- ENDIF -->
                </p>
            </td>
            <td class="row1" width="50" align="center"><p class="topicdetails">{topicrow.REPLIES}</p></td>
            <td class="row1" width="120" align="center"><p class="topicdetails">{topicrow.LAST_POST_TIME}</p></td>
            <td class="row2" align="center">
                <!-- IF not topicrow.S_MOVED_TOPIC and not S_MERGE_SELECT --><input type="checkbox" class="radio"
                                                                                    name="topic_id_list[]"
                                                                                    value="{topicrow.TOPIC_ID}"
                <!-- IF topicrow.S_TOPIC_CHECKED --> checked="checked"<!-- ENDIF --> /><!-- ELSE -->&nbsp;<!-- ENDIF -->
            </td>
        </tr>
        <!-- BEGINELSE -->
        <tr>
            <td class="row1" colspan="8" align="center"><p class="gen">{L_NO_TOPICS}</p></td>
        </tr>
        <!-- END topicrow -->
        <!-- IF not S_MERGE_SELECT -->
        <tr>
            <td class="cat" colspan="6" align="{S_CONTENT_FLOW_END}">
                <select name="action">
                    <option value="" selected="selected">{L_SELECT_ACTION}</option>
                    <!-- IF S_CAN_DELETE -->
                    <option value="delete_topic">{L_DELETE}</option><!-- ENDIF -->
                    <!-- IF S_CAN_MERGE -->
                    <option value="merge_topics">{L_MERGE}</option><!-- ENDIF -->
                    <!-- IF S_CAN_MOVE -->
                    <option value="move">{L_MOVE}</option><!-- ENDIF -->
                    <!-- IF S_CAN_FORK -->
                    <option value="fork">{L_FORK}</option><!-- ENDIF -->
                    <!-- IF S_CAN_LOCK -->
                    <option value="lock">{L_LOCK}</option>
                    <option value="unlock">{L_UNLOCK}</option><!-- ENDIF -->
                    <!-- IF S_CAN_SYNC -->
                    <option value="resync">{L_RESYNC}</option><!-- ENDIF -->
                    <!-- IF S_CAN_MAKE_NORMAL -->
                    <option value="make_normal">{L_MAKE_NORMAL}</option><!-- ENDIF -->
                    <!-- IF S_CAN_MAKE_STICKY -->
                    <option value="make_sticky">{L_MAKE_STICKY}</option><!-- ENDIF -->
                    <!-- IF S_CAN_MAKE_ANNOUNCE -->
                    <option value="make_announce">{L_MAKE_ANNOUNCE}</option>
                    <option value="make_global">{L_MAKE_GLOBAL}</option>
                    <!-- ENDIF -->
                </select>
                <input class="btnmain" type="submit" value="{L_SUBMIT}"/>
            </td>
        </tr>
        <!-- ENDIF -->
    </table>
    {S_FORM_TOKEN}
</form>

<!-- IF not S_MERGE_SELECT -->
<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
    <tr>
        <td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="gensmall"><a href="#"
                                                                                             onclick="marklist('mcp', 'topic_id_list', true); return false;">{L_MARK_ALL}</a>
            :: <a href="#" onclick="marklist('mcp', 'topic_id_list', false); return false;">{L_UNMARK_ALL}</a></b></td>
    </tr>
</table>
<!-- ENDIF -->

<!-- INCLUDE mcp_footer.html -->