<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th colspan="3">{L_GROUP_INFORMATION}</th>
    </tr>
    <tr>
        <td class="row1" width="20%"><b class="genmed">{L_GROUP_NAME}:</b></td>
        <td class="row2"><b class="gen"<!-- IF GROUP_COLOR --> style="color:#{GROUP_COLOR}"<!-- ENDIF -->
            >{GROUP_NAME}</b></td>
        <!-- IF AVATAR_IMG or RANK_IMG or GROUP_RANK or U_PM -->
        <td class="row1" width="33%" rowspan="2" align="center"><!-- IF AVATAR_IMG -->{AVATAR_IMG}<br/><!-- ENDIF -->
            <!-- IF RANK_IMG -->{RANK_IMG}<!-- ENDIF --><!-- IF GROUP_RANK --><span class="gensmall">{GROUP_RANK}</span><br/><br/>
            <!-- ENDIF --><!-- IF U_PM --><a href="{U_PM}">{PM_IMG}</a><!-- ENDIF --></td>
        <!-- ENDIF -->
    </tr>
    <tr>
        <td class="row1" width="20%"><b class="genmed">{L_GROUP_DESC}:</b></td>
        <td class="row2"><span class="gen">{GROUP_DESC}</span>
            <p class="forumdesc">{GROUP_TYPE}</p></td>
    </tr>
</table>
