<!-- INCLUDE overall_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th>{MESSAGE_TITLE}</th>
    </tr>
    <tr>
        <td class="row1" align="center"><br/>
            <p class="gen">{MESSAGE_TEXT}</p><br/></td>
    </tr>
</table>

<br clear="all"/>

<!-- INCLUDE breadcrumbs.html -->

<!-- INCLUDE overall_footer.html -->