<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th>{L_PREVIEW}</th>
    </tr>
    <tr>
        <td class="row1">{MINI_POST_IMG}<span class="postdetails">{L_POSTED}: {POST_DATE} &nbsp;&nbsp;&nbsp; {L_POST_SUBJECT}: {PREVIEW_SUBJECT}</span>
        </td>
    </tr>
    <!-- IF S_HAS_POLL_OPTIONS -->
    <tr>
        <td class="row2" colspan="2" align="center"><br clear="all"/>
            <table cellspacing="0" cellpadding="4" border="0" align="center">
                <tr>
                    <td align="center"><span class="gen"><b>{POLL_QUESTION}</b></span><br/><span class="gensmall">{L_POLL_LENGTH}</span>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <table cellspacing="0" cellpadding="2" border="0">
                            <!-- BEGIN poll_option -->
                            <tr>
                                <td>
                                    <!-- IF S_IS_MULTI_CHOICE -->
                                    <input type="checkbox" class="radio" name="vote_id" value=""/>
                                    <!-- ELSE -->
                                    <input type="radio" class="radio" name="vote_id" value=""/>
                                    <!-- ENDIF -->
                                </td>
                                <td><span class="gen">{poll_option.POLL_OPTION_CAPTION}</span></td>
                            </tr>
                            <!-- END poll_option -->
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center"><span class="gensmall">{L_MAX_VOTES}</span></td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- ENDIF -->
    <tr>
        <td class="row1">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>
                        <div class="postbody">{PREVIEW_MESSAGE}</div>
                        <!-- IF .attachment -->
                        <br clear="all"/><br/>

                        <table class="tablebg" width="100%" cellspacing="1">
                            <tr>
                                <td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td>
                            </tr>
                            <!-- BEGIN attachment -->
                            <tr>
                                <td class="row2">{attachment.DISPLAY_ATTACHMENT}</td>
                            </tr>
                            <!-- END attachment -->
                        </table>
                        <!-- ENDIF -->
                        <!-- IF PREVIEW_SIGNATURE --><span class="postbody"><br/>_________________<br/>{PREVIEW_SIGNATURE}</span>
                        <!-- ENDIF --></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="spacer"><img src="images/spacer.gif" alt="" width="1" height="1"/></td>
    </tr>
</table>

<br clear="all"/>
