<!-- INCLUDE ucp_header.html -->

<div id="pagecontent">

    <!-- INCLUDE ucp_pm_message_header.html -->
    <div style="padding: 2px;"></div>

    <table class="tablebg" width="100%" cellspacing="1" cellpadding="4">

        <tr class="row1">
            <td class="genmed" nowrap="nowrap" width="150"><b>{L_PM_SUBJECT}:</b></td>
            <td class="gen">{SUBJECT}</td>
        </tr>

        <tr class="row1">
            <td class="genmed" nowrap="nowrap" width="150"><b>{L_PM_FROM}:</b></td>
            <td class="gen">{MESSAGE_AUTHOR_FULL}</td>
        </tr>

        <tr class="row1">
            <td class="genmed" nowrap="nowrap" width="150"><b>{L_SENT_AT}:</b></td>
            <td class="gen">{SENT_DATE}</td>
        </tr>

        <!-- IF S_TO_RECIPIENT -->
        <tr class="row1">
            <td class="genmed" nowrap="nowrap" width="150"><b>{L_TO}:</b></td>
            <td class="gen">
                <!-- BEGIN to_recipient -->
                <!-- IF to_recipient.IS_GROUP --><span class="sep"><a
                    href="{to_recipient.U_VIEW}">{to_recipient.NAME}</a></span><!-- ELSE -->{to_recipient.NAME_FULL}&nbsp;
                <!-- ENDIF -->
                <!-- END to_recipient -->
            </td>
        </tr>
        <!-- ENDIF -->

        <!-- IF S_BCC_RECIPIENT -->
        <tr class="row1">
            <td class="genmed" nowrap="nowrap" width="150"><b>{L_BCC}:</b></td>
            <td class="gen">
                <!-- BEGIN bcc_recipient -->
                <!-- IF bcc_recipient.IS_GROUP --><span class="sep"><a href="{bcc_recipient.U_VIEW}">{bcc_recipient.NAME}</a></span>
                <!-- ELSE -->{bcc_recipient.NAME_FULL}&nbsp;<!-- ENDIF -->
                <!-- END bcc_recipient -->
            </td>
        </tr>
        <!-- ENDIF -->
    </table>

    <div style="padding: 2px;"></div>

    <table class="tablebg" width="100%" cellspacing="1" cellpadding="0">

        <tr>
            <th nowrap="nowrap">{L_MESSAGE}</th>
        </tr>

        <tr>
            <td class="spacer" height="1"><img src="images/spacer.gif" alt="" width="1" height="1"/></td>
        </tr>

        <tr class="row1">
            <td valign="top">
                <table width="100%" cellspacing="5">
                    <tr>
                        <td>
                            <div class="postbody">{MESSAGE}</div>

                            <!-- IF S_HAS_ATTACHMENTS -->
                            <br clear="all"/><br/>

                            <table class="tablebg" width="100%" cellspacing="1">
                                <tr>
                                    <td class="row3"><b class="genmed">{L_ATTACHMENTS}: </b></td>
                                </tr>
                                <!-- BEGIN attachment -->
                                <tr>
                                    <td class="row2">{attachment.DISPLAY_ATTACHMENT}</td>
                                </tr>
                                <!-- END attachment -->
                            </table>
                            <!-- ENDIF -->

                            <!-- IF S_DISPLAY_NOTICE -->
                            <span class="gensmall error"><br/><br/>{L_DOWNLOAD_NOTICE}</span>
                            <!-- ENDIF -->
                            <!-- IF SIGNATURE -->
                            <span class="postbody"><br/>_________________<br/>{SIGNATURE}</span>
                            <!-- ENDIF -->
                            <!-- IF EDITED_MESSAGE -->
                            <span class="gensmall">{EDITED_MESSAGE}</span>
                            <!-- ENDIF -->

                            <!-- IF not S_HAS_ATTACHMENTS --><br clear="all"/><br/><!-- ENDIF -->

                            <table width="100%" cellspacing="0">
                                <tr valign="middle">
                                    <td class="gensmall" align="{S_CONTENT_FLOW_END}"> <!-- IF U_REPORT --><a
                                            href="{U_REPORT}">{REPORT_IMG}</a> <!-- ENDIF --><!-- IF U_DELETE --><a
                                            href="{U_DELETE}">{DELETE_IMG}</a> <!-- ENDIF --></td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="row1">
            <td>
                <div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};">&nbsp;<!-- IF U_MESSAGE_AUTHOR --><a
                        href="{U_MESSAGE_AUTHOR}">{PROFILE_IMG}</a> <!-- ENDIF --> <!-- IF U_EMAIL --><a
                        href="{U_EMAIL}">{EMAIL_IMG}</a> <!-- ENDIF -->&nbsp;
                </div>
                <div class="gensmall" style="float: {S_CONTENT_FLOW_END};"><!-- IF U_EDIT --><a href="{U_EDIT}">{EDIT_IMG}</a>
                    <!-- ENDIF --> <!-- IF U_QUOTE --><a href="{U_QUOTE}">{QUOTE_IMG}</a> <!-- ENDIF -->
                    <!-- IF U_POST_REPLY_PM --><a href="{U_POST_REPLY_PM}">{REPLY_IMG}</a><!-- ENDIF -->&nbsp;
                </div>
            </td>
        </tr>

        <tr>
            <td class="spacer" height="1"><img src="images/spacer.gif" alt="" width="1" height="1"/></td>
        </tr>
    </table>

    <div style="padding: 2px;"></div>
    <!-- INCLUDE ucp_pm_message_footer.html -->

    <br clear="all"/>

</div>

<!-- IF S_DISPLAY_HISTORY --><!-- INCLUDE ucp_pm_history.html --><!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->
