<!-- INCLUDE overall_header.html -->


<!-- IF S_SHOW_PM_BOX and S_POST_ACTION -->
<form action="{S_POST_ACTION}" method="post" name="postform" {S_FORM_ENCTYPE}>
    <!-- ENDIF -->
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td width="20%" valign="top">

                <!-- IF S_SHOW_PM_BOX and S_POST_ACTION -->
                <table class="tablebg" width="100%" cellspacing="1">
                    <tr>
                        <th>{L_PM_TO}</th>
                    </tr>
                    <!-- IF not S_ALLOW_MASS_PM -->
                    <tr>
                        <td class="row1"><b class="genmed">{L_USERNAME}:</b><br/>[ <a href="{U_FIND_USERNAME}"
                                                                                      onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
                            ]
                        </td>
                    </tr>

                    <tr>
                        <td class="row2"><input class="post" type="text" name="username_list" size="20" value=""/>&nbsp;<input
                                class="post" type="submit" name="add_to" value="{L_ADD}"/></td>
                    </tr>
                    <!-- ELSE -->
                    <tr>
                        <td class="row1"><b class="genmed">{L_USERNAMES}:</b></td>
                    </tr>
                    <tr>
                        <td class="row2"><textarea name="username_list" rows="5" cols="22" tabindex="1"></textarea><br/>
                            [ <a href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a>
                            ]
                        </td>
                    </tr>
                    <!-- ENDIF -->
                    <!-- IF S_GROUP_OPTIONS -->
                    <tr>
                        <td class="row1"><b class="genmed">{L_USERGROUPS}:</b></td>
                    </tr>
                    <tr>
                        <td class="row2"><select name="group_list[]" multiple="multiple" size="5" style="width:150px">{S_GROUP_OPTIONS}</select>
                        </td>
                    </tr>
                    <!-- ENDIF -->
                    <!-- IF S_ALLOW_MASS_PM -->
                    <tr>
                        <td class="row1">
                            <div style="float: {S_CONTENT_FLOW_BEGIN};">&nbsp;<input class="post" type="submit"
                                                                                     name="add_bcc" value="{L_ADD_BCC}"
                                                                                     tabindex="1"/>&nbsp;
                            </div>
                            <div style="float: {S_CONTENT_FLOW_END};">&nbsp;<input class="post" type="submit"
                                                                                   name="add_to" value="{L_ADD_TO}"
                                                                                   tabindex="1"/>&nbsp;
                            </div>
                        </td>
                    </tr>
                    <!-- ENDIF -->
                </table>
                <div style="padding: 2px;"></div>
                <!-- ENDIF -->

                <table class="tablebg" width="100%" cellspacing="1">
                    <tr>
                        <th>{L_OPTIONS}</th>
                    </tr>

                    <!-- BEGIN l_block1 -->
                    <tr>
                        <!-- IF l_block1.S_SELECTED -->
                        <td class="row1"><b class="nav">{l_block1.L_TITLE}</b>

                            <!-- IF S_PRIVMSGS -->

                            <!-- the ! at the beginning of the loop name forces the loop to be not a nested one of l_block1 (it gets parsed separately) -->
                            <!-- BEGIN !folder -->
                            <!-- IF folder.S_FIRST_ROW -->
                            <ul class="nav" style="margin: 0; padding: 0; list-style-type: none; line-height: 175%;">
                                <!-- ENDIF -->

                                <!-- IF folder.S_CUR_FOLDER -->
                                <li class="row2" style="padding: 1px 0;">&#187; <a href="{folder.U_FOLDER}">{folder.FOLDER_NAME}
                                    <!-- IF folder.S_UNREAD_MESSAGES --> ({folder.UNREAD_MESSAGES})<!-- ENDIF --></a>
                                </li>
                                <!-- ELSE -->
                                <li>&#187; <a href="{folder.U_FOLDER}">{folder.FOLDER_NAME}
                                    <!-- IF folder.S_UNREAD_MESSAGES --> ({folder.UNREAD_MESSAGES})<!-- ENDIF --></a>
                                </li>
                                <!-- ENDIF -->

                                <!-- IF folder.S_LAST_ROW -->
                            </ul>
                            <hr/>
                            <!-- ENDIF -->
                            <!-- END !folder -->

                            <!-- ENDIF -->

                            <ul class="nav" style="margin: 0; padding: 0; list-style-type: none; line-height: 175%;">
                                <!-- BEGIN l_block2 -->
                                <li>&#187; <!-- IF l_block1.l_block2.S_SELECTED --><b>{l_block1.l_block2.L_TITLE}</b>
                                    <!-- ELSE --><a href="{l_block1.l_block2.U_TITLE}">{l_block1.l_block2.L_TITLE}</a>
                                    <!-- ENDIF --></li>
                                <!-- END l_block2 -->
                            </ul>
                            <!-- ELSE -->
                        <td class="row2" nowrap="nowrap" onmouseover="this.className='row1'"
                            onmouseout="this.className='row2'" onclick="location.href=this.firstChild.href;"><a
                                class="nav" href="{l_block1.U_TITLE}">{l_block1.L_TITLE}</a>
                            <!-- ENDIF -->
                        </td>
                    </tr>
                    <!-- END l_block1 -->
                </table>

                <div style="padding: 2px;"></div>

                <!-- IF S_SHOW_COLOUR_LEGEND -->
                <table class="tablebg" width="100%" cellspacing="1" cellpadding="0">
                    <tr>
                        <th colspan="2">{L_MESSAGE_COLOURS}</th>
                    </tr>
                    <!-- BEGIN pm_colour_info -->
                    <tr>
                        <!-- IF not pm_colour_info.IMG -->
                        <td class="row1 {pm_colour_info.CLASS}" width="5"><img src="images/spacer.gif" width="5"
                                                                               alt="{pm_colour_info.LANG}"/></td>
                        <!-- ELSE -->
                        <td class="row1" width="25" align="center">{pm_colour_info.IMG}</td>
                        <!-- ENDIF -->
                        <td class="row1"><span class="genmed">{pm_colour_info.LANG}</span></td>
                    </tr>
                    <!-- END pm_colour_info -->
                </table>

                <div style="padding: 2px;"></div>
                <!-- ENDIF -->

                <!-- IF S_ZEBRA_ENABLED and S_ZEBRA_FRIENDS_ENABLED -->
                <table class="tablebg" width="100%" cellspacing="1">
                    <tr>
                        <th>{L_FRIENDS}</th>
                    </tr>
                    <tr>
                        <td class="row1" align="center">

                            <b class="genmed" style="color:green">{L_FRIENDS_ONLINE}</b>

                            <ul class="nav" style="margin: 0; padding: 0; list-style-type: none; line-height: 175%;">
                                <!-- BEGIN friends_online -->
                                <li>{friends_online.USERNAME_FULL}
                                    <!-- IF S_SHOW_PM_BOX -->
                                    &nbsp;[ <input class="post" style="font-size: 90%;" type="submit"
                                                   name="add_to[{friends_online.USER_ID}]" value="{L_ADD}"/> ]
                                    <!-- ENDIF -->
                                </li>
                                <!-- BEGINELSE -->
                                <li>{L_NO_FRIENDS_ONLINE}</li>
                                <!-- END friends_online -->
                            </ul>

                            <hr/>

                            <b class="genmed" style="color:red">{L_FRIENDS_OFFLINE}</b>

                            <ul class="nav" style="margin: 0; padding: 0; list-style-type: none; line-height: 175%;">
                                <!-- BEGIN friends_offline -->
                                <li>{friends_offline.USERNAME_FULL}
                                    <!-- IF S_SHOW_PM_BOX -->
                                    &nbsp;[ <input class="post" style="font-size: 90%;" type="submit"
                                                   name="add_to[{friends_offline.USER_ID}]" value="{L_ADD}"/> ]
                                    <!-- ENDIF -->
                                </li>
                                <!-- BEGINELSE -->
                                <li>{L_NO_FRIENDS_OFFLINE}</li>
                                <!-- END friends_offline -->
                            </ul>

                        </td>
                    </tr>
                </table>
                <!-- ENDIF -->

            </td>
            <td><img src="images/spacer.gif" width="4" alt=""/></td>
            <td width="80%" valign="top"><!-- IF not S_PRIVMSGS or S_SHOW_DRAFTS -->
                <form name="ucp" id="ucp" method="post" action="{S_UCP_ACTION}" {S_FORM_ENCTYPE}><!-- ENDIF -->
