<!-- INCLUDE ucp_header.html -->

<script type="text/javascript">
    // <![CDATA[
    /**
     * Set display of page element
     * s[-1,0,1] = hide,toggle display,show
     */
    function dE(n, s) {
        var e = document.getElementById(n);
        if (!s) {
            s = (e.style.display == '') ? -1 : 1;
        }
        e.style.display = (s == 1) ? 'block' : 'none';
    }

    var default_dateformat = '{A_DEFAULT_DATEFORMAT}';
    // ]]>
</script>

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th colspan="2" valign="middle">{L_TITLE}</th>
    </tr>
    <!-- IF ERROR -->
    <tr>
        <td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
    </tr>
    <!-- ENDIF -->
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_SHOW_EMAIL}:</b></td>
        <td class="row2"><input type="radio" class="radio" name="viewemail" value="1"<!-- IF S_VIEW_EMAIL -->
            checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio"
                                                                                                    class="radio"
                                                                                                    name="viewemail"
                                                                                                    value="0"
            <!-- IF not S_VIEW_EMAIL --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
    </tr>
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_ADMIN_EMAIL}:</b></td>
        <td class="row2"><input type="radio" class="radio" name="massemail" value="1"<!-- IF S_MASS_EMAIL -->
            checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio"
                                                                                                    class="radio"
                                                                                                    name="massemail"
                                                                                                    value="0"
            <!-- IF not S_MASS_EMAIL --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
    </tr>
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_ALLOW_PM}:</b><br/><span
                class="gensmall">{L_ALLOW_PM_EXPLAIN}</span></td>
        <td class="row2"><input type="radio" class="radio" name="allowpm" value="1"<!-- IF S_ALLOW_PM -->
            checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio"
                                                                                                    class="radio"
                                                                                                    name="allowpm"
                                                                                                    value="0"
            <!-- IF not S_ALLOW_PM --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
    </tr>
    <!-- IF S_CAN_HIDE_ONLINE -->
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_HIDE_ONLINE}:</b><br/><span class="gensmall">{L_HIDE_ONLINE_EXPLAIN}</span>
        </td>
        <td class="row2"><input type="radio" class="radio" name="hideonline" value="1"<!-- IF S_HIDE_ONLINE -->
            checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio"
                                                                                                    class="radio"
                                                                                                    name="hideonline"
                                                                                                    value="0"
            <!-- IF not S_HIDE_ONLINE --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
    </tr>
    <!-- ENDIF -->
    <!-- IF S_SELECT_NOTIFY -->
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_NOTIFY_METHOD}:</b><br/><span class="gensmall">{L_NOTIFY_METHOD_EXPLAIN}</span>
        </td>
        <td class="row2"><input type="radio" class="radio" name="notifymethod" value="0"<!-- IF S_NOTIFY_EMAIL -->
            checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NOTIFY_METHOD_EMAIL}</span>&nbsp;&nbsp;<input
                    type="radio" class="radio" name="notifymethod" value="1"<!-- IF S_NOTIFY_IM --> checked="checked"
            <!-- ENDIF --> /><span class="genmed">{L_NOTIFY_METHOD_IM}</span>&nbsp;&nbsp;<input type="radio"
                                                                                                class="radio"
                                                                                                name="notifymethod"
                                                                                                value="2"
            <!-- IF S_NOTIFY_BOTH --> checked="checked"<!-- ENDIF --> /><span
                    class="genmed">{L_NOTIFY_METHOD_BOTH}</span></td>
    </tr>
    <!-- ENDIF -->
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_NOTIFY_ON_PM}:</b></td>
        <td class="row2"><input type="radio" class="radio" name="notifypm" value="1"<!-- IF S_NOTIFY_PM -->
            checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio"
                                                                                                    class="radio"
                                                                                                    name="notifypm"
                                                                                                    value="0"
            <!-- IF not S_NOTIFY_PM --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
    </tr>
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_POPUP_ON_PM}:</b></td>
        <td class="row2"><input type="radio" class="radio" name="popuppm" value="1"<!-- IF S_POPUP_PM -->
            checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio"
                                                                                                    class="radio"
                                                                                                    name="popuppm"
                                                                                                    value="0"
            <!-- IF not S_POPUP_PM --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
    </tr>
    <!-- IF S_MORE_LANGUAGES -->
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_BOARD_LANGUAGE}:</b></td>
        <td class="row2"><select name="lang">{S_LANG_OPTIONS}</select></td>
    </tr>
    <!-- ENDIF -->
    <!-- IF S_STYLE_OPTIONS and S_MORE_STYLES -->
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_BOARD_STYLE}:</b></td>
        <td class="row2"><select name="style">{S_STYLE_OPTIONS}</select></td>
    </tr>
    <!-- ENDIF -->
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_BOARD_TIMEZONE}:</b></td>
        <td class="row2">
            <select id="tz" name="tz">{S_TZ_OPTIONS}</select>
        </td>
    </tr>
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_BOARD_DST}:</b></td>
        <td class="row2"><input type="radio" class="radio" name="dst" value="1"<!-- IF S_DST --> checked="checked"
            <!-- ENDIF --> /> <span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio" class="radio"
                                                                                    name="dst" value="0"
            <!-- IF not S_DST --> checked="checked"<!-- ENDIF --> /> <span class="genmed">{L_NO}</span></td>
    </tr>
    <tr>
        <td class="row1" width="50%"><b class="genmed">{L_BOARD_DATE_FORMAT}:</b><br/><span class="gensmall">{L_BOARD_DATE_FORMAT_EXPLAIN}</span>
        </td>
        <td class="row2">
            <select name="dateoptions" id="dateoptions"
                    onchange="if(this.value=='custom'){dE('custom_date',1);}else{dE('custom_date',-1);} if (this.value == 'custom') { document.getElementById('dateformat').value = default_dateformat; } else { document.getElementById('dateformat').value = this.value; }">
                {S_DATEFORMAT_OPTIONS}
            </select>
            <div id="custom_date"<!-- IF not S_CUSTOM_DATEFORMAT --> style="display:none;"<!-- ENDIF --> ><input
                type="text" name="dateformat" id="dateformat" value="{DATE_FORMAT}" maxlength="30" class="post"
                style="margin-top: 3px;"/></div>
        </td>
    </tr>
    <tr>
        <td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit"
                                                                           value="{L_SUBMIT}"/>&nbsp;&nbsp;<input
                class="btnlite" type="reset" value="{L_RESET}" name="reset"/></td>
    </tr>
</table>

<!-- INCLUDE ucp_footer.html -->