<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th colspan="4">{L_UCP}</th>
    </tr>
    <tr>
        <td class="row1" colspan="4" align="center"><span class="genmed">{L_WATCHED_EXPLAIN}</span></td>
    </tr>
    <!-- IF S_FORUM_NOTIFY -->
    <tr>
        <th colspan="4">{L_WATCHED_FORUMS}</th>
    </tr>

    <!-- BEGIN forumrow -->

    <!-- IF forumrow.S_ROW_COUNT is even -->
    <tr class="row1"><!-- ELSE -->
    <tr class="row2"><!-- ENDIF -->
        <td style="padding: 4px;" width="20" align="center" valign="middle">{forumrow.FORUM_FOLDER_IMG}</td>
        <td style="padding: 4px;" width="100%"><p class="topictitle"><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a>
        </p></td>
        <td class="gensmall" style="padding: 4px;" align="center" valign="middle" nowrap="nowrap">
            <!-- IF forumrow.LAST_POST_TIME -->{forumrow.LAST_POST_TIME}<br/>{forumrow.LAST_POST_AUTHOR_FULL} <a
                href="{forumrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ELSE -->{L_NO_POSTS}<!-- ENDIF --></td>
        <td style="padding: 4px;"><input type="checkbox" class="radio" name="f[{forumrow.FORUM_ID}]"/></td>
    </tr>
    <!-- BEGINELSE -->
    <tr class="row1">
        <td colspan="4" align="center"><b class="genmed">{L_NO_WATCHED_FORUMS}</b></td>
    </tr>
    <!-- END forumrow -->
    <!-- ENDIF -->
    <!-- IF S_TOPIC_NOTIFY -->
    <tr>
        <th colspan="4">{L_WATCHED_TOPICS}</th>
    </tr>

    <!-- IF TOTAL_TOPICS -->
    <tr>
        <td class="row3" colspan="4">
            <table width="100%" cellspacing="1">
                <tr>
                    <td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br/></td>
                    <td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_TOPICS} ]&nbsp;</td>
                    <td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">
                        <!-- INCLUDE pagination.html --></td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- ENDIF -->

    <!-- BEGIN topicrow -->

    <!-- IF topicrow.S_ROW_COUNT is even -->
    <tr class="row1"><!-- ELSE -->
    <tr class="row2"><!-- ENDIF -->
        <td style="padding: 4px;" width="20" align="center" valign="middle">{topicrow.TOPIC_FOLDER_IMG}</td>
        <td style="padding: 4px;" width="100%" valign="top">
            <p class="topictitle"><!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a>
                <!-- ENDIF -->{topicrow.ATTACH_ICON_IMG} <a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a>
            </p>
            <!-- IF topicrow.S_GLOBAL_TOPIC --><span class="gensmall">{L_GLOBAL_ANNOUNCEMENT}</span><!-- ELSE --><span
                class="gensmall"><b>{L_FORUM}: </b><a href="{topicrow.U_VIEW_FORUM}">{topicrow.FORUM_NAME}</a></span>
            <!-- ENDIF -->
            <!-- IF topicrow.PAGINATION -->
            <p class="gensmall"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
            <!-- ENDIF -->
        </td>
        <td style="padding: 4px;" align="{S_CONTENT_FLOW_BEGIN}" valign="top" nowrap="nowrap">
            <p class="topicdetails">{topicrow.LAST_POST_TIME}</p>
            <p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
                <a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a>
            </p>
        </td>
        <td style="padding: 4px;"><input type="checkbox" class="radio" name="t[{topicrow.TOPIC_ID}]"/></td>
    </tr>
    <!-- BEGINELSE -->
    <tr class="row1">
        <td colspan="4" align="center"><b class="genmed">{L_NO_WATCHED_TOPICS}</b></td>
    </tr>
    <!-- END topicrow -->
    <!-- ENDIF -->

    <!-- IF .topicrow or .forumrow -->
    <tr>
        <td class="cat" colspan="4" align="{S_CONTENT_FLOW_END}"><input class="btnlite" type="submit" name="unwatch"
                                                                        value="{L_UNWATCH_MARKED}"/>&nbsp;
        </td>
    </tr>
    <!-- ENDIF -->
</table>
<!-- IF .topicrow or .forumrow -->
<div class="gensmall" style="float: {S_CONTENT_FLOW_END}; padding-top: 2px;"><b><a href="#"
                                                                                   onclick="marklist('ucp', 't', true); marklist('ucp', 'f', true); return false;">{L_MARK_ALL}</a>
    :: <a href="#"
          onclick="marklist('ucp', 't', false);marklist('ucp', 'f', false); return false;">{L_UNMARK_ALL}</a></b></div>
<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->