<!-- INCLUDE ucp_header.html -->

<!-- IF S_EDIT -->

<!-- IF S_ERROR -->
<div class="errorbox">
    <h3>{L_WARNING}</h3>
    <p>{ERROR_MSG}</p>
</div>
<!-- ENDIF -->

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th colspan="2">{L_USERGROUPS}</th>
    </tr>
    <tr>
        <td class="row1" colspan="2"><span class="genmed">{L_GROUPS_EXPLAIN}</span></td>
    </tr>

    <tr>
        <th colspan="2">{L_GROUP_DETAILS}</th>
    </tr>
    <tr>
        <td class="row1" width="35%"><label<!-- IF not S_SPECIAL_GROUP --> for="group_name"<!-- ENDIF -->
            >{L_GROUP_NAME}:</label></td>
        <td class="row2"><!-- IF S_SPECIAL_GROUP --><b<!-- IF GROUP_COLOUR --> style="color: #{GROUP_COLOUR};"
            <!-- ENDIF --> >{GROUP_NAME}</b><!-- ENDIF --><input name="group_name"
                                                                 type="<!-- IF S_SPECIAL_GROUP -->hidden<!-- ELSE -->text<!-- ENDIF -->"
                                                                 id="group_name" value="{GROUP_INTERNAL_NAME}"/></td>
    </tr>
    <tr>
        <td class="row1" width="35%"><label for="group_desc">{L_GROUP_DESC}:</label></td>
        <td class="row2"><textarea id="group_desc" name="group_desc" rows="5" cols="45">{GROUP_DESC}</textarea>
            <br/><input type="checkbox" class="radio" name="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED -->
            checked="checked"<!-- ENDIF --> /> {L_PARSE_BBCODE} &nbsp; <input type="checkbox" class="radio"
                                                                              name="desc_parse_smilies"
            <!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_SMILIES} &nbsp; <input
                    type="checkbox" class="radio" name="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED -->
            checked="checked"<!-- ENDIF --> /> {L_PARSE_URLS}
        </td>
    </tr>
    <!-- IF not S_SPECIAL_GROUP -->
    <tr>
        <td class="row1" width="35%"><label
                for="group_type">{L_GROUP_TYPE}:</label><br/><span>{L_GROUP_TYPE_EXPLAIN}</span></td>
        <td class="row2">
            <input name="group_type" type="radio" class="radio" id="group_type" value="{GROUP_TYPE_FREE}" {GROUP_FREE}/>
            {L_GROUP_OPEN} &nbsp;
            <input name="group_type" type="radio" class="radio" value="{GROUP_TYPE_OPEN}" {GROUP_OPEN}/>
            {L_GROUP_REQUEST} &nbsp;
            <input name="group_type" type="radio" class="radio" value="{GROUP_TYPE_CLOSED}" {GROUP_CLOSED}/>
            {L_GROUP_CLOSED} &nbsp;
            <input name="group_type" type="radio" class="radio" value="{GROUP_TYPE_HIDDEN}" {GROUP_HIDDEN}/>
            {L_GROUP_HIDDEN}
        </td>
    </tr>
    <!-- ELSE -->
    <tr style="display:none;">
        <td><input name="group_type" type="hidden" value="{GROUP_TYPE_SPECIAL}"/></td>
    </tr>
    <!-- ENDIF -->

    <tr>
        <th colspan="2">{L_GROUP_SETTINGS_SAVE}</th>
    </tr>
    <tr>
        <td class="row1" width="35%"><label for="group_colour">{L_GROUP_COLOR}:</label><br/><span>{L_GROUP_COLOR_EXPLAIN}</span>
        </td>
        <td class="row2"><input name="group_colour" type="text" id="group_colour" value="{GROUP_COLOUR}" size="6"
                                maxlength="6"/>&nbsp;&nbsp;<span>[ <a href="{U_SWATCH}"
                                                                      onclick="popup(this.href, 636, 150, '_swatch'); return false;">{L_COLOUR_SWATCH}</a> ]</span>
        </td>
    </tr>
    <tr>
        <td class="row1" width="35%"><label for="group_rank">{L_GROUP_RANK}:</label></td>
        <td class="row2"><select name="group_rank" id="group_rank">{S_RANK_OPTIONS}</select></td>
    </tr>
    <tr>
        <th colspan="2">{L_GROUP_AVATAR}</th>
    </tr>
    <tr>
        <td class="row1" width="35%"><label>{L_CURRENT_IMAGE}:</label><br/><span>{L_AVATAR_EXPLAIN}</span></td>
        <td class="row2">{AVATAR_IMAGE}<br/><br/><input type="checkbox" class="radio" name="delete"/>&nbsp;<span>{L_DELETE_AVATAR}</span>
        </td>
    </tr>
    <!-- IF not S_IN_AVATAR_GALLERY -->
    <!-- IF S_UPLOAD_AVATAR_FILE -->
    <tr>
        <td class="row1" width="35%"><label for="uploadfile">{L_UPLOAD_AVATAR_FILE}:</label></td>
        <td class="row2"><input type="hidden" name="MAX_FILE_SIZE" value="{AVATAR_MAX_FILESIZE}"/><input type="file"
                                                                                                         id="uploadfile"
                                                                                                         name="uploadfile"/>
        </td>
    </tr>
    <!-- ENDIF -->
    <!-- IF S_UPLOAD_AVATAR_URL -->
    <tr>
        <td class="row1" width="35%"><label for="uploadurl">{L_UPLOAD_AVATAR_URL}:</label><br/><span>{L_UPLOAD_AVATAR_URL_EXPLAIN}</span>
        </td>
        <td class="row2"><input name="uploadurl" type="text" id="uploadurl" value=""/></td>
    </tr>
    <!-- ENDIF -->
    <!-- IF S_LINK_AVATAR -->
    <tr>
        <td class="row1" width="35%"><label for="remotelink">{L_LINK_REMOTE_AVATAR}:</label><br/><span>{L_LINK_REMOTE_AVATAR_EXPLAIN}</span>
        </td>
        <td class="row2"><input name="remotelink" type="text" id="remotelink" value=""/></td>
    </tr>
    <tr>
        <td class="row1" width="35%"><label for="width">{L_LINK_REMOTE_SIZE}:</label><br/><span>{L_LINK_REMOTE_SIZE_EXPLAIN}</span>
        </td>
        <td class="row2"><input name="width" type="text" id="width" size="3" value="{AVATAR_WIDTH}"/> <span>px X </span>
            <input type="text" name="height" size="3" value="{AVATAR_HEIGHT}"/> <span>px</span></td>
    </tr>
    <!-- ENDIF -->
    <!-- IF S_DISPLAY_GALLERY -->
    <tr>
        <td class="row1" width="35%"><label>{L_AVATAR_GALLERY}:</label></td>
        <td class="row2"><input class="btnmain" type="submit" name="display_gallery" value="{L_DISPLAY_GALLERY}"/></td>
    </tr>
    <!-- ENDIF -->
    <!-- ELSE -->

    <tr>
        <th colspan="2">{L_AVATAR_GALLERY}</th>
    </tr>
    <tr>
        <td class="row1" width="35%"><label for="category">{L_AVATAR_CATEGORY}:</label></td>
        <td class="row2"><select name="category" id="category">{S_CAT_OPTIONS}</select>&nbsp;<input class="btnmain"
                                                                                                    type="submit"
                                                                                                    value="{L_GO}"
                                                                                                    name="display_gallery"/>
        </td>
    </tr>
    <tr>
        <td class="row1" width="35%">
            <table cellspacing="1">
                <!-- BEGIN avatar_row -->
                <tr>
                    <!-- BEGIN avatar_column -->
                    <td class="row1" style="text-align: center;"><img src="{avatar_row.avatar_column.AVATAR_IMAGE}"
                                                                      alt="{avatar_row.avatar_column.AVATAR_NAME}"
                                                                      title="{avatar_row.avatar_column.AVATAR_NAME}"/>
                    </td>
                    <!-- END avatar_column -->
                </tr>
                <tr>
                    <!-- BEGIN avatar_option_column -->
                    <td class="row2" style="text-align: center;"><input type="radio" class="radio" name="avatar_select"
                                                                        value="{avatar_row.avatar_option_column.S_OPTIONS_AVATAR}"/>
                    </td>
                    <!-- END avatar_option_column -->
                </tr>
                <!-- END avatar_row -->
            </table>
        </td>
        <td class="row2"><input class="btnmain" type="submit" name="cancel" value="{L_CANCEL}"/></td>
    </tr>

    <!-- ENDIF -->

    <tr>
        <td class="cat" colspan="2" align="center"><input class="btnlite" type="submit" id="submit" name="update"
                                                          value="{L_SUBMIT}"/>&nbsp;
            <input class="btnmain" type="reset" id="reset" name="reset" value="{L_RESET}"/></td>
    </tr>
</table>

<!-- ELSEIF S_LIST -->

<h1>{L_GROUP_MEMBERS}</h1>

<p>{L_GROUP_MEMBERS_EXPLAIN}</p>

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th>{L_USERNAME}</th>
        <th>{L_GROUP_DEFAULT}</th>
        <th>{L_JOINED}</th>
        <th>{L_POSTS}</th>
        <th>{L_MARK}</th>
    </tr>

    <tr>
        <td class="row3" colspan="5"><b>{L_GROUP_LEAD}</b></td>
    </tr>
    <!-- BEGIN leader -->
    <!-- IF leader.S_ROW_COUNT is even -->
    <tr class="row1"><!-- ELSE -->
    <tr class="row2"><!-- ENDIF -->
        <td>{leader.USERNAME_FULL}</td>
        <td style="text-align: center;"><!-- IF leader.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE --> {L_NO}<!-- ENDIF --></td>
        <td style="text-align: center;">{leader.JOINED}</td>
        <td style="text-align: center;">{leader.USER_POSTS}</td>
        <td style="text-align: center;"></td>
    </tr>
    <!-- END leader -->

    <!-- BEGIN member -->
    <!-- IF member.S_PENDING -->
    <tr>
        <td class="row3" colspan="5"><b>{L_GROUP_PENDING}</b></td>
    </tr>
    <!-- ELSEIF member.S_APPROVED -->
    <tr>
        <td class="row3" colspan="5"><b>{L_GROUP_APPROVED}</b></td>
    </tr>
    <!-- ELSE -->
    <!-- IF member.S_ROW_COUNT is even -->
    <tr class="row1"><!-- ELSE -->
    <tr class="row2"><!-- ENDIF -->
        <td>{member.USERNAME_FULL}</td>
        <td style="text-align: center;"><!-- IF member.S_GROUP_DEFAULT -->{L_YES}<!-- ELSE --> {L_NO}<!-- ENDIF --></td>
        <td style="text-align: center;">{member.JOINED}</td>
        <td style="text-align: center;">{member.USER_POSTS}</td>
        <td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{member.USER_ID}"/>
        </td>
    </tr>
    <!-- ENDIF -->
    <!-- BEGINELSE -->
    <tr>
        <td class="row1" colspan="5" style="text-align: center;">{L_GROUPS_NO_MEMBERS}</td>
    </tr>
    <!-- END member -->
    <tr>
        <td class="cat" colspan="5" align="center">
            <div style="float: {S_CONTENT_FLOW_END};"><span class="small"><a href="#"
                                                                             onclick="marklist('ucp', 'mark', true); return false;">{L_MARK_ALL}</a> :: <a
                    href="#" onclick="marklist('ucp', 'mark', false); return false;">{L_UNMARK_ALL}</a></span></div>
            <div style="float: {S_CONTENT_FLOW_BEGIN};"><select name="action">
                <option class="sep" value="">{L_SELECT_OPTION}</option>
                {S_ACTION_OPTIONS}</select> <input class="btnmain" type="submit" name="update" value="{L_SUBMIT}"/>
            </div>
        </td>
    </tr>
</table>

<div class="pagination" style="float: {S_CONTENT_FLOW_BEGIN};">
    <!-- IF PAGINATION -->
    <!-- INCLUDE pagination.html -->
    <!-- ELSE -->
    {S_ON_PAGE}
    <!-- ENDIF -->
</div>

<br/>
<br/>

<h1>{L_ADD_USERS}</h1>

<p>{L_ADD_USERS_UCP_EXPLAIN}</p>

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th colspan="2">{L_ADD_USERS}</th>
    </tr>
    <tr>
        <td class="row1"><label
                for="default">{L_USER_GROUP_DEFAULT}:</label><br/><span>{L_USER_GROUP_DEFAULT_EXPLAIN}</span></td>
        <td class="row2"><input name="default" type="radio" class="radio" value="1"/> {L_YES} &nbsp; <input
                name="default" type="radio" class="radio" id="default" value="0" checked="checked"/> {L_NO}
        </td>
    </tr>
    <tr>
        <td class="row1"><label for="usernames">{L_USERNAME}:</label><br/><span>{L_USERNAMES_EXPLAIN}</span></td>
        <td class="row2"><textarea id="usernames" name="usernames" cols="40" rows="5"></textarea><br/>[ <a
                href="{U_FIND_USERNAME}" onclick="find_username(this.href); return false;">{L_FIND_USERNAME}</a> ]
        </td>
    </tr>
    <tr>
        <td class="cat" colspan="2" align="center"><input class="btnmain" type="submit" name="addusers"
                                                          value="{L_SUBMIT}"/></td>
    </tr>
</table>

<!-- ELSE -->

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th colspan="3">{L_USERGROUPS}</th>
    </tr>
    <tr>
        <td class="row1" colspan="3"><span class="genmed">{L_GROUPS_EXPLAIN}</span></td>
    </tr>

    <tr>
        <th>{L_GROUP_DETAILS}</th>
        <th colspan="2">{L_OPTIONS}</th>
    </tr>
    <tr>
        <td class="row3" colspan="3"><b class="gensmall">{L_GROUP_LEADER}</b></td>
    </tr>
    <!-- BEGIN leader -->
    <!-- IF leader.S_ROW_COUNT is odd -->
    <tr class="row1"><!-- ELSE -->
    <tr class="row2"><!-- ENDIF -->

        <td><b class="genmed"<!-- IF leader.GROUP_COLOUR --> style="color: #{leader.GROUP_COLOUR};"<!-- ENDIF -->
            >{leader.GROUP_NAME}</b><!-- IF leader.GROUP_DESC --><p class="forumdesc">{leader.GROUP_DESC}</p>
            <!-- ENDIF --></td>
        <td style="text-align: center;"><a href="{leader.U_EDIT}">{L_EDIT}</a></td>
        <td style="text-align: center;"><a href="{leader.U_LIST}">{L_GROUP_LIST}</a></td>

    </tr>
    <!-- BEGINELSE -->
    <tr>
        <td class="row2" align="center" colspan="3"><b class="genmed">{L_NO_LEADERS}</b></td>
    </tr>
    <!-- END leader -->

    <tr>
        <td class="cat" align="{S_CONTENT_FLOW_END}" colspan="3">&nbsp;</td>
    </tr>
</table>

<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->