<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th colspan="3">{L_UCP}</th>
    </tr>
    <tr>
        <td class="row1" colspan="3" align="center"><p class="genmed">{L_UCP_WELCOME}</p></td>
    </tr>
    <tr>
        <th colspan="3">{L_IMPORTANT_NEWS}</th>
    </tr>

    <!-- BEGIN topicrow -->

    <!-- IF topicrow.S_ROW_COUNT is even -->
    <tr class="row1"><!-- ELSE -->
    <tr class="row2"><!-- ENDIF -->
        <td class="row1" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
        <td class="row1" width="100%">
            <p class="topictitle"><!-- IF topicrow.S_UNREAD --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a>
                <!-- ENDIF -->{topicrow.ATTACH_ICON_IMG} <a href="{topicrow.U_VIEW_TOPIC}">{topicrow.TOPIC_TITLE}</a>
            </p>
            <p class="gensmall">{topicrow.GOTO_PAGE}</p>
        </td>
        <td class="row1" width="120" align="center" nowrap="nowrap">
            <p class="topicdetails">{topicrow.LAST_POST_TIME}</p>
            <p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
                <a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a>
            </p>
        </td>
    </tr>
    <!-- BEGINELSE -->
    <tr class="row1">
        <td align="center" colspan="3"><b class="gen">{L_NO_IMPORTANT_NEWS}</b></td>
    </tr>
    <!-- END topicrow -->

    <tr>
        <th colspan="3">{L_YOUR_DETAILS}</th>
    </tr>
    <tr>
        <td class="row1" colspan="3">
            <table width="100%" cellspacing="1" cellpadding="4">
                <tr>
                    <td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b class="genmed">{L_JOINED}: </b>
                    </td>
                    <td width="100%"><b class="gen">{JOINED}</b></td>
                </tr>
                <tr>
                    <td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b
                            class="genmed">{L_TOTAL_POSTS}: </b></td>
                    <td><!-- IF POSTS_PCT --><b class="gen">{POSTS}</b><br/><span class="genmed">[{POSTS_PCT} / {POSTS_DAY}]
                        <!-- IF S_DISPLAY_SEARCH --><br/><a href="{U_SEARCH_SELF}">{L_SEARCH_YOUR_POSTS}</a>
                        <!-- ENDIF --></span><!-- ELSE --><b class="gen">{POSTS}<b><!-- ENDIF --></td>
                </tr>
                <!-- IF S_SHOW_ACTIVITY -->
                <tr>
                    <td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b
                            class="genmed">{L_ACTIVE_IN_FORUM}: </b></td>
                    <td><!-- IF ACTIVE_FORUM != '' --><b><a class="gen"
                                                            href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></b><br/><span
                            class="genmed">[ {ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT} ]</span><!-- ELSE --><span
                            class="gen">-</span><!-- ENDIF --></td>
                </tr>
                <tr>
                    <td align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap"><b
                            class="genmed">{L_ACTIVE_IN_TOPIC}: </b></td>
                    <td><!-- IF ACTIVE_TOPIC != '' --><b><a class="gen"
                                                            href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></b><br/><span
                            class="genmed">[ {ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT} ]</span><!-- ELSE --><span
                            class="gen">-</span><!-- ENDIF --></td>
                </tr>
                <!-- ENDIF -->
                <!-- IF WARNINGS -->
                <tr>
                    <td align="{S_CONTENT_FLOW_END}" valign="middle" nowrap="nowrap"><b class="genmed">{L_YOUR_WARNINGS}: </b>
                    </td>
                    <td class="genmed">{WARNING_IMG} [ <b>{WARNINGS}</b> ]</td>
                </tr>
                <!-- ENDIF -->
            </table>
        </td>
    </tr>
    <tr>
        <td class="cat" colspan="3">&nbsp;</td>
    </tr>
</table>

<!-- INCLUDE ucp_footer.html -->