<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
    // <![CDATA[
    /**
     * Change language
     */
    function change_language(lang_iso) {
        document.forms['register'].change_lang.value = lang_iso;
        document.forms['register'].submit.click();
    }

    // ]]>
</script>

<form name="register" method="post" action="{S_UCP_ACTION}">

    <table class="tablebg" width="100%" cellspacing="1">
        <tr>
            <th colspan="2" valign="middle">{L_REGISTRATION}</th>
        </tr>

        <!-- IF ERROR -->
        <tr>
            <td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
        </tr>
        <!-- ENDIF -->

        <!-- IF L_REG_COND -->
        <tr>
            <td class="row2" colspan="2"><span class="gensmall">{L_REG_COND}</span></td>
        </tr>
        <!-- ENDIF -->

        <tr>
            <td class="row1" width="38%"><b class="genmed">{L_USERNAME}: </b><br/><span class="gensmall">{L_USERNAME_EXPLAIN}</span>
            </td>
            <td class="row2"><input class="post" type="text" name="username" size="25" value="{USERNAME}"/></td>
        </tr>
        <tr>
            <td class="row1"><b class="genmed">{L_EMAIL_ADDRESS}: </b></td>
            <td class="row2"><input class="post" type="text" name="email" size="25" maxlength="100" value="{EMAIL}"/>
            </td>
        </tr>
        <tr>
            <td class="row1"><b class="genmed">{L_CONFIRM_EMAIL}: </b></td>
            <td class="row2"><input class="post" type="text" name="email_confirm" size="25" maxlength="100"
                                    value="{EMAIL_CONFIRM}"/></td>
        </tr>
        <tr>
            <td class="row1"><b class="genmed">{L_PASSWORD}: </b><br/><span class="gensmall">{L_PASSWORD_EXPLAIN}</span>
            </td>
            <td class="row2"><input class="post" type="password" name="new_password" size="25" value="{PASSWORD}"/></td>
        </tr>
        <tr>
            <td class="row1"><b class="genmed">{L_CONFIRM_PASSWORD}: </b></td>
            <td class="row2"><input class="post" type="password" name="password_confirm" size="25"
                                    value="{PASSWORD_CONFIRM}"/></td>
        </tr>
        <tr>
            <td class="row1"><b class="genmed">{L_LANGUAGE}: </b></td>
            <td class="row2"><select name="lang"
                                     onchange="change_language(this.value); return false;">{S_LANG_OPTIONS}</select>
            </td>
        </tr>
        <tr>
            <td class="row1"><b class="genmed">{L_TIMEZONE}: </b></td>
            <td class="row2"><select name="tz">{S_TZ_OPTIONS}</select></td>
        </tr>
        <!-- IF .profile_fields -->
        <tr>
            <td class="row2" colspan="2"><span class="gensmall">{L_ITEMS_REQUIRED}</span></td>
        </tr>
        <!-- BEGIN profile_fields -->
        <tr>
            <td class="row1" width="35%">
                <b class="genmed">{profile_fields.LANG_NAME}: </b>
                <!-- IF profile_fields.S_REQUIRED --><b>*</b><!-- ENDIF -->
                <!-- IF profile_fields.LANG_EXPLAIN --><br/><span class="gensmall">{profile_fields.LANG_EXPLAIN}</span>
                <!-- ENDIF -->
            </td>
            <td class="row2">{profile_fields.FIELD}<!-- IF profile_fields.ERROR --><br/><span class="gensmall error">{profile_fields.ERROR}</span>
                <!-- ENDIF --></td>
        </tr>

        <!-- END profile_fields -->
        <!-- ENDIF -->

        <!-- IF CAPTCHA_TEMPLATE -->
        <!-- INCLUDE {CAPTCHA_TEMPLATE} -->
        <!-- ENDIF -->

        <!-- IF S_COPPA -->
        <tr>
            <th colspan="2" valign="middle">{L_COPPA_COMPLIANCE}</th>
        </tr>
        <tr>
            <td class="row3" colspan="2"><span class="gensmall">{L_COPPA_EXPLAIN}</span></td>
        </tr>
        <!-- ENDIF -->

        <tr>
            <td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit"
                                                                               name="submit" id="submit"
                                                                               value="{L_SUBMIT}"/>&nbsp;&nbsp;<input
                    class="btnlite" type="reset" value="{L_RESET}" name="reset"/></td>
        </tr>
    </table>
    {S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->