<!-- INCLUDE ucp_header.html -->

<!-- IF S_ATTACHMENT_ROWS -->

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th nowrap="nowrap">#</th>
        <th nowrap="nowrap" width="15%"><a href="{U_SORT_FILENAME}">{L_FILENAME}</a></th>
        <th nowrap="nowrap" width="5%"><a href="{U_SORT_POST_TIME}">{L_POST_TIME}</a></th>
        <th nowrap="nowrap" width="5%"><a href="{U_SORT_FILESIZE}">{L_FILESIZE}</a></th>
        <th nowrap="nowrap" width="5%"><a href="{U_SORT_DOWNLOADS}">{L_DOWNLOADS}</a></th>
        <th width="2%" nowrap="nowrap">{L_DELETE}</th>
    </tr>
    <!-- IF TOTAL_ATTACHMENTS -->
    <tr>
        <td class="row3" colspan="6">
            <table width="100%" cellspacing="1">
                <tr>
                    <td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br/></td>
                    <td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_ATTACHMENTS} ]&nbsp;</td>
                    <td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">
                        <!-- INCLUDE pagination.html --></td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- ENDIF -->
    <!-- BEGIN attachrow -->
    <!-- IF attachrow.S_ROW_COUNT is even -->
    <tr class="row2"><!-- ELSE -->
    <tr class="row1"><!-- ENDIF -->

        <td class="genmed" style="padding: 4px;" align="center" width="2%">&nbsp;{attachrow.ROW_NUMBER}&nbsp;</td>
        <td style="padding: 4px;"><a class="gen" href="{attachrow.U_VIEW_ATTACHMENT}">{attachrow.FILENAME}</a><br/><span
                class="gensmall"><!-- IF attachrow.S_IN_MESSAGE --><b>{L_PM}: </b><!-- ELSE --><b>{L_TOPIC}: </b>
            <!-- ENDIF --><a href="{attachrow.U_VIEW_TOPIC}">{attachrow.TOPIC_TITLE}</a></span></td>
        <td class="gensmall" style="padding: 4px;" align="center" valign="middle" nowrap="nowrap">&nbsp;{attachrow.POST_TIME}&nbsp;</td>
        <td class="genmed" style="padding: 4px;" align="center" valign="middle" nowrap="nowrap">{attachrow.SIZE}</td>
        <td class="genmed" style="padding: 4px;" align="center">{attachrow.DOWNLOAD_COUNT}</td>
        <td style="padding: 4px;" align="center" valign="middle"><input type="checkbox" class="radio"
                                                                        name="attachment[{attachrow.ATTACH_ID}]"
                                                                        value="1"/></td>
    </tr>
    <!-- END attachrow -->
    <tr>
        <td class="cat" colspan="6">
            <div style="float: {S_CONTENT_FLOW_BEGIN};"><span class="gensmall">{L_SORT_BY}: </span><select name="sk">{S_SORT_OPTIONS}</select>
                <select name="sd">{S_ORDER_SELECT}</select>&nbsp;<input class="btnlite" type="submit" name="sort"
                                                                        value="{L_SORT}"/></div>
            <div style="float: {S_CONTENT_FLOW_END};"><input class="btnlite" type="submit" name="delete"
                                                             value="{L_DELETE_MARKED}"/>&nbsp;
            </div>
        </td>
    </tr>
</table>

<div style="float: {S_CONTENT_FLOW_END};"><b class="gensmall"><a href="#"
                                                                 onclick="marklist('ucp', 'attachment', true); return false;">{L_MARK_ALL}</a>
    :: <a href="#" onclick="marklist('ucp', 'attachment', false); return false;">{L_UNMARK_ALL}</a></b></div>

<!-- ELSE -->

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th>{L_TITLE}</th>
    </tr>
    <tr class="row1">
        <td align="center"><b class="genmed">{L_UCP_NO_ATTACHMENTS}</b></td>
    </tr>
</table>

<!-- ENDIF -->

<!-- INCLUDE ucp_footer.html -->