<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th colspan="2" valign="middle">{L_TITLE}</th>
    </tr>
    <!-- IF S_FORCE_PASSWORD -->
    <tr>
        <td class="row3" colspan="2" align="center"><span class="gensmall">{L_FORCE_PASSWORD_EXPLAIN}</span></td>
    </tr>
    <!-- ENDIF -->
    <!-- IF ERROR -->
    <tr>
        <td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
    </tr>
    <!-- ENDIF -->
    <tr>
        <td class="row1" width="35%"><b class="genmed">{L_USERNAME}: </b><br/><span class="gensmall">{L_USERNAME_EXPLAIN}</span>
        </td>
        <td class="row2"><!-- IF S_CHANGE_USERNAME --><input type="text" class="post" name="username" size="30"
                                                             value="{USERNAME}"/><!-- ELSE --><b
                class="gen">{USERNAME}</b><!-- ENDIF --></td>
    </tr>
    <tr>
        <td class="row1" width="35%"><b class="genmed">{L_EMAIL_ADDRESS}: </b></td>
        <td class="row2"><!-- IF S_CHANGE_EMAIL --><input type="text" class="post" name="email" size="30"
                                                          maxlength="100" value="{EMAIL}"/><!-- ELSE --><b class="gen">{EMAIL}</b>
            <!-- ENDIF --></td>
    </tr>
    <!-- IF S_CHANGE_EMAIL -->
    <tr>
        <td class="row1" width="35%"><b class="genmed">{L_CONFIRM_EMAIL}: </b><br/><span class="gensmall">{L_CONFIRM_EMAIL_EXPLAIN}</span>
        </td>
        <td class="row2"><input type="text" class="post" name="email_confirm" size="30" maxlength="100"
                                value="{CONFIRM_EMAIL}"/></td>
    </tr>
    <!-- ENDIF -->
    <!-- IF S_CHANGE_PASSWORD -->
    <tr>
        <td class="row1" width="35%"><b class="genmed">{L_NEW_PASSWORD}: </b><br/><span class="gensmall">{L_CHANGE_PASSWORD_EXPLAIN}</span>
        </td>
        <td class="row2"><input type="password" class="post" name="new_password" size="30" maxlength="255"
                                value="{NEW_PASSWORD}"/></td>
    </tr>
    <tr>
        <td class="row1" width="35%"><b class="genmed">{L_CONFIRM_PASSWORD}: </b><br/><span class="gensmall">{L_CONFIRM_PASSWORD_EXPLAIN}</span>
        </td>
        <td class="row2"><input type="password" class="post" name="password_confirm" size="30" maxlength="255"
                                value="{PASSWORD_CONFIRM}"/></td>
    </tr>
    <!-- ENDIF -->
    <tr>
        <th colspan="2">{L_CONFIRM_CHANGES}</th>
    </tr>
    <tr>
        <td class="row1" width="35%"><b class="genmed">{L_CURRENT_PASSWORD}: </b><br/><span class="gensmall"><!-- IF S_CHANGE_PASSWORD -->{L_CURRENT_CHANGE_PASSWORD_EXPLAIN}
            <!-- ELSE -->{L_CURRENT_PASSWORD_EXPLAIN}<!-- ENDIF --></span></td>
        <td class="row2"><input type="password" class="post" name="cur_password" size="30" maxlength="255"
                                value="{CUR_PASSWORD}"/></td>
    </tr>
    <tr>
        <td class="cat" colspan="2" align="center">{S_HIDDEN_FIELDS}<input class="btnmain" type="submit" name="submit"
                                                                           value="{L_SUBMIT}"/>&nbsp;&nbsp;<input
                class="btnlite" type="reset" value="{L_RESET}" name="reset"/></td>
    </tr>
</table>

<!-- INCLUDE ucp_footer.html -->