<script type="text/javascript">
    // <![CDATA[
    bbcodeEnabled = {S_BBCODE_ALLOWED};
    // ]]>
</script>

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <th align="center">{L_MESSAGE_HISTORY}</th>
    </tr>
    <tr>
        <td class="row1">
            <div style="overflow: auto; width: 100%; height: 300px;">

                <table class="tablebg" width="100%" cellspacing="1">
                    <tr>
                        <th width="22%">{L_AUTHOR}</th>
                        <th>{L_MESSAGE}</th>
                    </tr>
                    <!-- BEGIN history_row -->
                    <!-- IF history_row.S_ROW_COUNT is even -->
                    <tr class="row1"><!-- ELSE -->
                    <tr class="row2"><!-- ENDIF -->
                        <td rowspan="2" align="{S_CONTENT_FLOW_BEGIN}" valign="top"><a name="{history_row.MSG_ID}"></a>
                            <table width="150" cellspacing="0">
                                <tr>
                                    <td align="center" colspan="2"><span class="postauthor">{history_row.MESSAGE_AUTHOR_FULL}</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="100%"<!-- IF history_row.S_CURRENT_MSG --> style="background-color:lightblue"
                        <!-- ENDIF --> >
                        <div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};"><b>{L_PM_SUBJECT}:</b>&nbsp;{history_row.SUBJECT}
                        </div>
                        <div class="gensmall" style="float: {S_CONTENT_FLOW_END};"><b>{L_FOLDER}:</b>&nbsp;{history_row.FOLDER}
                        </div>
                        </td>
                    </tr>

                    <!-- IF history_row.S_ROW_COUNT is even -->
                    <tr class="row1"><!-- ELSE -->
                    <tr class="row2"><!-- ENDIF -->
                        <td valign="top">
                            <table width="100%" cellspacing="0">
                                <tr>
                                    <td valign="top">
                                        <table width="100%" cellspacing="0" cellpadding="2">
                                            <tr>
                                                <td>
                                                    <div class="postbody"><!-- IF history_row.MESSAGE -->
                                                        {history_row.MESSAGE}<!-- ELSE --><span class="error">{L_MESSAGE_REMOVED_FROM_OUTBOX}</span>
                                                        <!-- ENDIF --></div>
                                                    <div id="message_{history_row.MSG_ID}" style="display: none;">
                                                        {history_row.DECODED_MESSAGE}
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0">
                                            <tr valign="middle">
                                                <td width="100%">&nbsp;</td>
                                                <td width="10" nowrap="nowrap">{history_row.MINI_POST_IMG}</td>
                                                <td class="gensmall" nowrap="nowrap"><b>{L_SENT_AT}:</b>
                                                    {history_row.SENT_DATE}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- IF history_row.S_ROW_COUNT is even -->
                    <tr class="row1"><!-- ELSE -->
                    <tr class="row2"><!-- ENDIF -->
                        <td class="gensmall"><a href="{history_row.U_VIEW_MESSAGE}">{L_VIEW_PM}</a></td>
                        <td>
                            <div class="gensmall" style="float: {S_CONTENT_FLOW_BEGIN};">&nbsp;
                                <!-- IF history_row.U_PROFILE --><a href="{history_row.U_PROFILE}">{PROFILE_IMG}</a>
                                <!-- ENDIF --> <!-- IF history_row.U_EMAIL --><a href="{history_row.U_EMAIL}">{EMAIL_IMG}</a>
                                <!-- ENDIF -->&nbsp;
                            </div>
                            <div class="gensmall" style="float: {S_CONTENT_FLOW_END};">
                                <!-- IF history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE --><a
                                <!-- IF history_row.U_QUOTE -->href="{history_row.U_QUOTE}"<!-- ELSE --> href="#"
                                onclick="addquote({history_row.MSG_ID}, '{history_row.MESSAGE_AUTHOR_QUOTE}',
                                '{LA_WROTE}'); return false;"<!-- ENDIF --> >{QUOTE_IMG}</a> <!-- ENDIF -->
                                <!-- IF history_row.U_POST_REPLY_PM --><a href="{history_row.U_POST_REPLY_PM}">{REPLY_IMG}</a>
                                <!-- ENDIF -->&nbsp;
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="spacer" colspan="2"><img src="images/spacer.gif" alt="" width="1" height="1"/></td>
                    </tr>
                    <!-- END history_row -->
                </table>
            </div>
        </td>
    </tr>
</table>

<br clear="all"/>
