<!-- INCLUDE overall_header.html -->

<!-- IF S_FORUM_RULES -->
<div class="forumrules">
    <!-- IF U_FORUM_RULES -->
    <h3>{L_FORUM_RULES}</h3><br/>
    <a href="{U_FORUM_RULES}"><b>{L_FORUM_RULES_LINK}</b></a>
    <!-- ELSE -->
    <h3>{L_FORUM_RULES}</h3><br/>
    {FORUM_RULES}
    <!-- ENDIF -->
</div>

<br clear="all"/>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ACTIVE -->
<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><span class="nav">{L_ACTIVE_TOPICS}</span>
        </td>
    </tr>

    <tr>
        <!-- IF S_TOPIC_ICONS -->
        <th colspan="3">&nbsp;{L_TOPICS}&nbsp;</th>
        <!-- ELSE -->
        <th colspan="2">&nbsp;{L_TOPICS}&nbsp;</th>
        <!-- ENDIF -->
        <th>&nbsp;{L_AUTHOR}&nbsp;</th>
        <th>&nbsp;{L_REPLIES}&nbsp;</th>
        <th>&nbsp;{L_VIEWS}&nbsp;</th>
        <th>&nbsp;{L_LAST_POST}&nbsp;</th>
    </tr>

    <!-- BEGIN topicrow -->

    <tr>
        <td class="row1" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
        <!-- IF S_TOPIC_ICONS -->
        <td class="row1" width="25" align="center"><!-- IF topicrow.TOPIC_ICON_IMG --><img
                src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}"
                height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title=""/><!-- ENDIF --></td>
        <!-- ENDIF -->
        <td class="row1">
            <!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a><!-- ENDIF -->
            {topicrow.ATTACH_ICON_IMG}
            <!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><b>{topicrow.TOPIC_TYPE}</b> <!-- ENDIF --><a
                title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
            <!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
            <a href="{topicrow.U_MCP_QUEUE}">{UNAPPROVED_IMG}</a>&nbsp;
            <!-- ENDIF -->
            <!-- IF topicrow.S_TOPIC_REPORTED -->
            <a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
            <!-- ENDIF -->
            <!-- IF topicrow.PAGINATION -->
            <p class="gensmall"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
            <!-- ENDIF -->
        </td>
        <td class="row2" width="130" align="center"><p class="topicauthor">{topicrow.TOPIC_AUTHOR_FULL}</p></td>
        <td class="row1" width="50" align="center"><p class="topicdetails">{topicrow.REPLIES}</p></td>
        <td class="row2" width="50" align="center"><p class="topicdetails">{topicrow.VIEWS}</p></td>
        <td class="row1" width="140" align="center">
            <p class="topicdetails" style="white-space: nowrap;">{topicrow.LAST_POST_TIME}</p>
            <p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
                <!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
            </p>
        </td>
    </tr>

    <!-- BEGINELSE -->

    <tr>
        <!-- IF S_TOPIC_ICONS -->
        <td class="row1" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}
            <!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
        <!-- ELSE -->
        <td class="row1" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}
            <!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
        <!-- ENDIF -->
    </tr>
    <!-- END topicrow -->

    <tr align="center">
        <td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->">&nbsp;</td>
    </tr>
</table>

<br clear="all"/>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM -->
<!-- INCLUDE forumlist_body.html -->
<br clear="all"/>
<!-- ENDIF -->

<!-- IF S_IS_POSTABLE or S_NO_READ_ACCESS -->
<div id="pageheader">
    <h2><a class="titles" href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h2>

    <!-- IF MODERATORS -->
    <p class="moderators"><!-- IF S_SINGLE_MODERATOR -->{L_MODERATOR}<!-- ELSE --> {L_MODERATORS}<!-- ENDIF --> :
        {MODERATORS}</p>
    <!-- ENDIF -->
    <!-- IF U_MCP -->
    <p class="linkmcp">[ <a href="{U_MCP}">{L_MCP}</a> ]</p>
    <!-- ENDIF -->
</div>

<br clear="all"/><br/>
<!-- ENDIF -->

<div id="pagecontent">

    <!-- IF S_NO_READ_ACCESS -->
    <table class="tablebg" width="100%" cellspacing="1">
        <tr>
            <td class="row1" height="30" align="center" valign="middle"><span class="gen">{L_NO_READ_ACCESS}</span></td>
        </tr>
    </table>

    <!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->

    <br/><br/>

    <form method="post" action="{S_LOGIN_ACTION}">

        <table class="tablebg" width="100%" cellspacing="1">
            <tr>
                <td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></td>
            </tr>
            <tr>
                <td class="row1" align="center"><span class="genmed">{L_USERNAME}:</span> <input class="post"
                                                                                                 type="text"
                                                                                                 name="username"
                                                                                                 size="10"/>&nbsp; <span
                        class="genmed">{L_PASSWORD}:</span> <input class="post" type="password" name="password"
                                                                   size="10"/><!-- IF S_AUTOLOGIN_ENABLED -->&nbsp;
                    <span class="gensmall">{L_LOG_ME_IN}</span> <input type="checkbox" class="radio" name="autologin"/>
                    <!-- ENDIF -->&nbsp; <input type="submit" class="btnmain" name="login" value="{L_LOGIN}"/></td>
            </tr>
        </table>
        {S_LOGIN_REDIRECT}
    </form>

    <!-- ENDIF -->

    <br clear="all"/>
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
    <table width="100%" cellspacing="1">
        <tr>
            <!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
            <td align="{S_CONTENT_FLOW_BEGIN}" valign="middle"><a href="{U_POST_NEW_TOPIC}">{POST_IMG}</a></td>
            <!-- ENDIF -->
            <!-- IF TOTAL_TOPICS -->
            <td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br/></td>
            <td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_TOPICS} ]&nbsp;</td>
            <td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">
                <!-- INCLUDE pagination.html --></td>
            <!-- ENDIF -->
        </tr>
    </table>
    <!-- ENDIF -->

    <!-- IF not S_DISPLAY_ACTIVE and (S_IS_POSTABLE or .topicrow) -->
    <table class="tablebg" width="100%" cellspacing="1">
        <tr>
            <td class="cat" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->">
                <table width="100%" cellspacing="0">
                    <tr class="nav">
                        <td valign="middle">&nbsp;<!-- IF S_WATCH_FORUM_LINK and not S_IS_BOT --><a
                                href="{S_WATCH_FORUM_LINK}">{S_WATCH_FORUM_TITLE}</a><!-- ENDIF --></td>
                        <td align="{S_CONTENT_FLOW_END}" valign="middle">
                            <!-- IF not S_IS_BOT and U_MARK_TOPICS and .topicrow --><a href="{U_MARK_TOPICS}">{L_MARK_TOPICS_READ}</a>
                            <!-- ENDIF -->&nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <!-- IF S_TOPIC_ICONS -->
            <th colspan="3">&nbsp;{L_TOPICS}&nbsp;</th>
            <!-- ELSE -->
            <th colspan="2">&nbsp;{L_TOPICS}&nbsp;</th>
            <!-- ENDIF -->
            <th>&nbsp;{L_AUTHOR}&nbsp;</th>
            <th>&nbsp;{L_REPLIES}&nbsp;</th>
            <th>&nbsp;{L_VIEWS}&nbsp;</th>
            <th>&nbsp;{L_LAST_POST}&nbsp;</th>
        </tr>

        <!-- BEGIN topicrow -->

        <!-- IF topicrow.S_TOPIC_TYPE_SWITCH eq 1 -->
        <tr>
            <td class="row3" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><b class="gensmall">{L_ANNOUNCEMENTS}</b>
            </td>
        </tr>
        <!-- ELSEIF topicrow.S_TOPIC_TYPE_SWITCH eq 0 -->
        <tr>
            <td class="row3" colspan="<!-- IF S_TOPIC_ICONS -->7<!-- ELSE -->6<!-- ENDIF -->"><b class="gensmall">{L_TOPICS}</b>
            </td>
        </tr>
        <!-- ENDIF -->

        <tr>
            <td class="row1" width="25" align="center">{topicrow.TOPIC_FOLDER_IMG}</td>
            <!-- IF S_TOPIC_ICONS -->
            <td class="row1" width="25" align="center"><!-- IF topicrow.TOPIC_ICON_IMG --><img
                    src="{T_ICONS_PATH}{topicrow.TOPIC_ICON_IMG}" width="{topicrow.TOPIC_ICON_IMG_WIDTH}"
                    height="{topicrow.TOPIC_ICON_IMG_HEIGHT}" alt="" title=""/><!-- ENDIF --></td>
            <!-- ENDIF -->
            <td class="row1">
                <!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a>
                <!-- ENDIF -->
                {topicrow.ATTACH_ICON_IMG} <!-- IF topicrow.S_HAS_POLL or topicrow.S_TOPIC_MOVED --><b>{topicrow.TOPIC_TYPE}</b>
                <!-- ENDIF --><a title="{L_POSTED}: {topicrow.FIRST_POST_TIME}" href="{topicrow.U_VIEW_TOPIC}"
                                 class="topictitle">{topicrow.TOPIC_TITLE}</a>
                <!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED -->
                <a href="{topicrow.U_MCP_QUEUE}">{topicrow.UNAPPROVED_IMG}</a>&nbsp;
                <!-- ENDIF -->
                <!-- IF topicrow.S_TOPIC_REPORTED -->
                <a href="{topicrow.U_MCP_REPORT}">{REPORTED_IMG}</a>&nbsp;
                <!-- ENDIF -->
                <!-- IF topicrow.PAGINATION -->
                <p class="gensmall"> [ {GOTO_PAGE_IMG}{L_GOTO_PAGE}: {topicrow.PAGINATION} ] </p>
                <!-- ENDIF -->
            </td>
            <td class="row2" width="130" align="center"><p class="topicauthor">{topicrow.TOPIC_AUTHOR_FULL}</p></td>
            <td class="row1" width="50" align="center"><p class="topicdetails">{topicrow.REPLIES}</p></td>
            <td class="row2" width="50" align="center"><p class="topicdetails">{topicrow.VIEWS}</p></td>
            <td class="row1" width="140" align="center">
                <p class="topicdetails" style="white-space: nowrap;">{topicrow.LAST_POST_TIME}</p>
                <p class="topicdetails">{topicrow.LAST_POST_AUTHOR_FULL}
                    <!-- IF not S_IS_BOT --><a href="{topicrow.U_LAST_POST}">{LAST_POST_IMG}</a><!-- ENDIF -->
                </p>
            </td>
        </tr>

        <!-- BEGINELSE -->
        <!-- IF S_IS_POSTABLE -->
        <tr>
            <!-- IF S_TOPIC_ICONS -->
            <td class="row1" colspan="7" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}
                <!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
            <!-- ELSE -->
            <td class="row1" colspan="6" height="30" align="center" valign="middle"><span class="gen"><!-- IF not S_SORT_DAYS -->{L_NO_TOPICS}
                <!-- ELSE -->{L_NO_TOPICS_TIME_FRAME}<!-- ENDIF --></span></td>
            <!-- ENDIF -->
        </tr>
        <!-- ENDIF -->
        <!-- END topicrow -->

        <!-- IF not S_IS_BOT -->
        <tr align="center">
            <!-- IF S_TOPIC_ICONS -->
            <td class="cat" colspan="7">
                <!-- ELSE -->
            <td class="cat" colspan="6">
                <!-- ENDIF -->
                <form method="post" action="{S_FORUM_ACTION}"><span class="gensmall">{L_DISPLAY_TOPICS}:</span>&nbsp;{S_SELECT_SORT_DAYS}&nbsp;<span
                        class="gensmall">{L_SORT_BY}</span> {S_SELECT_SORT_KEY} {S_SELECT_SORT_DIR}&nbsp;<input
                        class="btnlite" type="submit" name="sort" value="{L_GO}"/></form>
            </td>
        </tr>
        <!-- ENDIF -->
    </table>
    <!-- ENDIF -->

    <!-- IF S_DISPLAY_POST_INFO or TOTAL_TOPICS -->
    <table width="100%" cellspacing="1">
        <tr>
            <!-- IF S_DISPLAY_POST_INFO and not S_IS_BOT -->
            <td align="{S_CONTENT_FLOW_BEGIN}" valign="middle"><a href="{U_POST_NEW_TOPIC}">{POST_IMG}</a></td>
            <!-- ENDIF -->
            <!-- IF TOTAL_TOPICS -->
            <td class="nav" valign="middle" nowrap="nowrap">&nbsp;{PAGE_NUMBER}<br/></td>
            <td class="gensmall" nowrap="nowrap">&nbsp;[ {TOTAL_TOPICS} ]&nbsp;</td>
            <td class="gensmall" width="100%" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">
                <!-- INCLUDE pagination.html --></td>
            <!-- ENDIF -->
        </tr>
    </table>
    <!-- ENDIF -->

    <br clear="all"/>
</div>

<!-- INCLUDE breadcrumbs.html -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
<br clear="all"/>

<table class="tablebg" width="100%" cellspacing="1">
    <tr>
        <td class="cat"><h4>{L_WHO_IS_ONLINE}</h4></td>
    </tr>
    <tr>
        <td class="row1"><p class="gensmall">{LOGGED_IN_USER_LIST}</p></td>
    </tr>
</table>
<!-- ENDIF -->

<!-- IF S_DISPLAY_POST_INFO -->
<br clear="all"/>

<table width="100%" cellspacing="0">
    <tr>
        <td align="{S_CONTENT_FLOW_BEGIN}" valign="top">
            <table cellspacing="3" cellpadding="0" border="0">
                <tr>
                    <td width="20" style="text-align: center;">{FOLDER_UNREAD_IMG}</td>
                    <td class="gensmall">{L_UNREAD_POSTS}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td width="20" style="text-align: center;">{FOLDER_IMG}</td>
                    <td class="gensmall">{L_NO_UNREAD_POSTS}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td width="20" style="text-align: center;">{FOLDER_ANNOUNCE_IMG}</td>
                    <td class="gensmall">{L_ICON_ANNOUNCEMENT}</td>
                </tr>
                <tr>
                    <td style="text-align: center;">{FOLDER_HOT_UNREAD_IMG}</td>
                    <td class="gensmall">{L_UNREAD_POSTS_HOT}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td style="text-align: center;">{FOLDER_HOT_IMG}</td>
                    <td class="gensmall">{L_NO_UNREAD_POSTS_HOT}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td style="text-align: center;">{FOLDER_STICKY_IMG}</td>
                    <td class="gensmall">{L_ICON_STICKY}</td>
                </tr>
                <tr>
                    <td style="text-align: center;">{FOLDER_LOCKED_UNREAD_IMG}</td>
                    <td class="gensmall">{L_UNREAD_POSTS_LOCKED}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td style="text-align: center;">{FOLDER_LOCKED_IMG}</td>
                    <td class="gensmall">{L_NO_UNREAD_POSTS_LOCKED}</td>
                    <td>&nbsp;&nbsp;</td>
                    <td style="text-align: center;">{FOLDER_MOVED_IMG}</td>
                    <td class="gensmall">{L_TOPIC_MOVED}</td>
                </tr>
            </table>
        </td>
        <td align="{S_CONTENT_FLOW_END}"><span class="gensmall"><!-- BEGIN rules -->{rules.RULE}<br/><!-- END rules --></span>
        </td>
    </tr>
</table>
<!-- ENDIF -->

<br clear="all"/>

<table width="100%" cellspacing="0">
    <tr>
        <td><!-- IF S_DISPLAY_SEARCHBOX --><!-- INCLUDE searchbox.html --><!-- ENDIF --></td>
        <td align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></td>
    </tr>
</table>

<!-- INCLUDE overall_footer.html -->