<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<!-- IF S_EDIT_REASON -->

<a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a>

<h1>{L_TITLE}</h1>

<p>{L_REASON_EDIT_EXPLAIN}</p>

<!-- IF S_ERROR -->
<div class="errorbox">
    <h3>{L_WARNING}</h3>
    <p>{ERROR_MSG}</p>
</div>
<!-- ENDIF -->

<!-- IF not S_TRANSLATED -->
<h3>{L_AVAILABLE_TITLES}</h3>

<p>{S_AVAILABLE_TITLES}</p>
<!-- ENDIF -->

<form id="acp_reasons" method="post" action="{U_ACTION}">

    <fieldset>
        <legend>{L_TITLE}</legend>
        <p><!-- IF S_TRANSLATED -->{L_IS_TRANSLATED_EXPLAIN}<!-- ELSE --> {L_IS_NOT_TRANSLATED_EXPLAIN}
            <!-- ENDIF --></p>
        <dl>
            <dt><label for="reason_title">{L_REASON_TITLE}:</label></dt>
            <dd><input name="reason_title" type="text" id="reason_title" value="{REASON_TITLE}" maxlength="255"/></dd>
        </dl>
        <!-- IF S_TRANSLATED -->
        <dl>
            <dt>{L_REASON_TITLE_TRANSLATED}</dt>
            <dd>{TRANSLATED_TITLE}</dd>
        </dl>
        <!-- ENDIF -->
        <dl>
            <dt><label for="reason_description">{L_REASON_DESCRIPTION}:</label></dt>
            <dd><textarea name="reason_description" id="reason_description" rows="8"
                          cols="80">{REASON_DESCRIPTION}</textarea></dd>
        </dl>
        <!-- IF S_TRANSLATED -->
        <dl>
            <dt>{L_REASON_DESC_TRANSLATED}</dt>
            <dd>{TRANSLATED_DESCRIPTION}</dd>
        </dl>
        <!-- ENDIF -->

        <p class="submit-buttons">
            <input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}"/>&nbsp;
            <input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}"/>
            {S_FORM_TOKEN}
        </p>
    </fieldset>
</form>

<!-- ELSE -->

<h1>{L_ACP_REASONS}</h1>

<p>{L_ACP_REASONS_EXPLAIN}</p>

<form id="reasons" method="post" action="{U_ACTION}">
    <fieldset class="tabulated">
        <legend>{L_ACP_REASONS}</legend>

        <!-- IF .reasons -->
        <table cellspacing="1">
            <col class="row1"/>
            <col class="row1"/>
            <col class="row2"/>
            <thead>
            <tr>
                <th>{L_REASON}</th>
                <th>{L_USED_IN_REPORTS}</th>
                <th>{L_OPTIONS}</th>
            </tr>
            </thead>
            <tbody>
            <!-- BEGIN reasons -->
            <tr>
                <td>
                    <i style="float: {S_CONTENT_FLOW_END}; font-size: .9em;"><!-- IF reasons.S_TRANSLATED -->
                        {L_IS_TRANSLATED}<!-- ELSE --> {L_IS_NOT_TRANSLATED}<!-- ENDIF --></i>
                    <strong>{reasons.REASON_TITLE}<!-- IF reasons.S_OTHER_REASON --> *<!-- ENDIF --></strong>
                    <br/><span>{reasons.REASON_DESCRIPTION}</span>
                </td>
                <td style="width: 100px;">{reasons.REASON_COUNT}</td>
                <td style="width: 80px; text-align: right; white-space: nowrap;">
                    <!-- IF reasons.S_FIRST_ROW && not reasons.S_LAST_ROW -->
                    {ICON_MOVE_UP_DISABLED}
                    <a href="{reasons.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
                    <!-- ELSEIF not reasons.S_FIRST_ROW && not reasons.S_LAST_ROW-->
                    <a href="{reasons.U_MOVE_UP}">{ICON_MOVE_UP}</a>
                    <a href="{reasons.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
                    <!-- ELSEIF reasons.S_LAST_ROW && not reasons.S_FIRST_ROW -->
                    <a href="{reasons.U_MOVE_UP}">{ICON_MOVE_UP}</a>
                    {ICON_MOVE_DOWN_DISABLED}
                    <!-- ENDIF -->
                    <a href="{reasons.U_EDIT}">{ICON_EDIT}</a>
                    <!-- IF reasons.U_DELETE -->
                    <a href="{reasons.U_DELETE}">{ICON_DELETE}</a>
                    <!-- ELSE -->
                    {ICON_DELETE_DISABLED}
                    <!-- ENDIF -->
                </td>
            </tr>
            <!-- END reasons -->
            </tbody>
        </table>

        <!-- ENDIF -->

        <p class="quick">
            <input type="hidden" name="action" value="add"/>

            <input type="text" name="reason_title"/>
            <input class="button2" name="addreason" type="submit" value="{L_ADD_NEW_REASON}"/>
            {S_FORM_TOKEN}
        </p>
    </fieldset>

</form>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
