<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<!-- IF S_VERSION_CHECK -->

<h1>{L_VERSION_CHECK}</h1>

<p>{L_VERSION_CHECK_EXPLAIN}</p>

<!-- IF S_UP_TO_DATE and S_UP_TO_DATE_AUTO -->
<div class="successbox">
    <p>{L_VERSION_UP_TO_DATE_ACP} - <a href="{U_VERSIONCHECK_FORCE}">{L_VERSIONCHECK_FORCE_UPDATE}</a></p>
</div>
<!-- ELSE -->
<div class="errorbox">
    <p>{L_VERSION_NOT_UP_TO_DATE_ACP} - <a href="{U_VERSIONCHECK_FORCE}">{L_VERSIONCHECK_FORCE_UPDATE}</a></p>
</div>
<!-- ENDIF -->

<!-- IF NEXT_FEATURE_VERSION -->
<div class="errorbox">
    <p>{UPGRADE_INSTRUCTIONS}</p>
</div>
<!-- ENDIF -->

<fieldset>
    <legend></legend>
    <dl>
        <dt><label>{L_CURRENT_VERSION}</label></dt>
        <dd><strong><!-- IF S_UP_TO_DATE and not S_UP_TO_DATE_AUTO -->{AUTO_VERSION}<!-- ELSE --> {CURRENT_VERSION}
            <!-- ENDIF --></strong></dd>
    </dl>
    <dl>
        <dt><label>{L_LATEST_VERSION}</label></dt>
        <dd><strong>{LATEST_VERSION}</strong></dd>
    </dl>
</fieldset>

<!-- IF S_UP_TO_DATE and not S_UP_TO_DATE_AUTO -->
{L_UPDATE_INSTRUCTIONS_INCOMPLETE}
<br/><br/>
{UPDATE_INSTRUCTIONS}
<br/><br/>
<!-- ENDIF -->
<!-- IF not S_UP_TO_DATE -->
{UPDATE_INSTRUCTIONS}
<br/><br/>
<!-- ENDIF -->

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->