<script type="text/javascript">
    // <![CDATA[

    var form_name = 'user_signature';
    var text_name = 'signature';

    // Define the bbCode tags
    var bbcode = new Array();
    var bbtags = new Array('[b]', '[/b]', '[i]', '[/i]', '[u]', '[/u]', '[quote]', '[/quote]', '[code]', '[/code]', '[list]', '[/list]', '[list=]', '[/list]', '[img]', '[/img]', '[url]', '[/url]', '[flash=]', '[/flash]', '[size=]', '[/size]'<!-- BEGIN custom_tags -->, {
        custom_tags
        .BBCODE_NAME
    }<!-- END custom_tags -->);
    var imageTag = false;

    // Helpline messages
    var help_line = {
        b: '{LA_BBCODE_B_HELP}',
        i: '{LA_BBCODE_I_HELP}',
        u: '{LA_BBCODE_U_HELP}',
        q: '{LA_BBCODE_Q_HELP}',
        c: '{LA_BBCODE_C_HELP}',
        l: '{LA_BBCODE_L_HELP}',
        o: '{LA_BBCODE_O_HELP}',
        p: '{LA_BBCODE_P_HELP}',
        w: '{LA_BBCODE_W_HELP}',
        s: '{LA_BBCODE_S_HELP}',
        f: '{LA_BBCODE_F_HELP}',
        y: '{LA_BBCODE_Y_HELP}',
        d: '{LA_BBCODE_D_HELP}',
        tip: '{L_STYLES_TIP}'
        <!-- BEGIN custom_tags -->
        , cb_{custom_tags.BBCODE_ID}
    :
    '{custom_tags.A_BBCODE_HELPLINE}'
    <!-- END custom_tags -->
    }

    // ]]>
</script>
<script type="text/javascript" src="{T_TEMPLATE_PATH}/editor.js"></script>

<form id="user_signature" method="post" action="{U_ACTION}">

    <!-- IF SIGNATURE_PREVIEW -->
    <fieldset>
        <legend>{L_ADMIN_SIG_PREVIEW}</legend>
        <p>{SIGNATURE_PREVIEW}</p>
    </fieldset>
    <!-- ENDIF -->

    <fieldset>
        <legend>{L_SIGNATURE}</legend>
        <p>{L_SIGNATURE_EXPLAIN}</p>

        <div id="format-buttons">
            <input type="button" class="button2" accesskey="b" name="addbbcode0" value=" B "
                   style="font-weight:bold; width: 30px;" onclick="bbstyle(0)" onmouseover="helpline('b')"
                   onmouseout="helpline('tip')"/>
            <input type="button" class="button2" accesskey="i" name="addbbcode2" value=" i "
                   style="font-style:italic; width: 30px;" onclick="bbstyle(2)" onmouseover="helpline('i')"
                   onmouseout="helpline('tip')"/>
            <input type="button" class="button2" accesskey="u" name="addbbcode4" value=" u "
                   style="text-decoration: underline; width: 30px;" onclick="bbstyle(4)" onmouseover="helpline('u')"
                   onmouseout="helpline('tip')"/>
            <input type="button" class="button2" accesskey="q" name="addbbcode6" value="Quote" style="width: 50px"
                   onclick="bbstyle(6)" onmouseover="helpline('q')" onmouseout="helpline('tip')"/>
            <input type="button" class="button2" accesskey="c" name="addbbcode8" value="Code" style="width: 40px"
                   onclick="bbstyle(8)" onmouseover="helpline('c')" onmouseout="helpline('tip')"/>
            <input type="button" class="button2" accesskey="l" name="addbbcode10" value="List" style="width: 40px"
                   onclick="bbstyle(10)" onmouseover="helpline('l')" onmouseout="helpline('tip')"/>
            <input type="button" class="button2" accesskey="o" name="addbbcode12" value="List=" style="width: 40px"
                   onclick="bbstyle(12)" onmouseover="helpline('o')" onmouseout="helpline('tip')"/>
            <input type="button" class="button2" accesskey="y" name="addlistitem" value="[*]" style="width: 40px"
                   onclick="bbstyle(-1)" onmouseover="helpline('y')" onmouseout="helpline('tip')"/>
            <!-- IF S_BBCODE_IMG -->
            <input type="button" class="button2" accesskey="p" name="addbbcode14" value="Img" style="width: 40px"
                   onclick="bbstyle(14)" onmouseover="helpline('p')" onmouseout="helpline('tip')"/>
            <!-- ENDIF -->
            <!-- IF S_LINKS_ALLOWED -->
            <input type="button" class="button2" accesskey="w" name="addbbcode16" value="URL"
                   style="text-decoration: underline; width: 40px" onclick="bbstyle(16)" onmouseover="helpline('w')"
                   onmouseout="helpline('tip')"/>
            <!-- ENDIF -->
            <!-- IF S_BBCODE_FLASH -->
            <input type="button" class="button2" accesskey="d" name="addbbcode18" value="Flash" onclick="bbstyle(18)"
                   onmouseover="helpline('d')" onmouseout="helpline('tip')"/>
            <!-- ENDIF -->

            {L_FONT_SIZE}: <select name="addbbcode20"
                                   onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;"
                                   title="{L_FONT_SIZE}" onmouseover="helpline('f')" onmouseout="helpline('tip')">
            <option value="50">{L_FONT_TINY}</option>
            <option value="85">{L_FONT_SMALL}</option>
            <option value="100" selected="selected">{L_FONT_NORMAL}</option>
            <option value="150">{L_FONT_LARGE}</option>
            <option value="200">{L_FONT_HUGE}</option>
        </select>
            <!-- IF .custom_tags -->
            <br/><br/>
            <!-- BEGIN custom_tags -->
            <input type="button" class="button2" name="addbbcode{custom_tags.BBCODE_ID}"
                   value="{custom_tags.BBCODE_TAG}" onclick="bbstyle({custom_tags.BBCODE_ID})"
            <!-- IF custom_tags.BBCODE_HELPLINE !== '' --> onmouseover="helpline('cb_{custom_tags.BBCODE_ID}')"
            onmouseout="helpline('tip')"<!-- ENDIF --> />
            <!-- END custom_tags -->
            <!-- ENDIF -->

        </div>

        <p><input type="text" class="text full" style="border: 0; background: none;" name="helpbox"
                  value="{L_STYLES_TIP}"/></p>

        <dl>
            <dt style="width: 90px;">
                <script type="text/javascript">
                    // <![CDATA[
                    colorPalette('v', 12, 10);
                    // ]]>
                </script>
            </dt>
            <dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px;"><textarea name="signature" rows="10" cols="60"
                                                                       style="width: 95%;" onselect="storeCaret(this);"
                                                                       onclick="storeCaret(this);"
                                                                       onkeyup="storeCaret(this);"
                                                                       onfocus="initInsertions();">{SIGNATURE}</textarea>
            </dd>
            <dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px; margin-top: 5px;">
                <!-- IF S_BBCODE_ALLOWED -->
                <label><input type="checkbox" class="radio" name="disable_bbcode" {S_BBCODE_CHECKED}/>
                    {L_DISABLE_BBCODE}</label>
                <!-- ENDIF -->
                <!-- IF S_SMILIES_ALLOWED -->
                <label><input type="checkbox" class="radio" name="disable_smilies" {S_SMILIES_CHECKED}/>
                    {L_DISABLE_SMILIES}</label>
                <!-- ENDIF -->
                <!-- IF S_LINKS_ALLOWED -->
                <label><input type="checkbox" class="radio" name="disable_magic_url" {S_MAGIC_URL_CHECKED}/>
                    {L_DISABLE_MAGIC_URL}</label>
                <!-- ENDIF -->
            </dd>
            <dd style="margin-{S_CONTENT_FLOW_BEGIN}: 90px; margin-top: 10px;"><strong>{L_OPTIONS}: </strong>{BBCODE_STATUS}
                :: {IMG_STATUS} :: {FLASH_STATUS} :: {URL_STATUS} :: {SMILIES_STATUS}
            </dd>
        </dl>
    </fieldset>

    <fieldset class="submit-buttons">
        <input class="button1" type="submit" name="update" value="{L_SUBMIT}"/>&nbsp;
        <input class="button2" type="submit" name="preview" value="{L_PREVIEW}"/>
        {S_FORM_TOKEN}
    </fieldset>
</form>