<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<!-- IF S_RESTORE_PERMISSIONS -->

<h1>{L_PERMISSIONS_TRANSFERRED}</h1>

<p>{L_PERMISSIONS_TRANSFERRED_EXPLAIN}</p>

<!-- ELSE -->

<h1>{L_WELCOME_PHPBB}</h1>

<p>{L_ADMIN_INTRO}</p>

<!-- IF S_VERSIONCHECK_FAIL -->
<div class="errorbox notice">
    <p>{L_VERSIONCHECK_FAIL}</p>
    <p><a href="{U_VERSIONCHECK_FORCE}">{L_VERSIONCHECK_FORCE_UPDATE}</a> &middot; <a href="{U_VERSIONCHECK}">{L_MORE_INFORMATION}</a>
    </p>
</div>
<!-- ELSEIF not S_VERSION_UP_TO_DATE -->
<div class="errorbox">
    <p>{L_VERSION_NOT_UP_TO_DATE_TITLE}</p>
    <p><a href="{U_VERSIONCHECK_FORCE}">{L_VERSIONCHECK_FORCE_UPDATE}</a> &middot; <a href="{U_VERSIONCHECK}">{L_MORE_INFORMATION}</a>
    </p>
</div>
<!-- ENDIF -->


<!-- IF S_REMOVE_INSTALL -->
<div class="errorbox">
    <h3>{L_WARNING}</h3>
    <p>{L_REMOVE_INSTALL}</p>
</div>
<!-- ENDIF -->

<!-- IF S_MBSTRING_LOADED -->
<!-- IF S_MBSTRING_FUNC_OVERLOAD_FAIL -->
<div class="errorbox">
    <h3>{L_ERROR_MBSTRING_FUNC_OVERLOAD}</h3>
    <p>{L_ERROR_MBSTRING_FUNC_OVERLOAD_EXPLAIN}</p>
</div>
<!-- ENDIF -->

<!-- IF S_MBSTRING_ENCODING_TRANSLATION_FAIL -->
<div class="errorbox">
    <h3>{L_ERROR_MBSTRING_ENCODING_TRANSLATION}</h3>
    <p>{L_ERROR_MBSTRING_ENCODING_TRANSLATION_EXPLAIN}</p>
</div>
<!-- ENDIF -->

<!-- IF S_MBSTRING_HTTP_INPUT_FAIL -->
<div class="errorbox">
    <h3>{L_ERROR_MBSTRING_HTTP_INPUT}</h3>
    <p>{L_ERROR_MBSTRING_HTTP_INPUT_EXPLAIN}</p>
</div>
<!-- ENDIF -->

<!-- IF S_MBSTRING_HTTP_OUTPUT_FAIL -->
<div class="errorbox">
    <h3>{L_ERROR_MBSTRING_HTTP_OUTPUT}</h3>
    <p>{L_ERROR_MBSTRING_HTTP_OUTPUT_EXPLAIN}</p>
</div>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_WRITABLE_CONFIG -->
<div class="errorbox notice">
    <p>{L_WRITABLE_CONFIG}</p>
</div>
<!-- ENDIF -->

<!-- IF S_PHP_VERSION_OLD -->
<div class="errorbox notice">
    <p>{L_PHP_VERSION_OLD}</p>
</div>
<!-- ENDIF -->

<table cellspacing="1">
    <caption>{L_FORUM_STATS}</caption>
    <col class="col1"/>
    <col class="col2"/>
    <col class="col1"/>
    <col class="col2"/>
    <thead>
    <tr>
        <th>{L_STATISTIC}</th>
        <th>{L_VALUE}</th>
        <th>{L_STATISTIC}</th>
        <th>{L_VALUE}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{L_NUMBER_POSTS}:</td>
        <td><strong>{TOTAL_POSTS}</strong></td>
        <td>{L_POSTS_PER_DAY}:</td>
        <td><strong>{POSTS_PER_DAY}</strong></td>
    </tr>
    <tr>
        <td>{L_NUMBER_TOPICS}:</td>
        <td><strong>{TOTAL_TOPICS}</strong></td>
        <td>{L_TOPICS_PER_DAY}:</td>
        <td><strong>{TOPICS_PER_DAY}</strong></td>
    </tr>
    <tr>
        <td>{L_NUMBER_USERS}:</td>
        <td><strong>{TOTAL_USERS}</strong></td>
        <td>{L_USERS_PER_DAY}:</td>
        <td><strong>{USERS_PER_DAY}</strong></td>
    </tr>
    <tr>
        <td>{L_NUMBER_FILES}:</td>
        <td><strong>{TOTAL_FILES}</strong></td>
        <td>{L_FILES_PER_DAY}:</td>
        <td><strong>{FILES_PER_DAY}</strong></td>
    </tr>


    <tr>
        <td>{L_BOARD_STARTED}:</td>
        <td><strong>{START_DATE}</strong></td>
        <td>{L_AVATAR_DIR_SIZE}:</td>
        <td><strong>{AVATAR_DIR_SIZE}</strong></td>
    </tr>
    <tr>
        <td>{L_DATABASE_SIZE}:</td>
        <td><strong>{DBSIZE}</strong></td>
        <td>{L_UPLOAD_DIR_SIZE}:</td>
        <td><strong>{UPLOAD_DIR_SIZE}</strong></td>
    </tr>
    <tr>
        <td>{L_DATABASE_SERVER_INFO}:</td>
        <td><strong>{DATABASE_INFO}</strong></td>
        <td>{L_GZIP_COMPRESSION}:</td>
        <td><strong>{GZIP_COMPRESSION}</strong></td>
    </tr>
    <tr>
        <td>{L_BOARD_VERSION}:</td>
        <td>
            <strong><a href="{U_VERSIONCHECK}" <!-- IF S_VERSION_UP_TO_DATE -->style="color: #228822;"<!-- ELSE -->
                style="color: #BC2A4D;"<!-- ENDIF --> title="{L_MORE_INFORMATION}">{BOARD_VERSION}</a></strong>
            [&nbsp;<a href="{U_VERSIONCHECK_FORCE}">{L_VERSIONCHECK_FORCE_UPDATE}</a>&nbsp;]
        </td>
        <!-- IF S_TOTAL_ORPHAN -->
        <td>{L_NUMBER_ORPHAN}:</td>
        <td><strong>{TOTAL_ORPHAN}</strong></td>
        <!-- ELSE -->
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <!-- ENDIF -->
    </tr>
    </tbody>
</table>

<!-- IF S_ACTION_OPTIONS -->
<fieldset>
    <legend>{L_STATISTIC_RESYNC_OPTIONS}</legend>

    <form id="action_online_form" method="post" action="{U_ACTION}">
        <dl>
            <dt><label for="action_online">{L_RESET_ONLINE}</label><br/><span>&nbsp;</span></dt>
            <dd><input type="hidden" name="action" value="online"/><input class="button2" type="submit"
                                                                          id="action_online" name="action_online"
                                                                          value="{L_RUN}"/></dd>
        </dl>
    </form>

    <form id="action_date_form" method="post" action="{U_ACTION}">
        <dl>
            <dt><label for="action_date">{L_RESET_DATE}</label><br/><span>&nbsp;</span></dt>
            <dd><input type="hidden" name="action" value="date"/><input class="button2" type="submit" id="action_date"
                                                                        name="action_date" value="{L_RUN}"/></dd>
        </dl>
    </form>

    <form id="action_stats_form" method="post" action="{U_ACTION}">
        <dl>
            <dt><label for="action_stats">{L_RESYNC_STATS}</label><br/><span>{L_RESYNC_STATS_EXPLAIN}</span></dt>
            <dd><input type="hidden" name="action" value="stats"/><input class="button2" type="submit" id="action_stats"
                                                                         name="action_stats" value="{L_RUN}"/></dd>
        </dl>
    </form>

    <form id="action_user_form" method="post" action="{U_ACTION}">
        <dl>
            <dt><label for="action_user">{L_RESYNC_POSTCOUNTS}</label><br/><span>{L_RESYNC_POSTCOUNTS_EXPLAIN}</span>
            </dt>
            <dd><input type="hidden" name="action" value="user"/><input class="button2" type="submit" id="action_user"
                                                                        name="action_user" value="{L_RUN}"/></dd>
        </dl>
    </form>

    <form id="action_db_track_form" method="post" action="{U_ACTION}">
        <dl>
            <dt><label
                    for="action_db_track">{L_RESYNC_POST_MARKING}</label><br/><span>{L_RESYNC_POST_MARKING_EXPLAIN}</span>
            </dt>
            <dd><input type="hidden" name="action" value="db_track"/><input class="button2" type="submit"
                                                                            id="action_db_track" name="action_db_track"
                                                                            value="{L_RUN}"/></dd>
        </dl>
    </form>

    <!-- IF S_FOUNDER -->
    <form id="action_purge_sessions_form" method="post" action="{U_ACTION}">
        <dl>
            <dt><label
                    for="action_purge_sessions">{L_PURGE_SESSIONS}</label><br/><span>{L_PURGE_SESSIONS_EXPLAIN}</span>
            </dt>
            <dd><input type="hidden" name="action" value="purge_sessions"/><input class="button2" type="submit"
                                                                                  id="action_purge_sessions"
                                                                                  name="action_purge_sessions"
                                                                                  value="{L_RUN}"/></dd>
        </dl>
    </form>
    <form id="action_purge_cache_form" method="post" action="{U_ACTION}">
        <dl>
            <dt><label for="action_purge_cache">{L_PURGE_CACHE}</label><br/><span>{L_PURGE_CACHE_EXPLAIN}</span></dt>
            <dd><input type="hidden" name="action" value="purge_cache"/><input class="button2" type="submit"
                                                                               id="action_purge_cache"
                                                                               name="action_purge_cache"
                                                                               value="{L_RUN}"/></dd>
        </dl>
    </form>
    <!-- ENDIF -->
</fieldset>
<!-- ENDIF -->

<!-- IF .log -->
<h2>{L_ADMIN_LOG}</h2>

<p>{L_ADMIN_LOG_INDEX_EXPLAIN}</p>

<div style="text-align: right;"><a href="{U_ADMIN_LOG}">&raquo; {L_VIEW_ADMIN_LOG}</a></div>

<table cellspacing="1">
    <thead>
    <tr>
        <th>{L_USERNAME}</th>
        <th>{L_IP}</th>
        <th>{L_TIME}</th>
        <th>{L_ACTION}</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN log -->
    <!-- IF log.S_ROW_COUNT is even -->
    <tr class="row1"><!-- ELSE -->
    <tr class="row2"><!-- ENDIF -->

        <td>{log.USERNAME}</td>
        <td style="text-align: center;">{log.IP}</td>
        <td style="text-align: center;">{log.DATE}</td>
        <td>{log.ACTION}</td>
    </tr>
    <!-- END log -->
    </tbody>
</table>

<br/>

<!-- ENDIF -->

<!-- IF S_INACTIVE_USERS -->
<h2>{L_INACTIVE_USERS}</h2>

<p>{L_INACTIVE_USERS_EXPLAIN_INDEX}</p>

<div style="text-align: right;"><a href="{U_INACTIVE_USERS}">&raquo; {L_VIEW_INACTIVE_USERS}</a></div>

<table cellspacing="1">
    <thead>
    <tr>
        <th>{L_USERNAME}</th>
        <th>{L_JOINED}</th>
        <th>{L_INACTIVE_DATE}</th>
        <th>{L_LAST_VISIT}</th>
        <th>{L_INACTIVE_REASON}</th>
    </tr>
    </thead>
    <tbody>
    <!-- BEGIN inactive -->
    <!-- IF inactive.S_ROW_COUNT is even -->
    <tr class="row1"><!-- ELSE -->
    <tr class="row2"><!-- ENDIF -->

        <td style="vertical-align: top;">
            {inactive.USERNAME_FULL}
            <!-- IF inactive.POSTS --><br/>{L_POSTS}: <strong>{inactive.POSTS}</strong> [<a
                href="{inactive.U_SEARCH_USER}">{L_SEARCH_USER_POSTS}</a>]<!-- ENDIF -->
        </td>
        <td style="vertical-align: top;">{inactive.JOINED}</td>
        <td style="vertical-align: top;">{inactive.INACTIVE_DATE}</td>
        <td style="vertical-align: top;">{inactive.LAST_VISIT}</td>
        <td style="vertical-align: top;">
            {inactive.REASON}
            <!-- IF inactive.REMINDED --><br/>{inactive.REMINDED_EXPLAIN}<!-- ENDIF -->
        </td>
    </tr>
    <!-- BEGINELSE -->
    <tr>
        <td colspan="5" style="text-align: center;">{L_NO_INACTIVE_USERS}</td>
    </tr>
    <!-- END inactive -->
    </tbody>
</table>

<!-- ENDIF -->

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->