<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_TITLE}</h1>

<p>{L_EXPLAIN}</p>

<form id="list" method="post" action="{U_ACTION}">

    <fieldset class="display-options" style="float: left">
        {L_SEARCH_KEYWORDS}: <input type="text" name="keywords" value="{S_KEYWORDS}"/>&nbsp;<input type="submit"
                                                                                                   class="button2"
                                                                                                   name="filter"
                                                                                                   value="{L_SEARCH}"/>
    </fieldset>

    <!-- IF PAGINATION -->
    <div class="pagination" style="float: right; margin: 15px 0 2px 0">
        <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull;
        <span>{PAGINATION}</span>
    </div>
    <!-- ENDIF -->

    <div class="clearfix">&nbsp;</div>
    <div><br style="clear: both;"/></div>

    <!-- IF .log -->
    <table cellspacing="1">
        <thead>
        <tr>
            <th>{L_USERNAME}</th>
            <th>{L_IP}</th>
            <th>{L_TIME}</th>
            <th>{L_ACTION}</th>
            <!-- IF S_CLEARLOGS -->
            <th>{L_MARK}</th>
            <!-- ENDIF -->
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN log -->
        <!-- IF log.S_ROW_COUNT is even -->
        <tr class="row1"><!-- ELSE -->
        <tr class="row2"><!-- ENDIF -->
            <td>
                {log.USERNAME}
                <!-- IF log.REPORTEE_USERNAME -->
                <br/>&raquo; {log.REPORTEE_USERNAME}
                <!-- ENDIF -->
            </td>
            <td style="text-align: center;">{log.IP}</td>
            <td style="text-align: center;">{log.DATE}</td>
            <td>{log.ACTION}<!-- IF log.DATA --><br/><span>{log.DATA}</span><!-- ENDIF --></td>
            <!-- IF S_CLEARLOGS -->
            <td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{log.ID}"/></td>
            <!-- ENDIF -->
        </tr>
        <!-- END log -->
        </tbody>
    </table>

    <!-- IF PAGINATION -->
    <div class="pagination">
        <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{S_ON_PAGE}</a> &bull;
        <span>{PAGINATION}</span>
    </div>
    <!-- ENDIF -->

    <!-- ELSE -->
    <div class="errorbox">
        <p>{L_NO_ENTRIES}</p>
    </div>
    <!-- ENDIF -->

    <fieldset class="display-options">
        {L_DISPLAY_LOG}: &nbsp;{S_LIMIT_DAYS}&nbsp;{L_SORT_BY}: {S_SORT_KEY} {S_SORT_DIR}
        <input class="button2" type="submit" value="{L_GO}" name="sort"/>
        {S_FORM_TOKEN}
    </fieldset>
    <hr/>

    <!-- IF S_SHOW_FORUMS -->
    <fieldset class="quick">
        {L_SELECT_FORUM}: <select name="f"
                                  onchange="if(this.options[this.selectedIndex].value != -1){ this.form.submit(); }">{S_FORUM_BOX}</select>
        <input class="button2" type="submit" value="{L_GO}"/>
    </fieldset>
    <!-- ENDIF -->

    <!-- IF .log and S_CLEARLOGS -->
    <fieldset class="quick">
        <input class="button2" type="submit" name="delall" value="{L_DELETE_ALL}"/>&nbsp;
        <input class="button2" type="submit" name="delmarked" value="{L_DELETE_MARKED}"/><br/>
        <p class="small"><a href="#" onclick="marklist('list', 'mark', true); return false;">{L_MARK_ALL}</a> &bull; <a
                href="#" onclick="marklist('list', 'mark', false); return false;">{L_UNMARK_ALL}</a></p>
    </fieldset>
    <!-- ENDIF -->

</form>

<!-- INCLUDE overall_footer.html -->
