<!-- INCLUDE overall_header.html -->

<form id="confirm" method="post" action="{S_CONFIRM_ACTION}">
    <div class="errorbox">
        <h3>{L_WARNING}</h3>
        <p>{MESSAGE_TEXT}</p>
    </div>
    <fieldset>


        {S_HIDDEN_FIELDS}

        <div style="text-align: center;">
            <input type="submit" name="confirm" value="{L_YES}" class="button2"/>&nbsp;
            <input type="submit" name="cancel" value="{L_CANCEL}" class="button2"/>
        </div>

    </fieldset>

</form>

<!-- INCLUDE overall_footer.html -->
