<!-- INCLUDE overall_header.html -->

<form id="confirm" method="post" action="{S_CONFIRM_ACTION}">

    <fieldset>
        <h1>{MESSAGE_TITLE}</h1>
        <p>{MESSAGE_TEXT}</p>

        {S_HIDDEN_FIELDS}

        <div style="text-align: center;">
            <input type="submit" name="confirm" value="{L_YES}" class="button2"/>&nbsp;
            <input type="submit" name="cancel" value="{L_NO}" class="button2"/>
        </div>

    </fieldset>

</form>

<!-- INCLUDE overall_footer.html -->
