<!-- INCLUDE simple_header.html -->

<div style="background-color: #fff; padding: 10px; margin-top: 10px;" class="permissions">

    <!-- IF U_BACK --><a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a><!-- ENDIF -->

    <h3>{L_TRACE_FOR}: {PERMISSION_USERNAME} / <!-- IF FORUM_NAME -->{FORUM_NAME} / <!-- ENDIF -->{PERMISSION} </h3>

    <br/>

    <table cellspacing="1" class="type1">
        <thead>
        <tr>
            <th>{L_TRACE_WHO}</th>
            <th style="width: 50px;">{L_ACL_SETTING}</th>
            <th style="width: 50px;">{L_TRACE_TOTAL}</th>
            <th>{L_INFORMATION}</th>
        </tr>
        </thead>
        <tbody>
        <!-- BEGIN trace -->
        <!-- IF trace.S_ROW_COUNT is even -->
        <tr class="row4"><!-- ELSE -->
        <tr class="row3"><!-- ENDIF -->
            <td style="white-space: nowrap;"><strong>{trace.WHO}</strong></td>

            <!-- IF trace.S_SETTING_NEVER -->
            <td class="never">{L_ACL_NEVER}</td>
            <!-- ELSEIF trace.S_SETTING_YES -->
            <td class="yes">{L_ACL_YES}</td>
            <!-- ELSE -->
            <td class="no">{L_ACL_NO}</td>
            <!-- ENDIF -->

            <!-- IF trace.S_TOTAL_NEVER -->
            <td class="never">{L_ACL_NEVER}</td>
            <!-- ELSEIF trace.S_TOTAL_YES -->
            <td class="yes">{L_ACL_YES}</td>
            <!-- ELSE -->
            <td class="no">{L_ACL_NO}</td>
            <!-- ENDIF -->

            <td>{trace.INFORMATION}</td>
        </tr>
        <!-- END trace -->
        <tr class="row2">
            <td style="white-space: nowrap;"><strong>{L_TRACE_RESULT}</strong></td>
            <td colspan="2" style="text-align: center;"
                class="<!-- IF S_RESULT_NEVER -->never<!-- ELSEIF S_RESULT_YES -->yes<!-- ELSE -->no<!-- ENDIF -->">
                <!-- IF S_RESULT_NEVER -->{L_ACL_NEVER}<!-- ELSEIF S_RESULT_YES --> {L_ACL_YES}<!-- ELSE --> {L_ACL_NO}
                <!-- ENDIF -->
            </td>
            <td>{L_RESULTING_PERMISSION}</td>
        </tr>
        </tbody>
    </table>

    <br/>

</div>

<!-- INCLUDE simple_footer.html -->
